<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="InheritanceOneServiceWithTwoEndpoints_Service.CTextService" behaviorConfiguration="MEX">
        <endpoint address="http://localhost:8001/SimpleTextService" binding="wsHttpBinding" contract="InheritanceOneServiceWithTwoEndpoints_Service.ISimpleTextOperations">
        </endpoint>

        <endpoint address="http://localhost:8002/ComplexTextService" binding="wsHttpBinding" contract="InheritanceOneServiceWithTwoEndpoints_Service.IComplexTextContract">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MEX">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8000/MEX"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>