@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			Go to [<a asp-controller="APINameClient" asp-action="TestGetNames">TEST GET NAMES in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestGetName1">TEST GET NAME 1 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestGetName2">TEST GET NAME 2 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestPostName">TEST POST in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestPutName1">TEST PUT NAME 1 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestPutName2">TEST PUT NAME 2 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestPatchName1">TEST PATCH NAME 1 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestPatchName2">TEST PATCH NAME 2 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestDeleteName1">TEST DELETE NAME 1 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestDeleteName2">TEST DELETE NAME 2 in API CONTROLLER !</a>]
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-controller="APIContentNegotiationClient" asp-action="TestReturnString">CONTENT NEGOTIATION - RETURN [string] !</a>]
			<br/>
			Go to [<a asp-controller="APIContentNegotiationClient" asp-action="TestReturnInt">CONTENT NEGOTIATION - RETURN [int] !</a>]
			<br/>
			Go to [<a asp-controller="APIContentNegotiationClient" asp-action="TestReturnName">CONTENT NEGOTIATION - RETURN [CName] !</a>]
			<br/>
			Go to [<a asp-controller="APIContentNegotiationClient" asp-action="TestReturnNameAcceptXML">CONTENT NEGOTIATION - RETURN [CName] ACCEPT [xml] !</a>]
			<br/>
			Go to [<a asp-controller="APIContentNegotiationClient" asp-action="TestReturnNameProducesJSONAcceptJSON">CONTENT NEGOTIATION - RETURN [CName] PRODUCES [json] ACCEPT [json] !</a>]
			<br/>
			Go to [<a asp-controller="APIContentNegotiationClient" asp-action="TestReturnNameProducesJSONAcceptXML">CONTENT NEGOTIATION - RETURN [CName] PRODUCES [json] ACCEPT [xml] !</a>]
			<br/>
			Go to [<a asp-controller="APIContentNegotiationClient" asp-action="TestReturnNameProducesXMLAcceptJSON">CONTENT NEGOTIATION - RETURN [CName] PRODUCES [xml] ACCEPT [json] !</a>]
			<br/>
			Go to [<a asp-controller="APIContentNegotiationClient" asp-action="TestReturnNameProducesXMLAcceptXML">CONTENT NEGOTIATION - RETURN [CName] PRODUCES [xml] ACCEPT [xml] !</a>]
			<br/>
			Go to [<a asp-controller="APIContentNegotiationClient" asp-action="TestReturnNameFormatThroughRoute">CONTENT NEGOTIATION - FORMAT through ROUTE !</a>]
			<br/>
			Go to [<a asp-controller="APIContentNegotiationClient" asp-action="TestReturnNameFormatThroughQueryString">CONTENT NEGOTIATION - FORMAT through QUERY STRING !</a>]
			<br/>
			Go to [<a asp-controller="APIContentNegotiationClient" asp-action="TestReceiveJSON">CONTENT NEGOTIATION - HTTP POST sending JSON !</a>]
			<br/>
			Go to [<a asp-controller="APIContentNegotiationClient" asp-action="TestReceiveXML">CONTENT NEGOTIATION - HTTP POST sending XML !</a>]
		</div>
	</div>
</body>
</html>