@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Tag Helpers</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci TAG HELPER. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseDivTagHelper">Show VIEW using DIV TAG HELPER !</a>] !
			<br/>
			<!-- !!! Zobrazi sa VIEW pouzivajuci ASYNCHRONNY TAG HELPER. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseAsynchronousDivTagHelper">Show VIEW using ASYNCHRONOUS DIV TAG HELPER !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci TAG HELPER, ktory ma zmeneny SCOPE. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseScope1TagHelper">Show VIEW using SCOPED TAG HELPER 1 !</a>] !
			<br/>
			<!-- !!! Zobrazi sa VIEW pouzivajuci TAG HELPER, ktory ma zmeneny SCOPE. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseScope2TagHelper">Show VIEW using SCOPED TAG HELPER 2 !</a>] !
			<br/>
			<!-- !!! Zobrazi sa VIEW pouzivajuci TAG HELPER, ktory ma zmeneny SCOPE. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseScope3TagHelper">Show VIEW using SCOPED TAG HELPER 3 !</a>] !
			<br/>
			<!-- !!! Zobrazi sa VIEW pouzivajuci TAG HELPER, ktory ma zmeneny SCOPE. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseScope4TagHelper">Show VIEW using SCOPED TAG HELPER 4 !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci TAG HELPERS, ktore maju definovane CUSTOM ORDERS. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseOrderTagHelper">Show VIEW using ORDERED TAG HELPERS !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci TAG HELPER, ktory nahradzuje CONTENT HTML ELEMENT. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseContentReplacingTagHelper">Show VIEW using CONTENT REPLACING TAG HELPER !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora pouziva CUSTOM TAG HELPER. -->
			Go to [<a href="http://localhost:50000/UseCustomTagHelper">Show RAZOR PAGE using CUSTOM TAG HELPER !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci TAG HELPER, ktory nahradzuje CUSTOM HTML ELEMENT za STANDARD HTML ELEMENT. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseCustomElementTagHelper">Show VIEW using CUSTOM HTML ELEMENT !</a>] !
			<br/>
			<!-- !!! Zobrazi sa VIEW pouzivajuci TAG HELPER, ktory pridava HTML ELEMENTS a modifikuje CONTENT. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseElementAndContentModifyingTagHelper">Show VIEW adding HTML ELEMENTS and modifying CONTENT !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci TAG HELPER, ktory pouziva VIEW CONTEXT. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseViewContextTagHelper">Show VIEW using VIEW CONTEXT !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci TAG HELPER, ktory vyuziva MODEL EXPRESSIONS. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseModelExpressionTagHelper">Show VIEW using MODEL EXPRESSIONS !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE pouzivajuci TAG HELPER, ktory vyuziva MODEL EXPRESSIONS. -->
			Go to [<a href="http://localhost:50000/UseRazorPageModelExpressionTagHelper">Show RAZOR PAGE using MODEL EXPRESSIONS !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci TAG HELPER, ktory vyuziva COORDINATION medzi TAG HELPER aplikovany na PARENT HTML ELEMENT a TAG HELPER aplikovany na CHILD HTML ELEMENT. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseCoordinatingTagHelper">Show VIEW using TAG HELPER COORDINATION !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci TAG HELPER, ktory vyuziva SUPPRESS OUTPUT. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseSuppressOutputTagHelper">Show VIEW using SUPPRESS OUTPUT !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci TAG HELPER COMPONENT. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseTagHelperComponent">Show VIEW using TAG HELPER COMPONENT !</a>] !
			<br/>
			<!-- !!! Zobrazi sa VIEW pouzivajuci TAG HELPER COMPONENT s TAG HELPER COMPONENT TAG HELPER. -->
			Go to [<a asp-controller="MyTagHelpers" asp-action="UseTagHelperComponentTagHelper">Show VIEW using TAG HELPER COMPONENT TAG HELPER !</a>] !
		</div>
	</div>
</body>
</html>