<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Test.CTestService"
               behaviorConfiguration="ServiceBehavior">
        <endpoint address="net.tcp://localhost:9000"
                  binding="netTcpBinding"
                  contract="Test.ITestService"
                  bindingConfiguration="EndpointBinding">
        </endpoint>
      </service>
    </services>

    <client>
      <endpoint name="Proxy"
                address="net.tcp://localhost:9000"
                binding="netTcpBinding"
                contract="Test.ITestService"
                bindingConfiguration="EndpointBinding">
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="EndpointBinding">
          <security mode="Message">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceCredentials>
            <serviceCertificate findValue="TestCertificate"
                                storeLocation="LocalMachine"
                                storeName="TrustedPeople"
                                x509FindType="FindBySubjectName"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>