@{
	Layout=null;
}

@using TestingApplications.Models

@model IEnumerable<CProduct>

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
    <ul>
        @foreach (CProduct Product in Model)
		{
            <li>NAME [@Product.Name] PRICE [@Product.Price] !</li>
        }
    </ul>		
	</div>
</body>
</html>