<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MetadataMEXService.CToUpperService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8001/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="MetadataMEXService.IToUpperService">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>