@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci VIEW BAG. -->
			Go to [<a asp-controller="Test" asp-action="UseViewBag">Show VIEW using VIEW BAG !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci TEMP DATA. -->
			Go to [<a asp-controller="Test" asp-action="UseTempDataEdit">Show VIEW using TEMP DATA !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci jednoduchy LAYOUT. -->
			Go to [<a asp-controller="Layouts" asp-action="ShowSimpleLayoutView">Show VIEW using SIMPLE LAYOUT !</a>]
			<br/>
			<!-- !!! Zobrazi sa VIEW pouzivajuci DEFAULT LAYOUT. -->
			Go to [<a asp-controller="Layouts" asp-action="ShowUsingDefaultLayoutView">Show VIEW using DEFAULT LAYOUT !</a>]
			<br/>
			<!-- !!! Zobrazi sa VIEW pouzivajuci OVERRIDEN LAYOUT. -->
			Go to [<a asp-controller="Layouts" asp-action="ShowOverrideDefaultLayoutView">Show VIEW using OVERRIDEN LAYOUT !</a>]
			<br/>
			<!-- !!! Zobrazi sa VIEW pouzivajuci LAYOUT SECTIONS. -->
			Go to [<a asp-controller="Layouts" asp-action="ShowUsingSections1LayoutView">Show VIEW using LAYOUT SECTIONS 1 !</a>]
			<br/>
			<!-- !!! Zobrazi sa VIEW pouzivajuci LAYOUT SECTIONS. -->
			Go to [<a asp-controller="Layouts" asp-action="ShowUsingSections2LayoutView">Show VIEW using LAYOUT SECTIONS 2 !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci PARTIAL VIEWS. -->
			Go to [<a asp-controller="MyPartialView" asp-action="ShowNames1">Show VIEW using PARTIAL VIEWS 1 !</a>]
			<br/>
			<!-- !!! Zobrazi sa VIEW pouzivajuci PARTIAL VIEWS. -->
			Go to [<a asp-controller="MyPartialView" asp-action="ShowNames2">Show VIEW using PARTIAL VIEWS 2 !</a>]
			<br/>
			<!-- !!! Zobrazi sa VIEW pouzivajuci PARTIAL VIEWS. -->
			Go to [<a asp-controller="MyPartialViewWithFor" asp-action="ShowNames1">Show VIEW using PARTIAL VIEWS with FOR 1 !</a>]
			<br/>
			<!-- !!! Zobrazi sa VIEW pouzivajuci PARTIAL VIEWS. -->
			Go to [<a asp-controller="MyPartialViewWithFor" asp-action="ShowNames2">Show VIEW using PARTIAL VIEWS with FOR 2 !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci TEMPLATED DELEGATES. -->
			Go to [<a asp-controller="MyTemplatedDelegates" asp-action="ShowName">Show VIEW using TEMPLATED DELEGATES !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW pouzivajuci HTML ENCODINGS. -->
			Go to [<a asp-controller="Encoding" asp-action="ShowHtmlEncodings">Show VIEW using HTML ENCODINGS !</a>]
			<br/>
			<!-- !!! Zobrazi sa VIEW pouzivajuci JSON ENCODINGS. -->
			Go to [<a asp-controller="Encoding" asp-action="ShowJsonEncodings">Show VIEW using JSON ENCODINGS !</a>]
		</div>
	</div>
</body>
</html>