@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			Go to [<a asp-controller="APINameClient" asp-action="TestGetNames">TEST GET NAMES in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestGetName1">TEST GET NAME 1 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestGetName2">TEST GET NAME 2 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestGetName3">TEST GET NAME 3 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestPostName">TEST POST in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestPutName1">TEST PUT NAME 1 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestPutName2">TEST PUT NAME 2 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestPatchName1">TEST PATCH NAME 1 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestPatchName2">TEST PATCH NAME 2 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestDeleteName1">TEST DELETE NAME 1 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APINameClient" asp-action="TestDeleteName2">TEST DELETE NAME 2 in API CONTROLLER !</a>]
		</div>

		<div class="INNER_BOX">
			Go to [<a href="http://localhost:50000/swagger/v1/swagger.json">Show SWAGGER JSON FILE !</a>] !
			<br/>
			Go to [<a href="http://localhost:50000/swagger">Show SWAGGER UI !</a>] !
		</div>
	</div>
</body>
</html>