@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- Spusti sa ENDPOINT, ktory generuje UNHANDLED EXCEPTION. -->
			Go to [<a href="http://localhost:50000/ThrowUnhandledExcepion">Throw UNHANDLED EXCEPTION !</a>]
		</div>
	</div>
</body>
</html>