body
{
}

/* Aplikuje sa na VSETKY <p>. */
p
{
	margin:20px;
	color:Green;
	border:5px;
}

/* Aplikuje sa na ELEMENT s hondotou 'class' ATTRIBUTE 'MySuperClass'. */
.MySuperClass
{
	font-size:x-large;
}