<?xml version="1.0" encoding="utf-8" ?>

<!-- V CONTRACT musi byt nastavene ProtectionLevel.EncryptAndSign. -->

<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="Proxy"
                address="net.msmq://localhost/private/PrintService"
                binding="netMsmqBinding"
                contract="SecurityWithPrivateQueuesService.IPrintService"
                bindingConfiguration="BC"
                behaviorConfiguration="SBH">
        <identity>
          <dns value="TestMS"/>
        </identity>
      </endpoint>
    </client>

    <bindings>
      <netMsmqBinding>
        <binding name="BC">
          <security mode="Message">
            <message clientCredentialType="UserName"/>

            <!-- Toto bezi OK. -->
            <!--message clientCredentialType="None"/-->

            <!-- Toto nefunguje pri PRIVATE QUEUES. -->
            <!--message clientCredentialType="Windows"/-->
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="SBH">
          <clientCredentials>
            <serviceCertificate>
              <!-- !!! Kedze pouzivam MESSAGE SECURITY (TRANSPORT SECURITY NEBEZI pre PRIVATE QUEUES), tak MUSIM zaregistrovat SERVICE CERTIFICATE. -->
              <defaultCertificate storeLocation="LocalMachine"
                                  storeName="TrustedPeople"
                                  x509FindType="FindBySubjectName"
                                  findValue="TestMS"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>