<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <!-- V TCP/IP VZDY EXISTUJE TRANSPORT SESSION. -->
      <endpoint name="TransportSessionEnabled" address="net.tcp://localhost:8001/Service" binding="netTcpBinding" contract="IncludeExceptionDetailInFaultsHost.IFaultTestService">
      </endpoint>

      <!-- V HTTP vypnem TRANSPORT SESSION, tym ze vypnem MESSAGE SECURITY a RELIABLE MESSAGING. -->
      <endpoint name="TransportSessionDisabled" address="http://localhost:9001/Service" binding="wsHttpBinding" contract="IncludeExceptionDetailInFaultsHost.IFaultTestService" bindingConfiguration="BC">
      </endpoint>
    </client>

    <bindings>
      <wsHttpBinding>
        <binding name="BC">
          <reliableSession enabled="false"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>