@page

<!-- !!!!! Tato RAZOR PAGE NEPOUZIVA RAZOR PAGE MODEL OBJECT. -->

@{
    Layout = null;
}

<!-- !!! KEYWORD INJECT umoznuje vykonat na pozadi DEPENDENCY INJECTION. -->
@inject INameProvider NameProvider

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
    <title>Show Names</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>ID</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Age</th>
			</tr>

			<!-- !!! Vola sa METHOD [CName[] GetNames()] na ziskanie vsetkych NAMES. -->
			@foreach(CName Name in NameProvider.GetNames())
			{
				<tr>
					<th>
						@Name.ID
					</th>
						
					<td>
						[@Name.FirstName]
					</td>
						
					<td>
						[@Name.LastName]
					</td>
						
					<td>
						[@Name.Age] !
					</td>
				</tr>
			}
		</table>
	</div>
</body>
</html>