@page

<!-- !!! Ako MODEL sa nastavi RAZOR PAGE MODEL CLASS. -->
@model UsingRazorPages.Pages.ShowName2Model

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
    <title>Show Name 2</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>ID</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Age</th>
			</tr>

			<tr>
				<th>
					@Model.Name.ID
				</th>
						
				<td>
					[@Model.Name.FirstName]
				</td>
						
				<td>
					[@Model.Name.LastName]
				</td>
						
				<td>
					[@Model.Name.Age] !
				</td>
			</tr>
		</table>
	</div>
</body>
</html>