@page

<!-- !!! Ako MODEL sa nastavi RAZOR PAGE MODEL CLASS. -->
@model ShowNamesGetAndPost

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
    <title>Show Names</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>ID</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Age</th>
			</tr>

			@foreach(CName Name in @Model.Names)
			{
				<tr>
					<th>
						@Name.ID
					</th>
						
					<td>
						[@Name.FirstName]
					</td>
						
					<td>
						[@Name.LastName]
					</td>
						
					<td>
						[@Name.Age] !
					</td>
				</tr>
			}
		</table>

		<!-- !!!!! FORM v RAZOR WEB PAGES NEMA definvanu ATTRIBUTE 'asp-action'. -->
		<form method="post">
			<!-- !!!!! Tento CODE je NUTNY, aby presiel POST. Bez tohto CODE METHOD [IActionResult OnPost(string FirstName, string LastName, int Age)] NEBOLA VOBEC ZAVOLANA. -->
			@Html.AntiForgeryToken()

			<div class="form-group">
				<label for="FirstName">First Name:</label>
				<input name="FirstName" class="form-control" />
			</div>

			<div class="form-group">
				<label for="LastName">Last Name:</label>
				<input name="LastName" class="form-control" />
			</div>

			<div class="form-group">
				<label for="Age">Age:</label>
				<input name="Age" class="form-control" />
			</div>

			<button class="btn btn-primary" type="submit">Submit</button>
		</form>
	</div>
</body>
</html>