@page "NOT_FOUND"

<!-- !!! Ako MODEL sa nastavi RAZOR PAGE MODEL CLASS. -->
@model ShowNameNameNotFound

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
    <title>Show Name</title>
</head>
<body>
	<div class="OUTER_BOX">
		NAME NOT FOUND !!!
	</div>
</body>
</html>