@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<!-- !!!!! Tento JAVA SCRIPT FILE MUSI byt VZDY PRVY ! -->
	<script asp-src-include="~/MyScripts/Logger.js"></script>
	<!-- !!!!! Na HTTP ATTRIBUTE [asp-src-include] a HTTP ATTRIBUTE [asp-src-exclude] sa aplikuje TAG HELPER CLASS [UrlResolutionTagHelper], ktora konvertuje RELATIVE URLs zacinajuce CHARACTER '~' na ABSOLUTE URLs. -->
	<script asp-src-include="~/MyScripts/TestFileExcluding/File*.js" asp-src-exclude="~/MyScripts/TestFileExcluding/FileYYY*.js"></script>
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			START of LOG.
		</div>

		<div class="INNER_BOX" id="LOG">
		</div>

		<div class="INNER_BOX">
			END of LOG.
		</div>

		<div class="INNER_BOX">
			<!-- !!!!! Na HTTP ATTRIBUTE [src] sa aplikuje TAG HELPER CLASS [UrlResolutionTagHelper], ktora konvertuje RELATIVE URLs zacinajuce CHARACTER '~' na ABSOLUTE URLs. -->
			<img src="~/MyImages/City.png" />
		</div>
	</div>
</body>
</html>