<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="/StaticFiles/ClientLibraries/FontAwesome/css/all.css" />
    <title>Sports Store</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="bg-dark text-white p-2">
			<div class="container-fluid">
				<div class="row">
					<div class="col navbar-brand">SPORTS STORE</div>
					<div class="col-6 text-right">
						<vc:c-cart-summary />
					</div>
				</div>
			</div>
		</div>
		<div class="row m-1 p-1">
			<div id="categories" class="col-3">
				<vc:c-navigation-menu />
				<div class="INNER_BOX">
					<a href="/Admin">Go to Admin PAGE !</a>
				</div>
			</div>
			<div class="col-9">
				@RenderBody()
			</div>
		</div>
    </div>
</body>
</html>