@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			Go to [<a asp-page="/UserManagement/PageViewUsers">Edit USERS !</a>] !
			<br/>
			Go to [<a asp-page="/RoleManagement/PageViewRoles">Edit ROLES !</a>] !
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-page="/Authentication/Test">Test AUTHENTICATION and AUTHORIZATION !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktory je AUTHORIZED pre VSETKYCH USERS. -->
			Go to [<a asp-page="/Blazor/PageAllowAnonymousCounterComponent">Use BLAZOR COMPONENT accessible to UNAUTHORIZED USERS !</a>] !
			<br/>
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktory je AUTHORIZED pre USERS v ROLE 'Administrators'. -->
			Go to [<a href="http://localhost:50000/BlazorAllowAdministratorsCounterComponent">Use BLAZOR COMPONENT accessible to USERS in ROLE 'Administrators' !</a>] !
			<br/>
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktory je AUTHORIZED pre USERS v ROLE 'Users'. -->
			Go to [<a href="http://localhost:50000/BlazorAllowUsersCounterComponent">Use BLAZOR COMPONENT accessible to USERS in ROLE 'Users' !</a>] !
			<br/>
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktory zobrazuje HTML CONTENT na zaklade toho, ktory USER je prihlaseny. -->
			Go to [<a href="http://localhost:50000/BlazorAuthorizeViewCounterComponent">Use BLAZOR COMPONENT using AUTHORIZE VIEW BLAZOR COMPONENT !</a>] !
		</div>
	</div>
</body>
</html>