@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! LINK vola ACTION METHOD CONTROLLER, ktory aplikuje CUSTOM CODE a NIE FILTER na verifikaciu ci HTTP REQUEST ide cez HTTPS PROTOCOL. -->
			Go to [<a asp-controller="FilterNoFilter" asp-action="NoFilter">NO FILTER just CODE is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD CONTROLLER, ktory aplikuje CUSTOM FILTER na verifikaciu ci HTTP REQUEST ide cez HTTPS PROTOCOL. -->
			Go to [<a asp-controller="FilterNoFilter" asp-action="Filter">FILTER is APPLIED !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany CUSTOM FILTER sluziaci na verifikaciu ci HTTP REQUEST ide cez HTTPS PROTOCOL. -->
			Go to [<a asp-controller="ScopeActionMethod" asp-action="Filter">ACTION METHOD FILTER is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD CONTROLLER, na ktory je aplikovany CUSTOM FILTER sluziaci na verifikaciu ci HTTP REQUEST ide cez HTTPS PROTOCOL. -->
			Go to [<a asp-controller="ScopeController" asp-action="Filter">CONTROLLER FILTER is APPLIED !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK vola RAZOR PAGE, na ktory je aplikovany CUSTOM FILTER sluziaci na verifikaciu ci HTTP REQUEST ide cez HTTPS PROTOCOL. -->
			Go to [<a asp-page="/PageFilterOnRazorPage">RAZOR PAGE FILTER is APPLIED !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany SYNCHRONOUS AUTHORIZATION FILTER. -->
			Go to [<a asp-controller="AuthorizationFilter" asp-action="Synchronous">SYNCHRONOUS AUTHORIZATION FILTER is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany ASYNCHRONOUS AUTHORIZATION FILTER. -->
			Go to [<a asp-controller="AuthorizationFilter" asp-action="Asynchronous">ASYNCHRONOUS AUTHORIZATION FILTER is APPLIED !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany SYNCHRONOUS RESOURCE FILTER. -->
			Go to [<a asp-controller="ResourceFilter" asp-action="Synchronous">SYNCHRONOUS RESOURCE FILTER is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany ASYNCHRONOUS RESOURCE FILTER. -->
			Go to [<a asp-controller="ResourceFilter" asp-action="Asynchronous">ASYNCHRONOUS RESOURCE FILTER is APPLIED !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany SYNCHRONOUS ACTION FILTER. -->
			Go to [<a asp-controller="ActionFilter" asp-action="Synchronous">SYNCHRONOUS ACTION FILTER is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany ASYNCHRONOUS ACTION FILTER. -->
			Go to [<a asp-controller="ActionFilter" asp-action="Asynchronous">ASYNCHRONOUS ACTION FILTER is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD CONTROLLER, ktory priamo implementuje ACTION FILTER. -->
			Go to [<a asp-controller="ControllerActionFilter" asp-action="MyActionMethod">CONTROLLER ACTION FILTER is APPLIED !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK vola RAZOR PAGE HANDLER, na ktory je aplikovany SYNCHRONOUS PAGE FILTER. -->
			Go to [<a asp-page="/PageApplyPageFilterSynchronous">SYNCHRONOUS PAGE FILTER is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola RAZOR PAGE HANDLER, na ktory je aplikovany ASYNCHRONOUS PAGE FILTER. -->
			Go to [<a asp-page="/PageApplyPageFilterAsynchronous">ASYNCHRONOUS PAGE FILTER is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola RAZOR PAGE HANDLER RAZOR PAGE, ktory priamo implementuje PAGE FILTER. -->
			Go to [<a asp-page="/PagePageFilterPage">RAZOR PAGE PAGE FILTER is APPLIED !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany SYNCHRONOUS RESULT FILTER. -->
			Go to [<a asp-controller="ResultFilter" asp-action="Synchronous">SYNCHRONOUS RESULT FILTER is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany ASYNCHRONOUS RESULT FILTER. -->
			Go to [<a asp-controller="ResultFilter" asp-action="Asynchronous">ASYNCHRONOUS RESULT FILTER is APPLIED !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany SYNCHRONOUS ALWAYS RESULT FILTER, pricom ACTION METHOD nehadze EXCEPTION. -->
			Go to [<a asp-controller="AlwaysResultFilter" asp-action="SynchronousNoException">SYNCHRONOUS ALWAYS RESULT FILTER is APPLIED - NO EXCEPTION in ACTION METHOD !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany ASYNCHRONOUS ALWAYS RESULT FILTER, pricom ACTION METHOD nehadze EXCEPTION. -->
			Go to [<a asp-controller="AlwaysResultFilter" asp-action="AsynchronousNoException">ASYNCHRONOUS ALWAYS RESULT FILTER is APPLIED - NO EXCEPTION in ACTION METHOD !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany SYNCHRONOUS ALWAYS RESULT FILTER, pricom ACTION METHOD hadze EXCEPTION. -->
			Go to [<a asp-controller="AlwaysResultFilter" asp-action="SynchronousWithException">SYNCHRONOUS ALWAYS RESULT FILTER is APPLIED - NO EXCEPTION in ACTION METHOD !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany ASYNCHRONOUS ALWAYS RESULT FILTE, pricom ACTION METHOD hadze EXCEPTION. -->
			Go to [<a asp-controller="AlwaysResultFilter" asp-action="AsynchronousWithException">ASYNCHRONOUS ALWAYS RESULT FILTER is APPLIED - NO EXCEPTION in ACTION METHOD !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany kombinovany SYNCHRONNY ACTION a RESULT FILTER. -->
			Go to [<a asp-controller="ActionAndResultFilter" asp-action="Synchronous">SYNCHRONOUS ACTION and RESULT FILTER is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany kombinovany ASYNCHRONNY ACTION a RESULT FILTER. -->
			Go to [<a asp-controller="ActionAndResultFilter" asp-action="Asynchronous">ASYNCHRONOUS ACTION and RESULT FILTER is APPLIED !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany SYNCHRONOUS EXCEPTION FILTER. -->
			Go to [<a asp-controller="ExceptionFilter" asp-action="Synchronous">SYNCHRONOUS EXCEPTION FILTER is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany ASYNCHRONOUS EXCEPTION FILTER. -->
			Go to [<a asp-controller="ExceptionFilter" asp-action="Asynchronous">ASYNCHRONOUS EXCEPTION FILTER is APPLIED !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany SYNCHRONOUS MULTI FILTER. -->
			Go to [<a asp-controller="MultiFilter" asp-action="SynchronousNoException">SYNCHRONOUS MULTI FILTER is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany SYNCHRONOUS MULTI FILTER. ACTION METHOD hodi EXCEPTION. -->
			Go to [<a asp-controller="MultiFilter" asp-action="SynchronousException">SYNCHRONOUS MULTI FILTER with EXCEPTION is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany SYNCHRONOUS MULTI FILTER. ACTION METHOD hodi EXCEPTION, no ACTION FILTER ju spracuje. -->
			Go to [<a asp-controller="MultiFilter" asp-action="SynchronousExceptionWithHandlingInActionFilter">SYNCHRONOUS MULTI FILTER with EXCEPTION that is HANDLED in ACTION FILTER is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany SYNCHRONOUS MULTI FILTER. ACTION METHOD hodi EXCEPTION, no EXCEPTION FILTER ju spracuje. -->
			Go to [<a asp-controller="MultiFilter" asp-action="SynchronousExceptionWithHandlingInExceptionFilter">SYNCHRONOUS MULTI FILTER with EXCEPTION that is HANDLED in EXCEPTION FILTER is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany ASYNCHRONOUS MULTI FILTER. -->
			Go to [<a asp-controller="MultiFilter" asp-action="AsynchronousNoException">ASYNCHRONOUS MULTI FILTER is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany ASYNCHRONOUS MULTI FILTER. ACTION METHOD hodi EXCEPTION. -->
			Go to [<a asp-controller="MultiFilter" asp-action="AsynchronousException">ASYNCHRONOUS MULTI FILTER with EXCEPTION is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany ASYNCHRONOUS MULTI FILTER. ACTION METHOD hodi EXCEPTION, no ACTION FILTER ju spracuje. -->
			Go to [<a asp-controller="MultiFilter" asp-action="AsynchronousExceptionWithHandlingInActionFilter">ASYNCHRONOUS MULTI FILTER with EXCEPTION that is HANDLED in ACTION FILTER is APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovany ASYNCHRONOUS MULTI FILTER. ACTION METHOD hodi EXCEPTION, no EXCEPTION FILTER ju spracuje. -->
			Go to [<a asp-controller="MultiFilter" asp-action="AsynchronousExceptionWithHandlingInExceptionFilter">ASYNCHRONOUS MULTI FILTER with EXCEPTION that is HANDLED in EXCEPTION FILTER is APPLIED !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK vola ACTION METHOD, ktora demonstruje LIFETIME ATTRIBUTE FILTERS. -->
			Go to [<a asp-controller="InstanceLifetime" asp-action="MyActionMethod">LIFETIME ATTRIBUTE FILTERS is PRESENTED !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK vola ACTION METHOD, ktora demonstruje vytvorenie instancie FILTER cez FILTER FACTORY. -->
			Go to [<a asp-controller="CustomCreation" asp-action="MyActionMethod">FILTER CREATION by FILTER FACTORY is PRESENTED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, ktora demonstruje vytvorenie instancie FILTER cez SERVICE a FILTER FACTORY. -->
			Go to [<a asp-controller="ServiceCreation" asp-action="MyActionMethod">FILTER CREATION by SERVICE using FILTER FACTORY is PRESENTED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, ktora demonstruje pouzitie vytvorenie FILTERS pomocou ATTRIBUTE [TypeFilterAttribute]. -->
			Go to [<a asp-controller="FilterFactory" asp-action="ActionMethodTypeFilterAttribute">FILTER created by ATTRIBUTE [TypeFilterAttribute] !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, ktora demonstruje pouzitie vytvorenie FILTERS pomocou ATTRIBUTE [ServiceFilterAttribute]. -->
			Go to [<a asp-controller="FilterFactory" asp-action="ActionMethodServiceFilterAttribute">FILTER created by ATTRIBUTE [ServiceFilterAttribute] !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovanych viacero ACTION FILERS. FILTER NEIMPLEMENTUJE INTERFACE [IOrderedFilter]. -->
			Go to [<a asp-controller="OrderFilter1" asp-action="ActionMethodNoOrder">MULTIPLE ACTION FILTERS without ORDER PROPERTY SET are APPLIED !</a>] !
			<br/>
			<!-- !!! LINK vola ACTION METHOD, na ktoru je aplikovanych viacero ACTION FILERS. FILTER IMPLEMENTUJE INTERFACE [IOrderedFilter]. -->
			Go to [<a asp-controller="OrderFilter2" asp-action="ActionMethodWithOrder">MULTIPLE ACTION FILTERS with ORDER PROPERTY SET are APPLIED !</a>] !
		</div>
	</div>
</body>
</html>