@using ViewComponents.Model
@model CName[]

<!-- !!!!! PARTIAL VIEW pre VIEW COMPONENT 'ReturnValuePartialView4'. -->
<!-- !!!!! PARTIAL VIEW sa nachadza v DIRECTORY [Views/Shared/Components/ReturnValuePartialView4], aj ked VIEW COMPONENT je pouzivana z RAZOR PAGE, aby sa ukazalo, ze PARTIAL VIEWS mozu byt SHARED medzi VIEWS a RAZOR PAGES. -->

<div class="OUTER_BOX">
	<table class="table table-bordered table-striped">
		<tr>
			<th>ID</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Age</th>
		</tr>

		@foreach(CName Name in @Model)
		{
			<tr>
				<th>
					@Name.ID
				</th>
						
				<td>
					[@Name.FirstName]
				</td>
						
				<td>
					[@Name.LastName]
				</td>
						
				<td>
					[@Name.Age] !
				</td>
			</tr>
		}
	</table>
</div>