<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.msmq://localhost/private/PoisonTest"
                binding="netMsmqBinding"
                contract="TestPoisonMessageService.IPoisonMessageContract"
                bindingConfiguration="BC"
                name="MS">
      </endpoint>
    </client>

    <bindings>
      <netMsmqBinding>
        <!-- Binding ma VYPNUTY DEAD LETTER QUEUE, ale ZAPNUTY POISON QUEUE. -->
        <binding name="BC"
                 exactlyOnce="true"
                 durable="true"
                 deadLetterQueue="None"
                 receiveRetryCount="5"
                 maxRetryCycles="1"
                 retryCycleDelay="00:00:15"
                 receiveErrorHandling="Move">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>