@model CAdmin[]

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Admin</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th></th>
				<th>First name:</th>
				<th>Last name:</th>
				<th>Age:</th>
			</tr>

			@foreach(CAdmin Admin in @Model)
			{
				<tr>
					<td>
						Admin:
					</td>
						
					<td>
						[@Admin.FirstName]
					</td>
						
					<td>
						[@Admin.LastName]
					</td>
						
					<td>
						[@Admin.Age] !
					</td>
				</tr>
			}
		</table>
	</div>

	<div class="OUTER_BOX">
		<!-- !!! OUTGOING LINK NEMUSI mat nastavenu AREA, ak LINK odkazuje v ramci tej istej AREA. -->
		Go to [<a asp-controller="Home" asp-action="View1">ASP-Controller='Home' ASP-Action='View1' !</a>] !
		<br/>
		<!-- !!! OUTGOING LINK NEMUSI mat nastavenu AREA, ak LINK odkazuje v ramci tej istej AREA. -->
		Go to [<a asp-controller="Home" asp-action="View2">ASP-Controller='Home' ASP-Action='View2' !</a>] !
		<br/>
		<!-- !!! OUTGOING LINK MUSI mat nastavenu AREA, ak LINK odkazuje na inu AREA, alebo do MAIN APPLICATION. -->
		<!-- !!! Kedze LINK odkazuje na MAIN PAGE, tak AREA je nastavena na EMPTY VALUE. -->
		Go to [<a asp-area="" asp-controller="Home" asp-action="Index">ASP-Area='' ASP-Controller='Home' ASP-Action='Index' !</a>] !
	</div>
</body>
</html>