@model CResultData

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Result Data</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>Url:</th>

				<th>
					Value:
				</th>
			</tr>

			@foreach(KeyValuePair<string,string> KeyValue in @Model.Data)
			{
				<tr>
					<th>
						@KeyValue.Key
					</th>
						
					<td>
						[@KeyValue.Value] !
					</td>
				</tr>
			}
		</table>
	</div>
</body>
</html>