<!DOCTYPE html>
<!-- !!! Do HTML TAG je nutne vlozit ATTRIBUTE xmlns:th="http://www.thymeleaf.org", aby mohol byt pouzity TEMPLATE ENGINE [Thymeleaf]. -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
    	<meta charset="UTF-8">
    	<title>Home Page</title>
	</head>
	
	<body>
		<!-- !!! Pouzitie SYNTAX [${PARAMETER_NAME}] umoznuje vkladat DYNAMIC DATA s KEY 'PARAMETER_NAME' do HTML PAGE. -->
		<h1>Welcome
			<span th:style="'color:' + ${Color}" th:text="${UserName}"></span>
		!</h1>
	</body>
</html>