<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
    	<title>Index Page</title>
	</head>
	<body>
		<a href="http://localhost:8080/Home">Home !</a>
		<br/>	
		<a href="http://localhost:8080/QueryStringParameters?Name=Timmy_Anderson&Color=Green">QueryStringParameters - ALL PARAMETERS !</a>	
		<br/>	
		<a href="http://localhost:8080/QueryStringParameters?Name=Timmy_Anderson">QueryStringParameters - 1st PARAMETER !</a>	
		<br/>	
		<a href="http://localhost:8080/PathVariables1/Timmy_Anderson/Green">PathVariables1 - ALL PARAMETERS !</a>	
		<br/>	
		<a href="http://localhost:8080/PathVariables2/Timmy_Anderson/Green">PathVariables2 - ALL PARAMETERS !</a>	
		<br/>	
		<a href="http://localhost:8080/PathVariables2/Timmy_Anderson">PathVariables2 - 1st PARAMETER !</a>	
		<br/>	
		<a href="http://localhost:8080/UsingHttpVerbs">UsingHttpVerbs !</a>	
	</body>
</html>