<!DOCTYPE html>
<!-- !!! Do HTML TAG je nutne vlozit ATTRIBUTE xmlns:th="http://www.thymeleaf.org", aby mohol byt pouzity TEMPLATE ENGINE [Thymeleaf]. -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
    	<meta charset="UTF-8">
    	<title>Home Page</title>
	</head>
	
	<body>
        <h1>Persons</h1>
        
        <h2>View Persons</h2>

		<table>
			<tr>
				<th>FIRST NAME</th>			
				<th>LAST NAME</th>			
				<th>AGE</th>			
			</tr>

			<!-- !!! Pouziva sa THYMELEAF CONSTRUCT 'th:each' na iterovanie jednotlivymi ITMES v COLLECTION. -->
			<tr th:each="Person: ${Persons}" >
 				<td th:text="${Person.FirstName}"></td>   
                <td th:text="${Person.LastName}"></td>  				
                <td th:text="${Person.Age}"></td>  				
			</tr>
		</table>
		
		<h2>Add a Person using API 1</h2>
		
		<form action="/UsingHttpVerbs1" method="post">
		<!-- NAME sa MUSI zhodovat s nazvom PARAMETER ACTION METHOD.  -->
			Last Name: <input name="FirstName" type="text"></input>
			<br>
			<!-- NAME sa MUSI zhodovat s nazvom PARAMETER ACTION METHOD.  -->
			First Name: <input name="LastName" type="text"></input>
			<br>
			<!-- NAME sa MUSI zhodovat s nazvom PARAMETER ACTION METHOD.  -->
			Age: <input name="Age" type="number" step="any"></input>
			<br>
			<button type="submit">Add Person</button>
		</form>
		
		<h2>Add a Person using API 2</h2>
		
		<form action="/UsingHttpVerbs2" method="post">
			<!-- NAME sa MUSI zhodovat s nazvom PROPERTY TYPE 'CPerson'.  -->
			First Name: <input name="FirstName" type="text"></input>
			<br>
			<!-- NAME sa MUSI zhodovat s nazvom PROPERTY TYPE 'CPerson'.  -->
			Last Name: <input name="LastName" type="text"></input>
			<br>
			<!-- NAME sa MUSI zhodovat s nazvom PROPERTY TYPE 'CPerson'.  -->
			Age: <input name="Age" type="number" step="any"></input>
			<br>
			<button type="submit">Add Person</button>
		</form>
	</body>
</html>