<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8001/Service" binding="netTcpBinding" contract="CustomHeadersInConfigHost.IService" name="SE">
        <headers>
          <DeltaMK3>
            <Jenny Age="13">
              <Atreyu Age="12"/>
            </Jenny>
          </DeltaMK3>
        </headers>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>