<div class="OUTER_BOX">
	<!-- !!!!! HTML ELEMENT [Value] obsahuje NAZOV PROPERTY, ktorej VALUE sa prenasa do CHILD BLAZOR COMPONENT. -->
	<CascadingValue Name="ChildTheme" Value="Theme" IsFixed="false">
		<!-- !!!!! HTML ELEMENT [Value] obsahuje NAZOV PROPERTY, ktorej VALUE sa prenasa do CHILD BLAZOR COMPONENT. -->
		<!-- !!!!! Ak je treba preniest VIACERO VALUES cez HTML ELEMENT [<CascadingValue>], tak je ho NUTNE pouzit OPAKOVANE. -->
		<CascadingValue Name="ChildTextAlignment" Value="TextAlignment" IsFixed="false">
			<table class="table table-bordered table-striped">
				<tr>
					<td>
						<!-- !!! VALUE CASCADING PROPERTY 'Theme' sa zoberie z HTML ELEMENT [<CascadingValue>]. -->
						<CascadingParameterChild Text="Text 1" />
					</td>

					<td>
						<!-- !!! VALUE CASCADING PROPERTY 'Theme' sa zoberie z HTML ELEMENT [<CascadingValue>]. -->
						<CascadingParameterChild Text="Text 2" />
					</td>
				</tr>
			</table>
		</CascadingValue>
	</CascadingValue>
</div>

<div class="OUTER_BOX">
	<table class="table table-bordered table-striped">
		<tr>
			<td>
				<CustomBindingChild ValueName="Theme" Values="@GetThemes()" @bind-SelectedValue="Theme"></CustomBindingChild>
			</td>

			<td>
				<CustomBindingChild ValueName="Text alignment" Values="@GetTextAlignments()" @bind-SelectedValue="TextAlignment"></CustomBindingChild>
			</td>
		</tr>
	</table>
</div>