<div class="INNER_BOX">
	<label for="SelectValue">@ValueName:</label>
	<select class="form-control" name="SelectValue" value="@SelectedValue" @onchange="HandleChangeSelectValue">
		<option disabled selected>Select @ValueName</option>
		@foreach(string Value in Values)
		{
			<option value="@Value" selected="@(Value==SelectedValue)">
				@Value
			</option>
		}
	</select>
</div>