<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<label>Counter value [@Counter] !</label>
	</div>

	<button class="btn btn-primary" @onclick="IncrementCounter1">Increment counter (use ACTION)</button>
	<button class="btn btn-primary" @onclick="IncrementCounter2">Increment counter (use ACTION with StateHasChanged())</button>
	<button class="btn btn-primary" @onclick="IncrementCounter3">Increment counter (use EVENT CALLBACK)</button>
</div>