<div class="OUTER_BOX">
	@for(int Index=0;Index<NUMBER_OF_CHILD_COMPONENTS;Index++)
	{
		// !!!! Je treba pouzit TEMPORARY VARIABLE, inak bude VALUE 'Index' nastavena na VALUE 'NUMBER_OF_CHILD_COMPONENTS'.
		int														Temp=Index;

		<!-- !!! Pomocou KEYWORD [ref] sa uklada REFERENCIA na vytvorenu CHILD BLAZOR COMPONENT do PROPERTY PARENT BLAZOR COMPONENT. -->
		<!-- !!! V KEYWORD [ref] MUSI byt EXPRESSION do ktorej je mozne priradit instanciu TYPE 'RefReferenceChild'. ARRAY do ktoreho sa instancie TYPE 'RefReferenceChild' uz MUSI byt ALOKOVANE. -->
		<EventCallbacksChild CallbackAction="EventAction" CallbackActionWithStateHasChanged="EventActionWithStateHasChanged" CallbackEventCallback="EventEventCallback" @ref="ChildComponents[Temp]"></EventCallbacksChild>
	}
</div>

<div class="OUTER_BOX">
	TOTAL COUNTER: [@TotalCounter] !
</div>