<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<h5>SECTION 1</h5>

		<!-- !!! Zobrazi sa CONTENT SECTION 1. -->
		@if (Section1!=null)
		{
			@Section1
		}
	</div>

	<div class="INNER_BOX">
		<h5>SECTION 2</h5>

		<!-- !!! Zobrazi sa CONTENT SECTION 2. -->
		@if (Section2!=null)
		{
			@Section2
		}
	</div>

	<div class="INNER_BOX">
		<h5>SECTION 3</h5>

		<!-- !!! Zobrazi sa CONTENT SECTION 3. -->
		@if (Section3!=null)
		{
			@Section3
		}
	</div>
</div>