<!-- !!! Definuje sa GENERIC TYPE TEMPLATE PARAMETER. -->
@typeparam TRowType

<div class="INNER_BOX">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<!-- !!! Pouzije sa CHILD BLAZOR COMPONENT, ktora zobrazuje HTML ELEMENT [<select>]. -->
				<!-- !!! Pri zmene VALUE HTML ELEMENT [<select>] sa zmeni VALUE C# PROPERTY ''. -->
				<CustomBindingChild ValueName="Sexes" Values="GetSexes()" @bind-SelectedValue="SelectedSex" />
			</div>

			<div class="col">
				<!-- !!! Pouzije sa CHILD BLAZOR COMPONENT, ktora zobrazuje HTML ELEMENT [<select>]. -->
				<CustomBindingChild ValueName="Sort" Values="GetSorts()" @bind-SelectedValue="SelectedOrder" />
			</div>
		</div>
	</div>
</div>

<div class="INNER_BOX">
	<table class="table table-bordered table-striped">
		@if (Header!=null)
		{
			<thead>
				@Header
			</thead>
		}

		<tbody>
			<!-- !!! Iteruju sa vsetky GENERIC TYPE ITEMS, ktore PARENT BLAZOR COMPONENT zasle ako PARAMETER do CHILD BLAZOR COMPONENT. -->
			@foreach(TRowType RowType in GetOrderedItems())
			{
				<!-- !!! Kazdy GENERIC TYPE ITEM je zobrazeny v osobitnom riadku. -->
				<tr class="@GetClass(RowType)">
					<!-- !!! Na GENERIC TYPE ITEM sa aplikuje TEMPLATE, ktoru definuje PARENT BLAZOR COMPONENT. TEMPLATE zobrazi GENERIC TYPE ITEM. -->
					@RowTemplate(RowType)
				</tr>
			}
		</tbody>
	</table>
</div>