<!-- !!! Definuje sa GENERIC TYPE TEMPLATE PARAMETER. -->
@typeparam TRowType

<div class="INNER_BOX">
	<table class="table table-bordered table-striped">
		@if (Header!=null)
		{
			<thead>
				@Header
			</thead>
		}

		<tbody>
			<!-- !!! Iteruju sa vsetky GENERIC TYPE ITEMS, ktore PARENT BLAZOR COMPONENT zasle ako PARAMETER do CHILD BLAZOR COMPONENT. -->
			@foreach(TRowType RowType in Rows)
			{
				<!-- !!! Kazdy GENERIC TYPE ITEM je zobrazeny v osobitnom riadku. -->
				<tr>
					<!-- !!! Na GENERIC TYPE ITEM sa aplikuje TEMPLATE, ktoru definuje PARENT BLAZOR COMPONENT. TEMPLATE zobrazi GENERIC TYPE ITEM. -->
					@RowTemplate(RowType)
				</tr>
			}
		</tbody>
	</table>
</div>