<div class="OUTER_BOX">
	<!-- !!! PARENT BLAZOR COMPONENT pouzije CHILD BLAZOR COMPONENT, ktora ma GENERIC TYPE PARAMETER. -->
	<!-- !!! Ako GENERIC TYPE PARAMETER sa pouzije TYPE 'CChild'. -->
	<!-- !!! PARAMETER 'Rows' sa naplni COLLECTION 'Children'. -->
	<!-- !!!!! PARAMETER 'SexCallback' nastavi CALLBACK, ktory vola CHILD BLAZOR COMPONENT na zistenie VALUE 'Sex' pre dany OBJECT 'CChild'. -->
	<!-- !!!!! PARAMETER 'SortValueCallback' nastavi CALLBACK, ktory vola CHILD BLAZOR COMPONENT na zistenie PROPERTY VALUE OBJECT 'CChild' podla ktorej ma vykonat SORTING. -->
	<TemplateExtendedGenericParameterChild TRowType="CChild" Rows="Children" SexCallback="GetSex" SortValueCallback="GetSortValue">
		<!-- !!! Nastavi sa TEMPLATE 'Header'. -->
		<Header>
			<tr>
				<th>ID</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Age</th>
				<th>Sex</th>
			</tr>
		</Header>

		<!-- !!! Nastavi sa TEMPLATE 'RowTemplate'. -->
		<!-- !!! Kedze TEMPLATE ma GENERIC TYPE PARAMETER je potrebne nastavit nazov CONTEXT VARIABLE, ktora obsahuje TYPE 'CChild', ktoru ma TEMPLATE zobrazit. -->
		<RowTemplate Context="Child">
			<td>
				[@Child.ID]
			</td>
						
			<td>
				[@Child.FirstName]
			</td>
						
			<td>
				[@Child.LastName]
			</td>
						
			<td>
				[@Child.Age]
			</td>
						
			<td>
				[@Child.Sex] !
			</td>
		</RowTemplate>
	</TemplateExtendedGenericParameterChild>
</div>