<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<label>Counter value [@Counter] !</label>
	</div>

	<button class="btn btn-primary" @onclick="IncrementCounter">Increment counter</button>
	<button class="btn btn-primary" @onclick="GenerateException">Generate exception</button>
</div>

<!-- !!! Pre HTML ELEMENT s HTML ATTRIBUTE  [id] nastavenym na VALUE [blazor-error-ui] BLAZOR FRAMEWORK pri vzniku UNHANDLED EXCEPTION nastavi CSS PROPERTY [display] na VALUE [block], cim sa stane HTML ELEMENT VISIBLE. -->
<div id="blazor-error-ui" class="INNER_BOX text-center bg-danger h6 text-white p-2" style="display:none">
	An error has occurred. This application will not respond until reloaded.

	<!-- !!! BUTTON umozni vykona RELOAD celej PAGE. -->
	<button class="btn btn-sm btn-primary" onclick="location.reload()">
		Reload
	</button>
</div>