<div @attributes="DivParameters">
	<label for="SelectValue">@ValueName:</label>
	<!-- !!!!! KEYWORD [attributes="UnmatchedParameters"] sposobi, ze sa VALUES v DICTIONARY 'UnmatchedParameters' rozvinu ako HTML ATTRIBUTES HTML ELEMENT [<select>]. -->
	<!-- !!! EVENT HANDLER [Task HandleChangeSelectValue(ChangeEventArgs E)] je zaregistrovany na EVENT 'onchange'. -->
	<!-- !!!!! Po zaregistrovani EVENT 'onchange', NIE JE MOZNE POUZIT KEYWORD [bind="VALUE"], pretoze KEYWORD [bind="VALUE"] si registruje VLASTNY HANDLER pre EVENT 'onchange' a tak by pre tento EVENT boli zaregistrovane 2 HANDLERS co NIE JE MOZNE. -->
	<select class="form-control" name="SelectValue" value="@SelectedValue" @attributes="UnmatchedParameters" @onchange="HandleChangeSelectValue">
		<option disabled selected>Select @ValueName</option>
		@foreach(string Value in Values)
		{
			<option value="@Value" selected="@(Value==SelectedValue)">
				@Value
			</option>
		}
	</select>
</div>