<!-- !!! Pouzije sa WRAPPER BLAZOR COMPONENT, ktorej CONTENT je definovany medzi BEGIN TAG a END TAG. -->
<Wrapper Theme="info" Title="COUNTER">
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<label>Counter value [@Counter] !</label>
		</div>
		<button class="btn btn-primary" @onclick="IncrementCounter">Increment counter</button>
	</div>
</Wrapper>