@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa BLAZOR COMPONENT COUNTER, ktora je pristupna cez URL [/Counter1]. -->
			Go to [<a href="http://localhost:50000/Counter1">Use BLAZOR COMPONENT ROUTING [/Counter1] !</a>] !
			<br/>
			<!-- !!! Zobrazi sa BLAZOR COMPONENT COUNTER, ktora je pristupna cez URL [/Counter2]. -->
			Go to [<a href="http://localhost:50000/Counter2">Use BLAZOR COMPONENT ROUTING [/Counter2] !</a>] !
			<br/>
			<!-- !!! Zobrazi sa ERROR CONTENT definovany BLAZOR COMPONENT ROUTER COMPONENT, pretoze URL [/Counter3] NEMA namapovanu BLAZOR COMPONENT. -->
			Go to [<a href="http://localhost:50000/Counter3">Use BLAZOR COMPONENT ROUTING [/Counter3] !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa BLAZOR COMPONENT COUNTER AAA, ktora umoznuje NAVIGATION. -->
			Go to [<a href="http://localhost:50000/CounterAAA">Use BLAZOR COMPONENT NAVIGATION [AAA] !</a>] !
			<br/>
			<!-- !!! Zobrazi sa BLAZOR COMPONENT COUNTER BBB, ktora umoznuje NAVIGATION. -->
			Go to [<a href="http://localhost:50000/CounterBBB">Use BLAZOR COMPONENT NAVIGATION [BBB] !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa BLAZOR COMPONENT COUNTER AAA, ktora ma SEGMENT VARIABLE. -->
			Go to [<a href="http://localhost:50000/SegmentVariablesAAA/10">Use BLAZOR COMPONENT SEGMENT VARIABLE 10 [AAA] !</a>] !
			<br/>
			<!-- !!! Zobrazi sa BLAZOR COMPONENT COUNTER BBB, ktora ma SEGMENT VARIABLE. -->
			Go to [<a href="http://localhost:50000/SegmentVariablesBBB/20">Use BLAZOR COMPONENT SEGMENT VARIABLE 20 [BBB] !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktora pouziva LAYOUT. -->
			Go to [<a href="http://localhost:50000/CounterComponentWithLayout">Use BLAZOR COMPONENT using LAYOUT 1 !</a>] !
			<br/>
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktora pouziva LAYOUT. -->
			Go to [<a href="http://localhost:50000/CounterComponentWithLayoutParent">Use BLAZOR COMPONENT using LAYOUT 2 !</a>] !
			<br/>
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktora pouziva LAYOUT. -->
			Go to [<a href="http://localhost:50000/CounterComponentWithDefaultLayout">Use BLAZOR COMPONENT using LAYOUT 3 !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa BLAZOR COMPONENT COUNTER, ktory ma LIFECYCLE EVENTS. -->
			Go to [<a href="http://localhost:50000/CounterWithLifecycleMethods1/10">Use BLAZOR COMPONENT CounterWithLifecycleMethods1 with LIFETIME EVENTS !</a>] !
			<br/>
			<!-- !!! Zobrazi sa BLAZOR COMPONENT COUNTER, ktory ma LIFECYCLE EVENTS. -->
			Go to [<a href="http://localhost:50000/CounterWithLifecycleMethods2/20">Use BLAZOR COMPONENT CounterWithLifecycleMethods2 with LIFETIME EVENTS !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktory pouziva REFERENCES na CHILD BLAZOR COMPONENTS. -->
			Go to [<a href="http://localhost:50000/RefReferenceParent">Use BLAZOR COMPONENT with REFERENCES !</a>] !
		</div>
		
		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktory je volany z EXTERNAL CODE. -->
			Go to [<a href="http://localhost:50000/CallFromExternalCodeComponentParent">Use BLAZOR COMPONENT called from EXTERNAL CODE !</a>] !
		</div>
		
		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktory vola JAVASCRIPT CODE. -->
			Go to [<a href="http://localhost:50000/PageCallJavaScriptCode">Use BLAZOR COMPONENT calling JAVASCRIPT CODE !</a>] !
			<br/>
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktory vola JAVASCRIPT CODE, ktory spatne vola STATIC C# METHOD. -->
			Go to [<a href="http://localhost:50000/PageCallCSharpStaticMethodFromJavaScriptCode">Use BLAZOR COMPONENT calling JAVASCRIPT CODE that calls STATIC C# METHOD !</a>] !
			<br/>
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktory vola JAVASCRIPT CODE, ktory spatne vola NON-STATIC C# METHOD. -->
			Go to [<a href="http://localhost:50000/PageCallCSharpNonStaticMethodFromJavaScriptCode">Use BLAZOR COMPONENT calling JAVASCRIPT CODE that calls NON-STATIC C# METHOD !</a>] !
		</div>
	</div>
</body>
</html>