<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sports Store</title>
	<link rel="stylesheet" href="/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
</head>
<body>
	<div class="OUTER_BOX">
		<div class="bg-dark text-white p-2">
			<span class="navbar-brand ml-2">SPORTS STORE</span>
		</div>
		<div class="m-1 p-1">
				@RenderBody()
		</div>
	</div>
</body>
</html>