<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="AsynchronousWCF.CAsynchronousService">
        <endpoint address="net.tcp://localhost:8000" binding="netTcpBinding" contract="AsynchronousWCF.IAsynchronousService">
        </endpoint>
      </service>
    </services>

    <client>
      <endpoint name="Proxy" address="net.tcp://localhost:8000" binding="netTcpBinding" contract="AsynchronousWCF.IAsynchronousService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>