<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="AnnouncementsSharedLibrary.CToUpperService"
               behaviorConfiguration="ServiceBehavior">
        <endpoint address="net.tcp://TimmyAnderson:3000/"
                  binding="netTcpBinding"
                  contract="AnnouncementsSharedLibrary.IToUpperContract"
                  behaviorConfiguration="EndpointBehavior">
        </endpoint>
      </service>
    </services>

    <client>
      <endpoint kind="udpAnnouncementEndpoint"/>
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint"/>
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <endpointDiscovery>
            <scopes>
              <add scope="net.tcp://Scope1"/>
              <add scope="net.tcp://Scope2"/>
            </scopes>
          </endpointDiscovery>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>