@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			Go to [<a asp-page="/UserManagement/PageViewUsers">Edit USERS !</a>] !
			<br/>
			Go to [<a asp-page="/RoleManagement/PageViewRoles">Edit ROLES !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- Pouzije sa NON SECURED WEB SERVICE ACTION METHOD. -->
			Go to [<a asp-controller="APIName" asp-action="NonSecured">NON SECURED WEB SERVICE ACTION METHOD NonSecured() (as UNAUTHORIZED USER) !</a>] !
			<br/>
			<!-- Pouzije sa SECURED WEB SERVICE ACTION METHOD. -->
			Go to [<a asp-controller="APIName" asp-action="Secured">SECURED WEB SERVICE ACTION METHOD Secured() (as UNAUTHORIZED USER) !</a>] !
			<br/>
			<!-- Pouzije sa SECURED WEB SERVICE ACTION METHOD. -->
			Go to [<a asp-controller="APIName" asp-action="SecuredForAdministrators">SECURED WEB SERVICE ACTION METHOD SecuredForAdministrators() (as UNAUTHORIZED USER) !</a>] !
			<br/>
			<!-- Pouzije sa SECURED WEB SERVICE ACTION METHOD. -->
			Go to [<a asp-controller="APIName" asp-action="SecuredForUsers">SECURED WEB SERVICE ACTION METHOD SecuredForUsers() (as UNAUTHORIZED USER) !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- Simuluje sa pouzitie SECURED WEB SERVICE ACTION METHOD, ktora je pristupna pre vsetkych AUTHENTICATED USERS. LOGIN sa spravi s USER 'Timmy'. -->
			Go to [<a asp-controller="Test" asp-action="AccessSecuredActionMethodAsTimmy">SIMULATE access to METHOD Secured() accessible to ALL USERS (as TIMMY) !</a>] !
			<br/>
			<!-- Simuluje sa pouzitie SECURED WEB SERVICE ACTION METHOD, ktora je pristupna pre vsetkych AUTHENTICATED USERS. LOGIN sa spravi s USER 'Jenny'. -->
			Go to [<a asp-controller="Test" asp-action="AccessSecuredActionMethodAsJenny">SIMULATE access to METHOD Secured() accessible to ALL USERS (as JENNY) !</a>] !
			<br/>
			<!-- Simuluje sa pouzitie SECURED WEB SERVICE ACTION METHOD, ktora je pristupna pre ROLE 'Administrators'. LOGIN sa spravi s USER 'Timmy'. -->
			Go to [<a asp-controller="Test" asp-action="AccessSecuredForAdministratorsActionMethodAsTimmy">SIMULATE access to METHOD SecuredForAdministrators() accessible to ROLE 'Administrators' (as TIMMY) !</a>] !
			<br/>
			<!-- Simuluje sa pouzitie SECURED WEB SERVICE ACTION METHOD, ktora je pristupna pre ROLE 'Administrators'. LOGIN sa spravi s USER 'Jenny'. -->
			Go to [<a asp-controller="Test" asp-action="AccessSecuredForAdministratorsActionMethodAsJenny">SIMULATE access to METHOD SecuredForAdministrators() accessible to ROLE 'Administrators' (as JENNY) !</a>] !
			<br/>
			<!-- Simuluje sa pouzitie SECURED WEB SERVICE ACTION METHOD, ktora je pristupna pre ROLE 'Users'. LOGIN sa spravi s USER 'Timmy'. -->
			Go to [<a asp-controller="Test" asp-action="AccessSecuredForUsersActionMethodAsTimmy">SIMULATE access to METHOD SecuredForUsers() accessible to ROLE 'Users' (as TIMMY) !</a>] !
			<br/>
			<!-- Simuluje sa pouzitie SECURED WEB SERVICE ACTION METHOD, ktora je pristupna pre ROLE 'Users'. LOGIN sa spravi s USER 'Jenny'. -->
			Go to [<a asp-controller="Test" asp-action="AccessSecuredForUsersActionMethodAsJenny">SIMULATE access to METHOD SecuredForUsers() accessible to ROLE 'Users' (as JENNY) !</a>] !
		</div>
	</div>
</body>
</html>