@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<!-- !!! CONTENT CUSTOM HTML ELEMENT [<environment>] sa zobrazi IBA ak ENVIRONMENT je zhodny s niektorou s hodnot HTML ELEMENT [names]. Inak sa CONTENT CUSTOM HTML ELEMENT [<environment>] NEZOBRAZI. -->
		<environment names="development,XXX">
			<div class="INNER_BOX">
				This is DEVELOPMENT or XXX ENVIRONMENT !
			</div>
		</environment>

		<!-- !!! CONTENT CUSTOM HTML ELEMENT [<environment>] sa zobrazi IBA ak ENVIROMENT je zhodny s niektorou s hodnot HTML ELEMENT [names]. Inak sa CONTENT CUSTOM HTML ELEMENT [<environment>] NEZOBRAZI. -->
		<environment names="production,YYY">
			<div class="INNER_BOX">
				This is PRODUCTION or YYY ENVIRONMENT !
			</div>
		</environment>
	</div>
</body>
</html>