<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MetadataImporterService.CTestService"
               behaviorConfiguration="BC">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8000/Service"/>
          </baseAddresses>
        </host>
        
        <endpoint binding="netTcpBinding"
                  contract="MetadataImporterService.ITestService">
        </endpoint>

        <endpoint kind="mexEndpoint"
                  address="MEX"
                  binding="mexTcpBinding">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="BC">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>