@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<!-- !!!!! Tento JAVA SCRIPT FILE MUSI byt VZDY PRVY ! -->
	<script asp-src-include="~/MyScripts/Logger.js"></script>
	<!-- !!!!! Nacitaju sa vsetky FILES s PREFIX 'File' a POSTFIX '.js'. -->
	<!-- !!!!! VYRADIA sa vsetky FILES s PREFIX 'FileYYY' a POSTFIX '.js'. -->
	<!-- !!!!! Na to, aby HTTP ATTRIBUTE [asp-src-exclude] FUNGOVAL, MUSI byt aplikovany na ten HTML ELEMENT [<script>], na ktory je aplikovany HTTP ATTRIBUTE [asp-src-include]. -->
	<script asp-src-include="~/MyScripts/TestFileExcluding/File*.js" asp-src-exclude="~/MyScripts/TestFileExcluding/FileYYY*.js"></script>
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			START of LOG.
		</div>

		<div class="INNER_BOX" id="LOG">
		</div>

		<div class="INNER_BOX">
			END of LOG.
		</div>
	</div>
</body>
</html>