@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<!-- !!!!! Tento JAVA SCRIPT FILE MUSI byt VZDY PRVY ! -->
	<script asp-src-include="~/MyScripts/Logger.js"></script>
	<script asp-src-include="~/MyScripts/CDNCheck.js"></script>
	<!-- !!! HTML ATTRIBUTE [asp-src-include] a HTML ATTRIBUTE [asp-src-exclude] ukazuju na NEEXISTUJUCU PATH. -->
	<!-- !!! HTML ATTRIBUTE [asp-fallback-src-include] a HTML ATTRIBUTE [asp-fallback-src-exclude] ukazuju na LOCAL PATHS, kde su FILES, ktore sa nacitaju v pripade, ze FILES sa z PATHS definovanych HTML ATTRIBUTE [asp-src-include] a HTML ATTRIBUTE [asp-src-exclude] NEPODARILO NACITAT. -->
	<!-- !!!!! HTML ATTRIBUTE [asp-fallback-test] MUSI obsahovat EXPRESSION, ktora vracia TRUE, ak sa FILES podarilo nacitat z PATHS urcenych HTML ATTRIBUTE [asp-src-include] a HTML ATTRIBUTE [asp-src-exclude] a FALSE v pripade, ze citanie FILES z tychto PATHS zlyhalo. -->
	<script asp-src-include="http://NON_EXISTING_SITE.XXX/MyScripts/TestFallback/File*.js" 
			asp-src-exclude="http://NON_EXISTING_SITE.XXX/MyScripts/TestFallback/FileYYY*.js" 
			asp-fallback-src-include="~/MyScripts/TestFallback/File*.js" 
			asp-fallback-src-exclude="~/MyScripts/TestFallback/FileYYY*.js"
			asp-fallback-test="IsCDNWorking()">
	</script>
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			START of LOG.
		</div>

		<div class="INNER_BOX" id="LOG">
		</div>

		<div class="INNER_BOX">
			END of LOG.
		</div>
	</div>
</body>
</html>