@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<!-- !!!!! Tento JAVA SCRIPT FILE MUSI byt VZDY PRVY ! -->
	<script asp-src-include="~/MyScripts/Logger.js"></script>
	<!-- !!!!! Vyzera, ze WILDCARD '?' NEFUNGUJE, lebo sa nenacitaju ziadne FILES. Tento PATTERN v skutocnosti NIE JE ASP.NET PODPOROVANY. -->
	<script asp-src-include="~/MyScripts/TestGlobbingPattern/Question?.js"></script>
	<!-- !!!!! WILDCARD '*' FUNGUJE a nacitaju sa vsetky FILES s PREFIX 'Asterisk' a POSTFIX '.js'. -->
	<script asp-src-include="~/MyScripts/TestGlobbingPattern/Asterisk*.js"></script>
	<!-- !!!!! WILDCARD '**' FUNGUJE a nacitaju sa vsetky FILES 'DoubleAsterisk.js' vo vsetkych SUBDIRECTORIES. -->
	<script asp-src-include="~/MyScripts/TestGlobbingPattern/**/DoubleAsterisk.js"></script>
	<!-- !!! Nacitaju sa FILE 'TestAAA.js' a 'TestBBB.js'. OBE PATHS su oddelene CHARACTER ','. -->
	<script asp-src-include="~/MyScripts/TestGlobbingPattern/TestAAA.js,~/MyScripts/TestGlobbingPattern/TestBBB.js"></script>
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			START of LOG.
		</div>

		<div class="INNER_BOX" id="LOG">
		</div>

		<div class="INNER_BOX">
			END of LOG.
		</div>
	</div>
</body>
</html>