<!-- !!! FILE obsahuje VIEW, ktory vyuziva PARTIAL VIEWS. -->

@model CNamesWithHeader

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>View Using Partial Views with FOR</title>
</head>
<body>
	<div class="OUTER_BOX">
		<h2>@Model.Header</h2>
		<div class="bg-info">
			This TEXT 111 is from VIEW !
		</div>

		<!-- !!! Vlozi sa UNTYPED PARTIAL VIEW. -->
		<partial name="PartialViewUntyped"/>

		<div class="bg-info">
			This TEXT 222 is from VIEW !
		</div>

		<!-- !!! Vlozi sa TYPED PARTIAL VIEW. -->
		<!-- !!! Pomocou PROPERTY [For] sa urci, ktora PROPERTY MODEL NAME sa ma poslat do PARTIAL VIEW. -->
		<partial name="PartialViewStronglyTyped" for="Names"/>

		<div class="bg-info">
			This TEXT 333 is from VIEW !
		</div>
	</div>
</body>
</html>