<!-- !!!!! Tento VIEW pouziva HYBRID VIEW COMPONENT 'HybridComponent' na zobrazenie formulara pre vkladanie NAMES. -->

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<title>Input Name Form</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-action="ProcessAddNewName">
			<div class="form-group">
				<label for="FirstName">First Name:</label>
				<input name="FirstName" class="form-control" />
			</div>

			<div class="form-group">
				<label for="LastName">Last Name:</label>
				<input name="LastName" class="form-control" />
			</div>

			<div class="form-group">
				<label for="Age">Age:</label>
				<input name="Age" class="form-control" />
			</div>

			<button class="btn btn-primary" type="submit">Submit</button>
		</form>
	</div>
</body>
</html>