@model CNameWithNote

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-controller="UseTextAreaTagHelpers" asp-action="UseTextAreaAttributesCallback">
			<div class="form-group">
				<label asp-for="FirstName"></label>
				<input class="form-control" asp-for="FirstName" />
			</div>

			<div class="form-group">
				<label asp-for="LastName">Last name:</label>
				<input class="form-control" asp-for="LastName" />
			</div>

			<div class="form-group">
				<label asp-for="Age"></label>
				<input class="form-control" asp-for="Age" />
			</div>

			<div class="form-group">
				<label asp-for="Note"></label>
				<!-- !!! TAG HELPER [TextAreaTagHelper] HTML ATTRIBUTE [asp-for] nastavi HTML ATTRIBUTE [Name] a HTML ATTRIBUTE [Id]. CONTENT sa NASTAVI na hodnotu C# PROPERTY MODEL OBJECT. -->
				<textarea class="form-control" asp-for="Note"></textarea>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Add name</button>
			</div>
		</form>
	</div>
</body>
</html>