<?xml version="1.0"?>
<configuration>
  <system.web>
    <membership defaultProvider="MySqlMembershipProvider">
      <providers>
        <add name="MySqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AspNetDb" applicationName="MyApplication" maxInvalidPasswordAttempts="2"/>
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="MySqlRoleManager">
      <providers>
        <add name="MySqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="AspNetDb" applicationName="MyApplication"/>
      </providers>
    </roleManager>
  </system.web>


  <connectionStrings>
    <add name="AspNetDb" connectionString="data source=(local); Integrated Security=SSPI;Initial Catalog=aspnetdb"/>
  </connectionStrings>
</configuration>