<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="DefaultBehaviors.CToUpperService">
        <endpoint address="net.tcp://localhost:8001/" binding="netTcpBinding" contract="DefaultBehaviors.IToUpperService"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <!-- Je to DEFAULT BEHAVIOR, ktory sa IMPLICITNE APLIKUJE na KAZDY SERVICE. -->
        <behavior>
          <!-- HTTP BaseAddress NETREBA, pretoze som definoval 'httpGetUrl'. -->
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:5001/"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>