<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="FirstWCFLibrary.CStringOperationsService" behaviorConfiguration="MEX">
        <endpoint address="net.tcp://localhost:9001/IStringOperations1Contract" binding="netTcpBinding" contract="FirstWCFLibrary.IStringOperations1Contract"/>
        <endpoint address="net.tcp://localhost:9001/IStringOperations2Contract" binding="netTcpBinding" contract="FirstWCFLibrary.IStringOperations2Contract"/>
        <endpoint address="net.tcp://localhost:9001/MEX" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9001/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="FirstWCFLibrary.CMathOperationsService" behaviorConfiguration="MEX">
        <endpoint address="net.tcp://localhost:9002/IMathOperations1Contract" binding="netTcpBinding" contract="FirstWCFLibrary.IMathOperations1Contract"/>
        <endpoint address="net.tcp://localhost:9002/IMathOperations2Contract" binding="netTcpBinding" contract="FirstWCFLibrary.IMathOperations2Contract"/>
        <endpoint address="net.tcp://localhost:9002/MEX" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9002/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MEX">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>