@page

@model ApplyingCoreIdentity.Pages.PageDeleteUserModel

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<!-- !!!!! BOOTSTRAP sa MUSI nachadzat PRED 'Errors.css', inak sa CSS CLASS 'Errors.css' NEAPLIKUJE. -->
	<link rel="stylesheet" href="~/StaticFiles/Styles/Errors.css" />
	<title>Delete User</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-page="PageDeleteUser">
			<div class="INNER_BOX" asp-validation-summary="All"></div>

			<div class="form-group">
				<label asp-for="UserDelete.ID">ID:</label>
				<input class="form-control" asp-for="UserDelete.ID" readonly />
			</div>

			<div class="form-group">
				<label asp-for="UserDelete.UserName">User name:</label>
				<input class="form-control" asp-for="UserDelete.UserName" readonly />
			</div>

			<div class="form-group">
				<label asp-for="UserDelete.Email">Email:</label>
				<input class="form-control" asp-for="UserDelete.Email" readonly />
			</div>

			<div class="form-group">
				<label asp-for="UserDelete.Description">Email:</label>
				<input class="form-control" asp-for="UserDelete.Description" readonly />
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary" asp-route-ID="@Model.UserDelete.ID">Delete user</button>
				<a class="btn btn-sm btn-primary" asp-page="/UserManagement/PageViewUsers">Cancel</a>
			</div>
		</form>
	</div>
</body>
</html>