@model CStringValue

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>HTML Encoding</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>PROPERTY</th>
				<th>VALUE</th>
			</tr>
						
			<tr>
				<th>Model.Value:</th>
				<!-- !!! CONTENT sa zobrazi v TEXT FORM, kedy sa HTML ELEMENTS neinterpretuju ako HTML ELEMENTS, ale iba ako TEXT. -->
				<td>[@Model.Value] !</td>
			</tr>
						
			<tr>
				<th>Html.Encode(Model.Value):</th>
				<!-- !!! CONTENT sa zobrazi v HTML ENCODED FORM, kedy sa HTML ELEMENTS neinterpretuju ako HTML ELEMENTS, ale CHARACTERS ako '<' ci '>' su nahradene ENCODED VALUES. -->
				<td>[@Html.Encode(Model.Value)] !</td>
			</tr>
						
			<tr>
				<th>Html.Raw(Model.Value):</th>
				<!-- !!! CONTENT sa zobrazi v RAW FORM, kedy sa HTML ELEMENTS interpretuju ako HTML ELEMENTS. -->
				<td>[@Html.Raw(Model.Value)] !</td>
			</tr>
		</table>
	</div>
</body>
</html>