@model CName

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>JSON Encoding</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>PROPERTY</th>
				<th>VALUE</th>
			</tr>
						
			<tr>
				<th>Json.Serialize(Model):</th>
				<!-- !!! CONTENT sa zobrazi v JSON FORM. -->
				<td>[@Json.Serialize(Model)] !</td>
			</tr>
		</table>
	</div>
</body>
</html>