<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging"
              switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener"
               name="Default">
          </add>
          
          <add name="MyListener">
          </add>
        </listeners>
      </source>
      
      <source name="System.ServiceModel"
              switchValue="Information,ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener"
               name="Default">
          </add>
          
          <add name="MyListener">
          </add>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add initializeData="D:\Programy\.NET\CSharp\ProgrammingWCFServices\Chapter01\Troubleshooting\!Logs\Client.svclog"
           type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
           name="MyListener"
           traceOutputOptions="Timestamp">
      </add>
    </sharedListeners>
    
    <trace autoflush="true" />
  </system.diagnostics>

  <system.serviceModel>
    <diagnostics>
      <endToEndTracing activityTracing="true" propagateActivity="true" messageFlowTracing="true"/>

      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true">
      </messageLogging>
    </diagnostics>

    <client>
      <endpoint name="ToUpper"
                address="net.tcp://localhost:8001/"
                binding="netTcpBinding"
                contract="TroubleshootingHost.IToUpper"
                bindingConfiguration="Binding1">
      </endpoint>

      <endpoint name="ToLower"
                address="net.tcp://localhost:8002/"
                binding="netTcpBinding"
                contract="TroubleshootingHost.IToLower"
                bindingConfiguration="Binding2">
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="Binding1">
          <reliableSession enabled="true"/>
        </binding>

        <binding name="Binding2">
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>