<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DurableServices" connectionString="Data Source=localhost;Initial Catalog=WCFPersistentStoreForWF;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>  
  
  <system.serviceModel>
    <services>
      <service name="DurableServicesHost.CMyWorkflowService" behaviorConfiguration="Durable">
        <endpoint address="net.tcp://localhost:8001/Service" binding="netTcpContextBinding" contract="DurableServicesHost.IMyWorkflowService">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Durable">
          <persistenceProvider type="System.ServiceModel.Persistence.SqlPersistenceProviderFactory,System.WorkflowServices,Version=3.5.0.0,Culture=neutral,PublicKeyToken=31bf3856ad364e35" connectionStringName="DurableServices" serializeAsText="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>