<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.msmq://localhost/private/DLQTestQueue" binding="netMsmqBinding" contract="DeadLetterQueueClient.IDLQTest" bindingConfiguration="BC" name="MS">
      </endpoint>
    </client>

    <bindings>
      <!-- !!!!! Ked chcem posielat Message do NETRANSAKCNEJ QUEUE musim nastavit 'exactlyOnce' na FALSE. -->
      <netMsmqBinding>
        <binding name="BC" timeToLive="00:00:10" deadLetterQueue="System" exactlyOnce="false" durable="true">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>