@page

@model WorkingWithData.Pages.PageDeletePersonModel

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
    <title>View Person Details</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>Property</th>
				<th>Value</th>
			</tr>

			<tr>
				<th>First name</th>

				<td>
					[@Model.Person.FirstName] !
				</td>
			</tr>
						
			<tr>
				<th>Last name</th>

				<td>
					[@Model.Person.LastName] !
				</td>
			</tr>

			<tr>
				<th>Age</th>

				<td>
					[@Model.Person.Age] !
				</td>
			</tr>

			<tr>
				<th>Sex</th>

				<td>
					[@Model.Person.Sex] !
				</td>
			</tr>

			<tr>
				<th>City</th>

				<td>
					[@Model.Person.Address.City] !
				</td>
			</tr>

			<tr>
				<th>Country</th>

				<td>
					[@Model.Person.Address.Country] !
				</td>
			</tr>
		</table>

		<h5>Do you want to delete this user?</h5>
		<a class="btn btn-sm btn-primary" asp-page="PageDeletePerson" asp-page-handler="Delete" asp-route-ID="@Model.Person.ID">Delete person</a>
		<a class="btn btn-sm btn-primary" asp-page="PageViewPersons">Cancel</a>
	</div>
</body>
</html>