<!-- !!! BLAZOR COMPOMENT pouziva ROUTER BLAZOR COMPONENT. -->
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
		<!-- !!! V pripade, ze ROUTING nasiel BLAZOR COMPONENT, ktory sa ma zobrazit, ako LAYOUT sa pouzije BLAZOR COMPONENT 'MainLayout'. -->
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
		<!-- !!! V pripade, ze ROUTING nenasiel BLAZOR COMPONENT, ktory sa ma zobrazit, ako LAYOUT sa pouzije BLAZOR COMPONENT 'MainLayout' a zaroven sa vypise ERROR MESSAGE. -->
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>