@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa jednoduchy VIEW. -->
			Go to [<a asp-controller="Test" asp-action="ShowNames">Show SIMPLE VIEW !</a>] !
			<br/>
			<!-- !!! Zobrazi sa SHARED VIEW. -->
			Go to [<a asp-controller="Test" asp-action="MySharedView">Show SHARED VIEW !</a>] !
			<br/>
			<!-- !!! Zobrazi sa VIEW na SPECIFIC PATH. -->
			Go to [<a asp-controller="Test" asp-action="ShowViewOnSpecificPath">Show VIEW on SPECIFIC PATH !</a>] !
		</div>
			
		<div class="INNER_BOX">
			<!-- !!!!! Zavola sa METHOD, ktora NIE JE ACTION METHOD, kedze bola oznacena pomocou ATTRIBUTE [NonActionAttribute]. Vysledkom je HTML ERROR CODE 404. -->
			Go to [<a asp-controller="Test" asp-action="ShowNamesNonAction">Call NON ACTION METHOD !</a>] !
			<br/>
			<!-- !!!!! Zavola sa METHOD, ktora je v CONTROLLER na ktory je aplikovany ATTRIBUTE [NonController]. Vysledkom je HTML ERROR CODE 404. -->
			Go to [<a asp-controller="Non" asp-action="MyActionMethod">Call METHOD in NON CONTROLLER !</a>] !
		</div>
			
		<div class="INNER_BOX">
			<!-- !!!!! Zavola sa METHOD, ktora pouziva UNTYPED VIEW. -->
			Go to [<a asp-controller="Test" asp-action="UseNonTypedView">Call UNTYPED VIEW !</a>] !
			<br/>
			<!-- !!!!! Zavola sa METHOD, ktora pouziva TYPED VIEW. -->
			Go to [<a asp-controller="Test" asp-action="UseTypedView">Call TYPED VIEW !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!!!! Zobrazi sa VIEW, ktory pouziva C# EXPRESSIONS. -->
			Go to [<a asp-controller="RazorKeywords" asp-action="Expressions">Show VIEW using C# EXPRESSIONS !</a>] !
			<br/>
			<!-- !!!!! Zobrazi sa VIEW, ktory pouziva C# EXPRESSIONS na nastavenie HTML ATTRIBUTES. -->
			Go to [<a asp-controller="RazorKeywords" asp-action="SetAttributes">Show VIEW using C# EXPRESSIONS for setting HTML ATTRIBUTES !</a>] !
			<br/>
			<!-- !!!!! Zobrazi sa VIEW, ktory pouziva C# IF. -->
			Go to [<a asp-controller="RazorKeywords" asp-action="If">Show VIEW using C# IF !</a>] !
			<br/>
			<!-- !!!!! Zobrazi sa VIEW, ktory pouziva C# SWITCH. -->
			Go to [<a asp-controller="RazorKeywords" asp-action="Switch1">Show VIEW using C# SWITCH 1 !</a>] !
			<br/>
			<!-- !!!!! Zobrazi sa VIEW, ktory pouziva C# SWITCH. -->
			Go to [<a asp-controller="RazorKeywords" asp-action="Switch2">Show VIEW using C# SWITCH 2 !</a>] !
			<br/>
			<!-- !!!!! Zobrazi sa VIEW, ktory pouziva C# ENUMERATION. -->
			Go to [<a asp-controller="RazorKeywords" asp-action="Enumeration">Show VIEW using C# ENUMERATION !</a>] !
			<br/>
			<!-- !!!!! Zobrazi sa VIEW, ktory pouziva C# CODE BLOCKS. -->
			Go to [<a asp-controller="RazorKeywords" asp-action="CodeBlocks">Show VIEW using C# CODE BLOCKS !</a>] !
		</div>
	</div>
</body>
</html>