@{
	Layout=null;
}

<!-- !!! Zaregistruje sa pouzitie CUSTOM TAG HELPERS. -->
@addTagHelper UsingTagHelpers.TagHelpers.CCoordinatingParentTagHelper, UsingTagHelpers
@addTagHelper UsingTagHelpers.TagHelpers.CCoordinatingChildTagHelper, UsingTagHelpers

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<!-- !!! COLOR, FONT NAME a FONT SIZE sa APLIKUJU na tento TEXT, pretoze je v CHILD HTML ELEMENT <main>. -->
		<div my-color="green" my-font-size-in-pixels="50" MyFontName="Arial">
			<main>
				HELLO WORLD !
			</main>
		</div>

		<!-- !!! COLOR, FONT NAME a FONT SIZE sa NEAPLIKUJU na tento TEXT, pretoze nie je v CHILD HTML ELEMENT <main>. -->
		<div my-color="red" my-font-size-in-pixels="30" MyFontName="Courier New">
			HELLO WORLD !
		</div>
	</div>
</body>
</html>