@{
	Layout=null;
}

<!-- !!! Zaregistruje sa pouzitie CUSTOM TAG HELPER. -->
@addTagHelper UsingTagHelpers.TagHelpers.CMyDivTagHelper, UsingTagHelpers

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<!-- !!! PROPERTY 'my-color' NEMA DEFINOVANU C# PROPERTY, a preto nie je pristupna cez INTELLISENSE. -->
		<!-- !!! PROPERTY 'my-font-size-in-pixels' MA DEFINOVANU C# PROPERTY, a preto je pristupna cez INTELLISENSE. PROPERTY ma TYPE [int]. -->
		<!-- !!! PROPERTY 'MyFontName' MA DEFINOVANU C# PROPERTY, a preto je pristupna cez INTELLISENSE. PROPERTY ma TYPE [string]. PROPERTY ma definovany CUSTOM NAME pomocou ATTRIBUTE [HtmlAttributeNameAttribute]. -->
		<div my-color="green" my-font-size-in-pixels="50" MyFontName="Arial">
			HELLO WORLD !
		</div>

		<div my-color="red" my-font-size-in-pixels="30" MyFontName="Courier New">
			HELLO WORLD !
		</div>
	</div>
</body>
</html>