@model CName

@{
	Layout=null;
}

<!-- !!! Zaregistruje sa pouzitie CUSTOM TAG HELPER. -->
@addTagHelper UsingTagHelpers.TagHelpers.CUsingModelExpressionTagHelper, UsingTagHelpers

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<title>Name</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>First Name:</th>

				<th>
					<!-- !!! VALUE 'my-model-expression' musi obsahovat nazov C# PROPERTY MODEL OBJECT. -->
					<div my-color="green" my-model-expression="FirstName">
						[@Model.FirstName] !
					</div>
				</th>
			</tr>

			<tr>
				<th>Last Name:</th>

				<th>
					<!-- !!! VALUE 'my-model-expression' musi obsahovat nazov C# PROPERTY MODEL OBJECT. -->
					<div my-color="green" my-model-expression="LastName">
						[@Model.LastName] !
					</div>
				</th>
			</tr>

			<tr>
				<th>Age:</th>

				<th>
					<!-- !!! VALUE 'my-model-expression' musi obsahovat nazov C# PROPERTY MODEL OBJECT. -->
					<div my-color="green" my-model-expression="Age">
						[@Model.Age] !
					</div>
				</th>
			</tr>
		</table>
	</div>
</body>
</html>