@{
	Layout=null;
}

<!-- !!! Zaregistruje sa pouzitie CUSTOM TAG HELPERS. -->
@addTagHelper UsingTagHelpers.TagHelpers.COrder3RedTagHelper, UsingTagHelpers
@addTagHelper UsingTagHelpers.TagHelpers.COrder2GreenTagHelper, UsingTagHelpers
@addTagHelper UsingTagHelpers.TagHelpers.COrder1BlueTagHelper, UsingTagHelpers

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<!-- !!! Tento HTML ELEMENT bude mat COLOR 'Red', pretoze ako prvy sa aplikuje TAG HELPER 'COrder3BlueTagHelper', potom TAG HELPER 'COrder2GreenTagHelper' a napokon 'COrder1RedTagHelper'. -->
		<div UseRed="XXX" UseGreen="YYY" UseBlue="ZZZ">
			HELLO WORLD !
		</div>

		<!-- !!! Tento HTML ELEMENT bude mat COLOR 'Green', pretoze ako prvy sa aplikuje TAG HELPER 'COrder3BlueTagHelper' a potom 'COrder2GreenTagHelper'. TAG HELPER 'COrder1RedTagHelper' sa NEPOUZIJE, pretoze HTML ATTRIBUTE NEMA aplikovany HTML ATTRIBUTE 'UseRed'. -->
		<div UseGreen="YYY" UseBlue="ZZZ">
			HELLO WORLD !
		</div>

		<!-- !!! Tento HTML ELEMENT bude mat COLOR 'Blue', pretoze sa aplikuje TAG HELPER 'COrder3BlueTagHelper'. TAG HELPER 'COrder1RedTagHelper' sa NEPOUZIJE, pretoze HTML ATTRIBUTE NEMA aplikovany HTML ATTRIBUTE 'UseRed'. TAG HELPER 'COrder2GreenTagHelper' sa NEPOUZIJE, pretoze HTML ATTRIBUTE NEMA aplikovany HTML ATTRIBUTE 'UseGreen'. -->
		<!-- !!! Tento HTML ELEMENT bude mat COLOR 'Blue', pretoze HTML ELEMENT nema aplikovany HTML ATTRIBUTE 'UseRed' a HTML ATTRIBUTE 'UseGreen', no ma definovany HTML ATTRIBUTE 'UseBlue'. -->
		<div UseBlue="ZZZ">
			HELLO WORLD !
		</div>
	</div>
</body>
</html>