@{
	Layout=null;
}

<!-- !!! Zaregistruje sa pouzitie CUSTOM TAG HELPER. -->
@addTagHelper UsingTagHelpers.TagHelpers.CScope3TagHelper, UsingTagHelpers

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<!-- !!! Na tento HTML ELEMENT sa TAG HELPER aplikuje, pretoze MA DEFINOVANY HTML ATRIBUTE 'Use' s VALUE 'true'. -->
		<main my-color="green" my-font-size-in-pixels="50" MyFontName="Arial" Use="true">
			HELLO WORLD !
		</main>

		<!-- !!! Na tento HTML ELEMENT sa TAG HELPER aplikuje, pretoze MA DEFINOVANY HTML ATRIBUTE 'Use'. -->
		<nav my-color="green" my-font-size-in-pixels="50" MyFontName="Arial" Use="true">
			HELLO WORLD !
		</nav>

		<!-- !!! Na tento HTML ELEMENT sa TAG HELPER aplikuje, pretoze MA DEFINOVANY HTML ATRIBUTE 'Use'. -->
		<div my-color="green" my-font-size-in-pixels="50" MyFontName="Arial" Use="true">
			HELLO WORLD !
		</div>

		<!-- !!! Na tento HTML ELEMENT sa TAG HELPER NEAPLIKUJE, pretoze MA DEFINOVANY HTML ATRIBUTE 'Use', no ten NEOBSAHUJE VALUE 'true'. -->
		<div my-color="green" my-font-size-in-pixels="50" MyFontName="Arial" Use="false">
			HELLO WORLD !
		</div>

		<!-- !!! Na tento HTML ELEMENT sa TAG HELPER NEAPLIKUJE, pretoze NEMA DEFINOVANY HTML ATRIBUTE 'Use'. -->
		<div my-color="green" my-font-size-in-pixels="50" MyFontName="Arial">
			HELLO WORLD !
		</div>
	</div>
</body>
</html>