@{
	Layout=null;
}

<!-- !!! Zaregistruje sa pouzitie CUSTOM TAG HELPER. -->
@addTagHelper UsingTagHelpers.TagHelpers.CScope4TagHelper, UsingTagHelpers

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<!-- !!! Na tento HTML ELEMENT sa TAG HELPER aplikuje, pretoze je to HTML ELEMENT [<div>] a MA DEFINOVANY HTML ATRIBUTE 'Use'. -->
		<div my-color="green" my-font-size-in-pixels="50" MyFontName="Arial" Use="XXX">
			HELLO WORLD !
		</div>

		<!-- !!! Na tento HTML ELEMENT sa TAG HELPER aplikuje, pretoze je to HTML ELEMENT [<main>]. -->
		<main my-color="green" my-font-size-in-pixels="50" MyFontName="Arial">
			HELLO WORLD !
		</main>

		<!-- !!! Na tento HTML ELEMENT sa TAG HELPER NEAPLIKUJE, pretoze je to HTML ELEMENT [<nav>]. -->
		<nav my-color="green" my-font-size-in-pixels="50" MyFontName="Arial" Use="XXX">
			HELLO WORLD !
		</nav>
	</div>
</body>
</html>