@{
	Layout=null;
}

<!-- !!! Zaregistruje sa pouzitie CUSTOM TAG HELPER. -->
@addTagHelper UsingTagHelpers.TagHelpers.CSuppressOutputTagHelper, UsingTagHelpers

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<!-- !!!!! Nezobrazi sa NIC, ani HTML ELEMENTS pridane pomocou TAG HELPER. -->
		<div class="INNER_BOX" my-color="green" my-font-size-in-pixels="50" MyFontName="Arial" Use="XXX" SupressOutput="true">
			HELLO WORLD !
		</div>

		<!-- !!! Zobrazi sa CONTENT aj s HTML ELEMENTS pridanymi pomocou TAG HELPER. -->
		<div class="INNER_BOX" my-color="red" my-font-size-in-pixels="30" MyFontName="Courier New" Use="XXX">
			HELLO WORLD !
		</div>
	</div>
</body>
</html>