@{
	Layout=null;
}

<!-- !!! Zaregistruje sa pouzitie CUSTOM TAG HELPER. -->
@addTagHelper UsingTagHelpers.TagHelpers.CScope2TagHelper, UsingTagHelpers

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<main>
			<!-- !!! Na tento HTML ELEMENT sa TAG HELPER aplikuje, pretoze sa nachadza v HTML ELEMENT 'main' a zaroven MA DEFINOVANY HTML ATRIBUTE 'First' a HTML ATRIBUTE 'Second'. -->
			<div my-color="green" my-font-size-in-pixels="50" MyFontName="Arial" First="XXX" Second="YYY">
				HELLO WORLD !
			</div>

			<!-- !!! Na tento HTML ELEMENT sa TAG HELPER NEAPLIKUJE, pretoze sa sice nachadza v HTML ELEMENT 'main' no NEMA DEFINOVANY HTML ATRIBUTE 'Second'. -->
			<div my-color="green" my-font-size-in-pixels="50" MyFontName="Arial" First="XXX">
				HELLO WORLD !
			</div>

			<!-- !!! Na tento HTML ELEMENT sa TAG HELPER NEAPLIKUJE, pretoze sa sice nachadza v HTML ELEMENT 'main' no NEMA DEFINOVANY HTML ATRIBUTE 'First'. -->
			<div my-color="green" my-font-size-in-pixels="50" MyFontName="Arial" Second="YYY">
				HELLO WORLD !
			</div>

			<!-- !!! Na tento HTML ELEMENT sa TAG HELPER NEAPLIKUJE, pretoze sa sice nachadza v HTML ELEMENT 'main' no NEMA DEFINOVANY HTML ATRIBUTE 'First' ani HTML ATRIBUTE 'Second'. -->
			<div my-color="green" my-font-size-in-pixels="50" MyFontName="Arial">
				HELLO WORLD !
			</div>
		</main>

		<!-- !!! Na tento HTML ELEMENT sa TAG HELPER NEAPLIKUJE, pretoze sa NENACHADZA v HTML ELEMENT [<main>]. -->
		<div my-color="green" my-font-size-in-pixels="50" MyFontName="Arial">
			HELLO WORLD !
		</div>
	</div>
</body>
</html>