@{
	Layout=null;
}

<!-- !!! Zaregistruje sa pouzitie CUSTOM TAG HELPER COMPONENT TAG HELPER. -->
@addTagHelper UsingTagHelpers.TagHelperComponentTagHelpers.CMyTagHelperComponentTagHelper, UsingTagHelpers

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! TAG HELPER COMPONENT sa aplikuje na HTML ELEMENT [main], pretoze TAG HELPER COMPONENT rozsiril aplikaciu TAG HELPER COMPONENTS na HTML ELEMENT [main]. -->
			<main>
				HELLO MAIN !
			</main>
		</div>

		<div class="INNER_BOX">
			<!-- !!! TAG HELPER COMPONENT sa NEAPLIKUE na HTML ELEMENT [nav], pretoze TAG HELPER COMPONENT NEROZSIRIL aplikaciu TAG HELPER COMPONENTS na HTML ELEMENT [nav]. -->
			<nav>
				HELLO NAV !
			</nav>
		</div>
	</div>
</body>
</html>