@{
	Layout=null;
}

<!-- !!! Zaregistruje sa pouzitie CUSTOM TAG HELPER. -->
@addTagHelper UsingTagHelpers.TagHelpers.CUsingViewContextTagHelper, UsingTagHelpers

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div my-color="green" my-font-size-in-pixels="10" MyFontName="Arial" Use="XXX">
			HELLO WORLD !
		</div>
	</div>
</body>
</html>