<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="Proxy"
                address="net.tcp://localhost:10000/"
                binding="netTcpBinding"
                contract="TransactionProtocolService.ITransactionProtocol"
                bindingConfiguration="Binding">
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>
        <!-- Nastavim TRANSACTION PROTOCOL. -->
        <binding name="Binding"
                 transactionFlow="true"
                 transactionProtocol="WSAtomicTransactionOctober2004">
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>