<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

  <system.serviceModel>
    <services>
      <service name="Service.CMyCustomAuthorizationService" behaviorConfiguration="SecureBehavior">
        <endpoint address="net.tcp://localhost:8001/Service" binding="netTcpBinding" contract="Service.IMyCustomAuthorizationService" bindingConfiguration="SecureBinding">
        </endpoint>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="SecureBinding">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SecureBehavior">
          <serviceCredentials>
            <!-- Definujem CUSTOM AUTHENTIFICATION. -->
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Service.CMyCustomUserNamePasswordValidator,Service"/>

            <serviceCertificate findValue="MyTestCert" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName"/>
          </serviceCredentials>

          <!-- Definujem CUSTOM AUTHORIZATION. -->
          <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="Service.CMyCustomServiceAuthorizationManager,Service">
            <!-- Kedze definujem CUSTOM PRINTICPAL, musim definovat AuthorizationPolicies. -->
            <authorizationPolicies>
              <add policyType="Service.CMyCustomAuthorizationPolicy,Service"/>
            </authorizationPolicies>
          </serviceAuthorization>

          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>