<!-- !!!!! Ako MODEL OBJECT sa v PARTIAL VIEWS NESMIE pouzivat RAZOR PAGE MODEL OBJECT. -->
@model CName

<table class="table table-bordered table-striped">
	<tr>
		<th>ID</th>
		<th>First name</th>
		<th>Last name</th>
		<th>Age</th>
	</tr>

	<tr>
		<th>
			@Model.ID
		</th>
						
		<td>
			[@Model.FirstName]
		</td>
						
		<td>
			[@Model.LastName]
		</td>
						
		<td>
			[@Model.Age] !
		</td>
	</tr>
</table>