@page

<!-- !!! Ako MODEL sa nastavi RAZOR PAGE MODEL CLASS. -->
@model ShowNameUsingPartialViews

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
    <title>Show Name</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			From PARTIAL VIEW 1:
			<!-- !!! Do PARTIAL VIEW sa posiela MODEL TYPE [CName] a NIE RAZOR PAGE MODEL TYPE. -->
			<!-- !!! PARTIAL VIEW sa nachadza v CURRENT DIRECTORY. -->
			<partial name="MyPartialView1" model="@Model.Name" />
		</div>

		<div class="INNER_BOX">
			From PARTIAL VIEW 2:
			<br />
			<!-- !!! PARTIAL VIEW sa nachadza v DIRECTORY [Pages]. -->
			<partial name="MyPartialView2" />
		</div>

		<div class="INNER_BOX">
			From PARTIAL VIEW 3:
			<br />
			<!-- !!! PARTIAL VIEW sa nachadza v DIRECTORY [Pages/Shared]. -->
			<partial name="MyPartialView3" />
		</div>

		<div class="INNER_BOX">
			From PARTIAL VIEW 4:
			<br />
			<!-- !!! PARTIAL VIEW sa nachadza v DIRECTORY [Views/Shared]. -->
			<partial name="MyPartialView4" />
		</div>
	</div>
</body>
</html>