<!-- !!! Toto je LAYOUT PAGE pouzivana RAZOR PAGE VIEW. -->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
    <title>Show Name</title>
</head>
<body>
	<div class="OUTER_BOX">
		LAYOUT:
		<div class="INNER_BOX">
			<!-- !!! Na toto miesto sa vklada obsah RAZOR PAGE VIEW. -->
			@RenderBody()
		</div>

		FROM VIEW START:
		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa CONTENT VIEW BAG, ktory sa nastavit vo FILE [_ViewStart.cshtml]. -->
			@ViewBag.Message
		</div>
	</div>
</body>
</html>