@model CSimpleChild[]

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-action="EditSimpleChildrenCallback">
			@for(int Index=0;Index<3;Index++)
			{
				<div class="form-group">
					<label>First name:</label>
					<!-- !!! SYNTAX [[INDEX].PROPERTY_NAME] mapuje VALUE INPUT HTML ELEMENT na PROPERTY 'PROPERTY_NAME' OBJECT s INDEX 'INDEX' v COMPLEX TYPE ARRAY (COLLECTION). -->
					<input class="form-control" name="[@Index].FirstName" />
				</div>

				<div class="form-group">
					<label>Last name:</label>
					<!-- !!! SYNTAX [[INDEX].PROPERTY_NAME] mapuje VALUE INPUT HTML ELEMENT na PROPERTY 'PROPERTY_NAME' OBJECT s INDEX 'INDEX' v COMPLEX TYPE ARRAY (COLLECTION). -->
					<input class="form-control" name="[@Index].LastName" />
				</div>

				<div class="form-group">
					<label>Age:</label>
					<!-- !!! SYNTAX [[INDEX].PROPERTY_NAME] mapuje VALUE INPUT HTML ELEMENT na PROPERTY 'PROPERTY_NAME' OBJECT s INDEX 'INDEX' v COMPLEX TYPE ARRAY (COLLECTION). -->
					<input class="form-control" name="[@Index].Age" />
				</div>

				<div class="form-group">
					<label>Sex:</label>
					<!-- !!! SYNTAX [[INDEX].PROPERTY_NAME] mapuje VALUE INPUT HTML ELEMENT na PROPERTY 'PROPERTY_NAME' OBJECT s INDEX 'INDEX' v COMPLEX TYPE ARRAY (COLLECTION). -->
					<select class="form-control" name="[@Index].Sex" asp-items="@new SelectList(Enum.GetNames(typeof(ESex)))">
					</select>
				</div>
			}

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Add child</button>
			</div>
		</form>
	</div>
</body>
</html>