@model CMultiSourceData

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<title>View Children</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>PROPERTY</th>
				<th>VALUE</th>
			</tr>

			<tr>
				<th>IDFromRouteVariable:</th>
				<td>[@Model.IDFromRouteVariable] !</td>
			</tr>
						
			<tr>
				<th>NameFromQueryString:</th>
				<td>[@Model.NameFromQueryString] !</td>
			</tr>
						
			<tr>
				<th>AcceptHeaderFromHeader:</th>
				<td>[@Model.AcceptHeaderFromHeader] !</td>
			</tr>
		</table>
	</div>
</body>
</html>