@model CChild

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<title>View Children</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>PROPERTY</th>
				<th>VALUE</th>
			</tr>

			<tr>
				<th>ID:</th>
				<td>[@Model.ID] !</td>
			</tr>
						
			<tr>
				<th>FirstName:</th>
				<td>[@Model.FirstName] !</td>
			</tr>
						
			<tr>
				<th>LastName:</th>
				<td>[@Model.LastName] !</td>
			</tr>
						
			<tr>
				<th>Age:</th>
				<td>[@Model.Age] !</td>
			</tr>
						
			<tr>
				<th>Sex:</th>
				<td>[@Model.Sex] !</td>
			</tr>
						
			<tr>
				<th>City:</th>
				<!-- !!! Pretoze PROPERTY 'Address' moze obsahovat NULL, je treba pridat kontrolu na NULL VALUE. -->
				<td>[@Model.Address?.City] !</td>
			</tr>
						
			<tr>
				<th>Country:</th>
				<!-- !!! Pretoze PROPERTY 'Address' moze obsahovat NULL, je treba pridat kontrolu na NULL VALUE. -->
				<td>[@Model.Address?.Country] !</td>
			</tr>
		</table>
	</div>
</body>
</html>