@model CName

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-controller="UseLabelTagHelpers" asp-action="UseLabelAttributesCallback">
			<div class="form-group">
				<!-- !!! TAG HELPER [LabelTagHelper] HTML ATTRIBUTE [asp-for] nastavi HTML ATTRIBUTE [for]. CONTENT sa zoberie z nastavenia ATTRIBUTE [DisplayAttribute] aplikovaneho na C# PROPERTY MODEL OBJECT. -->
				<label asp-for="FirstName"></label>
				<input class="form-control" asp-for="FirstName" />
			</div>

			<div class="form-group">
				<!-- !!! TAG HELPER [LabelTagHelper] HTML ATTRIBUTE [asp-for] nastavi HTML ATTRIBUTE [for]. CONTENT sa NENASTAVI, lebo bol EXPLICITNE nastaveny na HTML ELEMENT. -->
				<label asp-for="LastName">Last name:</label>
				<input class="form-control" asp-for="LastName" />
			</div>

			<div class="form-group">
				<!-- !!! TAG HELPER [LabelTagHelper] HTML ATTRIBUTE [asp-for] nastavi HTML ATTRIBUTE [for]. CONTENT sa NENASTAVI, lebo bol EXPLICITNE nastaveny na HTML ELEMENT. -->
				<label asp-for="Age"></label>
				<input class="form-control" asp-for="Age" />
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Add name</button>
			</div>
		</form>
	</div>
</body>
</html>