<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <protocolMapping>
      <!-- Definujem MAPPING, ktory urci, ze pre HTTP adresu je treba pouzit WsHttpBinding. -->
      <add scheme="http" binding="wsHttpBinding" bindingConfiguration="BC"/>
    </protocolMapping>
    
    <bindings>
      <wsHttpBinding>
        <binding name="BC"/>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>