<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ChannelFactoryService.CToUpperService">
        <endpoint address="http://localhost:8001/ToUpperService" binding="wsHttpBinding" contract="ChannelFactoryService.IToUpperService">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>