@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW, ktory zobrazuje FORM pouzivajuci FORM TAG HELPER. -->
			Go to [<a asp-controller="UseFormTagHelpers" asp-action="UseFormAttributes">Show VIEW using FORM TAG HELPER !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa RAZOR PAGE, ktory zobrazuje FORM pouzivajuci FORM TAG HELPER. -->
			Go to [<a href="http://localhost:50000/UseFormTagHelperPage">Show RAZOR PAGE using FORM TAG HELPER !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW, ktory zobrazuje FORM pouzivajuci INPUT TAG HELPER. -->
			Go to [<a asp-controller="UseInputTagHelpers" asp-action="UseInputAttributes">Show VIEW using INPUT TAG HELPER !</a>] !
			<br />
			<!-- !!! Zobrazi sa VIEW, ktory zobrazuje FORM pouzivajuci FORMATTING INPUT TAG HELPER. -->
			Go to [<a asp-controller="UseInputTagHelpers" asp-action="UseFormattedInput">Show VIEW using FORMATTING with INPUT TAG HELPER !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW, ktory zobrazuje FORM pouzivajuci LABEL TAG HELPER. -->
			Go to [<a asp-controller="UseLabelTagHelpers" asp-action="UseLabelAttributes">Show VIEW using LABEL TAG HELPER !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW, ktory zobrazuje FORM pouzivajuci SELECT TAG HELPER. -->
			Go to [<a asp-controller="UseSelectTagHelpers" asp-action="UseSelectAttributes">Show VIEW using SELECT TAG HELPER !</a>] !
			<br />
			<!-- !!! Zobrazi sa VIEW, ktory zobrazuje FORM pouzivajuci SELECT TAG HELPER, ktora naplna ITEMS z ENUM. -->
			Go to [<a asp-controller="UseSelectTagHelpers" asp-action="UseSelectWithItemsFromEnum">Show VIEW using SELECT TAG HELPER with ENUM ITEMS !</a>] !
			<br />
			<!-- !!! Zobrazi sa VIEW, ktory zobrazuje FORM pouzivajuci SELECT TAG HELPER, ktora naplna ITEMS z VIEW BAG. -->
			Go to [<a asp-controller="UseSelectTagHelpers" asp-action="UseSelectWithItemsFromEnumFromViewBag">Show VIEW using SELECT TAG HELPER with ENUM ITEMS from VIEW BAG !</a>] !
			<br />
			<!-- !!! Zobrazi sa VIEW, ktory zobrazuje FORM pouzivajuci SELECT TAG HELPER, ktora naplna ITEMS pomocou CUSTOM TAG HELPER. -->
			Go to [<a asp-controller="UseSelectTagHelpers" asp-action="UseSelectWithItemsFromEnumUsingCustomTagHelper">Show VIEW using SELECT TAG HELPER with ENUM ITEMS using CUSTOM TAG HELPER !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW, ktory zobrazuje FORM pouzivajuci TEXT AREA TAG HELPER. -->
			Go to [<a asp-controller="UseTextAreaTagHelpers" asp-action="UseTextAreaAttributes">Show VIEW using TEXT AREA TAG HELPER !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW, ktory zobrazuje FORM pouzivajuci FORM TAG HELPER so zapnutou ochranou voci CROSS SITE REQUEST FORGERY. -->
			Go to [<a asp-controller="UseFormTagHelpers" asp-action="UseAntiForgery">Show VIEW using FORM TAG HELPER with ENABLED CROSS SITE REQUEST FORGERY PROTECTION !</a>] !
			<br />
			<!-- !!! Zobrazi sa RAZOR PAGE, ktory zobrazuje FORM pouzivajuci FORM TAG HELPER so VYPNUTOU ochranou voci CROSS SITE REQUEST FORGERY. -->
			Go to [<a href="http://localhost:50000/UseDisableAntiForgeryCheckInFormTagHelperPage">Show RAZOR PAGE using FORM TAG HELPER with DISABLED CROSS SITE REQUEST FORGERY PROTECTION !</a>] !
			<br />
			<!-- !!! Zobrazi sa RAZOR PAGE, ktory simuluje zaslanie FORM DATA z JAVA SCRIPT spolu so zaslanim ANTIFORGERY TOKEN. -->
			Go to [<a href="http://localhost:50000/JavaScriptClientPage">Show RAZOR PAGE using FORM TAG HELPER with JAVA SCRIPT CROSS SITE REQUEST FORGERY PROTECTION !</a>] !
		</div>
	</div>
</body>
</html>