<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="Client"
                address="net.tcp://localhost:8000/Service"
                binding="netTcpBinding"
                contract="MetadataImporterService.ITestService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>