<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ManualWCFLibrary.CHelloWorldService" behaviorConfiguration="MEX">
        <endpoint address="net.tcp://localhost:9001/IHelloWorldContract" binding="netTcpBinding" contract="ManualWCFLibrary.IHelloWorldContract"/>
        <endpoint address="net.tcp://localhost:9001/IThrowExceptionContract" binding="netTcpBinding" contract="ManualWCFLibrary.IThrowExceptionContract"/>
        <!--MEX rozhranie  musi byt zverejnene inak nejde vytvorit proxy !-->
        <!--Eventualne ak mam HTTP kanal potom aj HTTP-GET.-->
        <endpoint address="net.tcp://localhost:9001/MEX" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9001/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="ManualWCFLibrary.CGetSetSetrvice" behaviorConfiguration="MEX">
        <endpoint address="net.tcp://localhost:9002/IIntGetSetContract" binding="netTcpBinding" contract="ManualWCFLibrary.IIntGetSetContract"/>
        <endpoint address="net.tcp://localhost:9002/IStringGetSetContract" binding="netTcpBinding" contract="ManualWCFLibrary.IStringGetSetContract"/>
        <!--MEX rozhranie  musi byt zverejnene inak nejde vytvorit proxy !-->
        <!--Eventualne ak mam HTTP kanal potom aj HTTP-GET.-->
        <endpoint address="net.tcp://localhost:9002/MEX" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9002/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MEX">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>