@page
@model ModelValidation.Pages.PageManualValidationModel

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<!-- !!!!! BOOTSTRAP sa MUSI nachadzat PRED 'Errors.css', inak sa CSS CLASS 'Errors.css' NEAPLIKUJE. -->
	<link rel="stylesheet" href="~/StaticFiles/Styles/Errors.css" />
	<!-- !!! CSS STYLE spravi BORDER okolo ERROR MESSAGES. -->
	<link rel="stylesheet" href="~/StaticFiles/Styles/ErrorStyles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-page="PageManualValidation" asp-page-handler="MyHandler">
			<div class="form-group">
				<label asp-for="Child.FirstName">First name:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("Child.FirstName")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<!-- !!! TAG HELPER [ValidationMessageTagHelper] MUSI byt aplikovany na HTML ELEMENT [<span>]. -->
						<span asp-validation-for="Child.FirstName"></span>
					</div>
				}

				<input class="form-control" asp-for="Child.FirstName" />
			</div>

			<div class="form-group">
				<label asp-for="Child.LastName">Last name:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("Child.LastName")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<!-- !!! TAG HELPER [ValidationMessageTagHelper] MUSI byt aplikovany na HTML ELEMENT [<span>]. -->
						<span asp-validation-for="Child.LastName"></span>
					</div>
				}

				<input class="form-control" asp-for="Child.LastName" />
			</div>

			<div class="form-group">
				<label asp-for="Child.Age">Age:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("Child.Age")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<!-- !!! TAG HELPER [ValidationMessageTagHelper] MUSI byt aplikovany na HTML ELEMENT [<span>]. -->
						<span asp-validation-for="Child.Age"></span>
					</div>
				}

				<input class="form-control" asp-for="Child.Age" />
			</div>

			<div class="form-group">
				<label asp-for="Child.Sex">Sex:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("Child.Sex")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<!-- !!! TAG HELPER [ValidationMessageTagHelper] MUSI byt aplikovany na HTML ELEMENT [<span>]. -->
						<span asp-validation-for="Child.Sex"></span>
					</div>
				}

				<select class="form-control" asp-for="Child.Sex" asp-items="@new SelectList(Enum.GetNames(typeof(ESex)))">
					<option>Select your SEX:</option>
				</select>
			</div>

			@if (ViewContext.ModelState!=null && ViewContext.ModelState.IsValid==false)
			{
				<!-- !!! V HTML ELEMENT [<div>] sa zobrazia vsetky VALIDATION ERRORS. -->
				<div class="ERROR_BOX" asp-validation-summary="All">
					ALL VALIDATION ERRORS:
				</div>
			}

			@if (ViewContext.ModelState!=null && ViewContext.ModelState.IsValid==false)
			{
				<!-- !!! V HTML ELEMENT [<div>] sa zobrazia MODEL VALIDATION ERRORS. -->
				<div class="ERROR_BOX" asp-validation-summary="ModelOnly">
					MODEL VALIDATION ERRORS:
				</div>
			}

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Add child</button>
			</div>
		</form>
	</div>
</body>
</html>