@page
@model ModelValidation.Pages.PageRemoteValidationModel

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<!-- !!!!! BOOTSTRAP sa MUSI nachadzat PRED 'Errors.css', inak sa CSS CLASS 'Errors.css' NEAPLIKUJE. -->
	<link rel="stylesheet" href="~/StaticFiles/Styles/Errors.css" />
	<!-- !!! CSS STYLE spravi BORDER okolo ERROR MESSAGES. -->
	<link rel="stylesheet" href="~/StaticFiles/Styles/ErrorStyles.css" />

	<!-- !!! Vlozia sa JAVA SCRIPT LIBRARIES, ktore vykonavaju CLIENT SIDE VALIDATION. -->
	<!-- !!! SCRIPTS MUSIA byt INCLUDED v tomto poradi. -->
	<script src="~/StaticFiles/ClientLibraries/JQuery/jquery.js"></script>
	<script src="~/StaticFiles/ClientLibraries/JQueryValidate/jquery.validate.js"></script>
	<script src="~/StaticFiles/ClientLibraries/JQueryValidateUnobtrusive/jquery.validate.unobtrusive.js"></script>

	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-page="PageRemoteValidation" asp-page-handler="MyHandler">
			<div class="form-group">
				<label asp-for="Child.FirstName">First name:</label>
				<div class="ERROR_BOX">
					<!-- !!! TAG HELPER [ValidationMessageTagHelper] MUSI byt aplikovany na HTML ELEMENT [<span>]. -->
					<span asp-validation-for="Child.FirstName"></span>
				</div>
				<input class="form-control" asp-for="Child.FirstName" />
			</div>

			<div class="form-group">
				<label asp-for="Child.LastName">Last name:</label>
				<div class="ERROR_BOX">
					<!-- !!! TAG HELPER [ValidationMessageTagHelper] MUSI byt aplikovany na HTML ELEMENT [<span>]. -->
					<span asp-validation-for="Child.LastName"></span>
				</div>
				<input class="form-control" asp-for="Child.LastName" />
			</div>

			<div class="form-group">
				<label asp-for="Child.Age">Age:</label>
				<div class="ERROR_BOX">
					<!-- !!! TAG HELPER [ValidationMessageTagHelper] MUSI byt aplikovany na HTML ELEMENT [<span>]. -->
					<span asp-validation-for="Child.Age"></span>
				</div>
				<input class="form-control" asp-for="Child.Age" />
			</div>

			<div class="form-group">
				<label asp-for="Child.Sex">Sex:</label>
				<div class="ERROR_BOX">
					<!-- !!! TAG HELPER [ValidationMessageTagHelper] MUSI byt aplikovany na HTML ELEMENT [<span>]. -->
					<span asp-validation-for="Child.Sex"></span>
				</div>
				<select class="form-control" asp-for="Child.Sex" asp-items="@new SelectList(Enum.GetNames(typeof(ESex)))">
					<option>Select your SEX:</option>
				</select>
			</div>

			<!-- !!! V HTML ELEMENT [<div>] sa zobrazia vsetky VALIDATION ERRORS. -->
			<div class="ERROR_BOX" asp-validation-summary="All">
				ALL VALIDATION ERRORS:
			</div>

			<!-- !!! V HTML ELEMENT [<div>] sa zobrazia MODEL VALIDATION ERRORS. -->
			<div class="ERROR_BOX" asp-validation-summary="ModelOnly">
				MODEL VALIDATION ERRORS:
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Add child</button>
			</div>
		</form>
	</div>
</body>
</html>