@page

@model UsingBlazorServer2.Pages.PageBlazorErrorHandlingModel

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<!-- !!! Nacitaju sa ERROR CSS STYLES. -->
	<link rel="stylesheet" href="~/StaticFiles/Styles/BlazorErrors.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Counter</title>
	<!-- HTML ELEMENT MUSI byt pridany kvoli BLAZOR SERVER. -->
	<base href="~/" />
</head>
<body>
	<!-- !!! BLAZOR FRAMEWORK vyhladava HTML ELEMENT s tymto ID. -->
	<!-- !!! Ak NIE JE ERROR, tak je CSS STYLE nastaveny na VALUE [components-reconnect-hide]. -->
	<!-- !!!!! Ak dojde ku CONNECTION ERROR, tak BLAZOR FRAMEWORK ZMENI v HTML ELEMENT s ID [components-reconnect-modal] STYLE z VALUE [components-reconnect-hide] na VALUE [components-reconnect-show]. -->
	<div id="components-reconnect-modal" class="OUTER_BOX components-reconnect-hide">
		BLAZOR CONNECTION LOST !!!
		
		<div class="BLAZOR_RECONNECT">
			TRYING to RECONNECT...
		</div>
		
		<div class="BLAZOR_FAILED">
			RECONNECTION FAILED !
			<br />
			<!-- !!! Ak CONNECTION bola FAILED, je mozne urobit RECONNECT. -->
			<button class="btn btn-primary" onclick="window.Blazor.reconnect()">Reconnect</button>
		</div>
		
		<div class="BLAZOR_REJECTED">
			RECONNECTION REJECTED !
			<br />
			<!-- !!! Ak CONNECTION bola REJECTED, je NUTNE vykonat RELOAD RAZO PAGE. -->
			<button class="btn btn-primary" onclick="location.reload()">Reload</button>
		</div>
	</div>

	<div class="OUTER_BOX">
		<!-- !!! Do VIEW sa vlozi BLAZOR COMPONENT. -->
		<component type="typeof(UsingBlazorServer2.Blazor.CounterComponent)" render-mode="Server" />
	</div>

	<!-- HTML ELEMENT MUSI byt pridany kvoli BLAZOR SERVER. -->
	<!-- !!! FILE obsahuje JAVA SCRIPT FILE potrebny pre BLAZOR. Jeho CONTENT generuje MIDDLEWARE COMPONENT pridany volanim METHOD [IServerSideBlazorBuilder IServiceCollection.AddServerSideBlazor(Action<CircuitOptions> Configure] v STARTUP CLASS. -->
	<script src="_framework/blazor.server.js" ></script>
</body>
</html>