@page

@model UsingBlazorServer2.Pages.PageTemplateSectionsModel

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Counter</title>
	<!-- HTML ELEMENT MUSI byt pridany kvoli BLAZOR SERVER. -->
	<base href="~/" />
</head>
<body>
	<div class="OUTER_BOX">
		<!-- !!! Do RAZOR PAGE sa vlozi BLAZOR COMPONENT. -->
		<component type="typeof(UsingBlazorServer2.Blazor.TemplateSectionsParent)" render-mode="Server" />
	</div>

	<!-- HTML ELEMENT MUSI byt pridany kvoli BLAZOR SERVER. -->
	<!-- !!! FILE obsahuje JAVA SCRIPT FILE potrebny pre BLAZOR. Jeho CONTENT generuje MIDDLEWARE COMPONENT pridany volanim METHOD [IServerSideBlazorBuilder IServiceCollection.AddServerSideBlazor(Action<CircuitOptions> Configure] v STARTUP CLASS. -->
	<script src="_framework/blazor.server.js" ></script>
</body>
</html>