<configuration>
  <system.serviceModel>
    <services>
      <service name="WindowsCredentialsHost.CSecureContract" behaviorConfiguration="SecureBehavior">
        <endpoint address="net.tcp://localhost:8001/Service" binding="netTcpBinding" contract="WindowsCredentialsHost.ISecureContract" bindingConfiguration="SecureBinding">
        </endpoint>

        <endpoint address="net.tcp://localhost:8001/MEX" binding="mexTcpBinding" contract="IMetadataExchange">
        </endpoint>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="SecureBinding">
          <security mode="Message">
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SecureBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>

          <serviceCredentials>
            <!-- !!!!! Pre Windows Credentials NETREBA CERTIFIKAT. -->
            <userNameAuthentication userNamePasswordValidationMode="Windows"
                                    includeWindowsGroups="true"/>
          </serviceCredentials>

          <serviceAuthorization principalPermissionMode="UseWindowsGroups">
          </serviceAuthorization>

          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>