@page

@model SecuringWebServicesBearerTokens.Pages.PageAddUserModel

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<!-- !!!!! BOOTSTRAP sa MUSI nachadzat PRED 'Errors.css', inak sa CSS CLASS 'Errors.css' NEAPLIKUJE. -->
	<link rel="stylesheet" href="~/StaticFiles/Styles/Errors.css" />
	<title>Add User</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-page="PageAddUser">
			<div class="INNER_BOX" asp-validation-summary="All"></div>

			<div class="form-group">
				<label asp-for="UserAdd.UserName">User name:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("UserAdd.UserName")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="UserAdd.UserName"></span>
					</div>
				}

				<input class="form-control" asp-for="UserAdd.UserName" />
			</div>

			<div class="form-group">
				<label asp-for="UserAdd.Email">Email:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("UserAdd.Email")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="UserAdd.Email"></span>
					</div>
				}

				<input class="form-control" asp-for="UserAdd.Email" />
			</div>

			<div class="form-group">
				<label asp-for="UserAdd.Password">Password:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("UserAdd.Password")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="UserAdd.Password"></span>
					</div>
				}

				<input class="form-control" asp-for="UserAdd.Password" value="" />
			</div>

			<div class="form-group">
				<label asp-for="UserAdd.Description">Description:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("UserAdd.Description")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="UserAdd.Description"></span>
					</div>
				}

				<input class="form-control" asp-for="UserAdd.Description" value="" />
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Add user</button>
				<a class="btn btn-sm btn-primary" asp-page="/UserManagement/PageViewUsers">Cancel</a>
			</div>
		</form>
	</div>
</body>
</html>