@page

@model SecuringWebServicesBearerTokens.Pages.PageEditUserModel

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<!-- !!!!! BOOTSTRAP sa MUSI nachadzat PRED 'Errors.css', inak sa CSS CLASS 'Errors.css' NEAPLIKUJE. -->
	<link rel="stylesheet" href="~/StaticFiles/Styles/Errors.css" />
	<title>Edit User</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-page="PageEditUser">
			<div class="INNER_BOX" asp-validation-summary="All"></div>

			<div class="form-group">
				<label asp-for="UserEdit.ID">ID:</label>
				<input class="form-control" asp-for="UserEdit.ID" readonly />
			</div>

			<div class="form-group">
				<label asp-for="UserEdit.UserName">User name:</label>
				<input class="form-control" asp-for="UserEdit.UserName" readonly />
			</div>

			<div class="form-group">
				<label asp-for="UserEdit.Email">Email:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("UserEdit.Email")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="UserEdit.Email"></span>
					</div>
				}

				<input class="form-control" asp-for="UserEdit.Email" />
			</div>

			<div class="form-group">
				<label asp-for="UserEdit.Password">Password:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("UserEdit.Password")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="UserEdit.Password"></span>
					</div>
				}

				<input class="form-control" asp-for="UserEdit.Password" value="" />
			</div>

			<div class="form-group">
				<label asp-for="UserEdit.Description">Description:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("UserEdit.Description")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="UserEdit.Description"></span>
					</div>
				}

				<input class="form-control" asp-for="UserEdit.Description" />
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Edit user</button>
				<a class="btn btn-sm btn-primary" asp-page="/UserManagement/PageViewUsers">Cancel</a>
			</div>
		</form>
	</div>
</body>
</html>