<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- !!! ENDPOINTS pre ROUTER. Kazdy SERVICE MUSI mat VLASTNY ROUTER ENDPOINT. -->
      <service name="System.ServiceModel.Routing.RoutingService"
               behaviorConfiguration="RoutingBehavior">
        <!-- !!! Meno ROUTER ENDPOINT RouterEndpointToUpper je pouzite fo FILTROCH. -->
        <endpoint name="RouterEndpointToUpper"
                  address="net.tcp://localhost:10001/"
                  binding="netTcpBinding"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter">  
        </endpoint>

        <!-- !!! Meno ROUTER ENDPOINT RouterEndpointToLower je pouzite fo FILTROCH. -->
        <endpoint name="RouterEndpointToLower"
                  address="net.tcp://localhost:10002/"
                  binding="netTcpBinding"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter">
        </endpoint>
      </service>
    </services>

    <!-- Definicia DESTINATION ENDPOINTS, teda ENDPOINT do ktorych ma ROUTER smerovat volania. -->
    <client>
      <endpoint name="ToUpperEndpoint"
                address="net.tcp://localhost:8001/"
                binding="netTcpBinding"
                contract="*">
      </endpoint>

      <endpoint name="ToLowerEndpoint"
                address="net.tcp://localhost:8002/"
                binding="netTcpBinding"
                contract="*">
      </endpoint>

      <endpoint name="ToUpperEndpointBackup"
                address="net.tcp://localhost:9001/"
                binding="netTcpBinding"
                contract="*">
      </endpoint>

      <endpoint name="ToLowerEndpointBackup"
                address="net.tcp://localhost:9002/"
                binding="netTcpBinding"
                contract="*">
      </endpoint>
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="RoutingBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!-- Aby ROUTER fungoval, musi povolit ROUTER BEHAVIOR a definovat FILTER TABLE. -->
          <routing filterTableName="MyFilterTable"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <routing>
      <backupLists>
        <backupList name="MyBackup1">
          <add endpointName="ToUpperEndpointBackup"/>
        </backupList>

        <backupList name="MyBackup2">
          <add endpointName="ToLowerEndpointBackup"/>
        </backupList>
      </backupLists>
      
      <filterTables>
        <!-- !!! FILTER TABLE vykonava ASOCIACIU DESTINATION ENDPOINTS a FILTERS. -->
        <filterTable name="MyFilterTable">
          <add filterName="ToUpperFilter" endpointName="ToUpperEndpoint" backupList="MyBackup1"/>
          <add filterName="ToLowerFilter" endpointName="ToLowerEndpoint" backupList="MyBackup2"/>
        </filterTable>
      </filterTables>
      
      <!-- Filtre urcuju kriteria podla ktorych sa bude posielat MESSAGE danemu DESTINATION SERVICE. -->
      <filters>
        <!-- RouterEndpointToUpper - je meno ROUTER ENDPOINT. -->
        <filter name="ToUpperFilter" filterType="EndpointName" filterData="RouterEndpointToUpper"/>
        <!-- RouterEndpointToLower - je meno ROUTER ENDPOINT. -->
        <filter name="ToLowerFilter" filterType="EndpointName" filterData="RouterEndpointToLower"/>
      </filters>
    </routing>
  </system.serviceModel>
</configuration>