<?xml version="1.0"?>
<configuration>
  <system.web>
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <add name="MyMembershipProvider" type="MySecurityProviderService.CMyMembershipProvider, MySecurityProviderService" applicationName="MyApplication"/>
      </providers>
    </membership>

    <roleManager enabled="true" defaultProvider="MyRoleManager">
      <providers>
        <add name="MyRoleManager" type="MySecurityProviderService.CMyRoleProvider, MySecurityProviderService" applicationName="MyApplication"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>