<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ReliableSession_FaultEvent_Shared.CSimpleTestInterface">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:3000/"/>
          </baseAddresses>
        </host>
        <endpoint address="Test"
                  binding="netTcpBinding"
                  bindingConfiguration="EndpointBinding"
                  contract="ReliableSession_FaultEvent_Shared.ISimpleTestInterface">
        </endpoint>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="EndpointBinding">
          <security mode="None"/>
          
          <!-- !!!!! NEPOUZIVAM RELIABLE SESSION. -->
          <reliableSession enabled="false"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>