<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="StaticEndpoint"
                address="net.tcp://localhost:9000/"
                binding="netTcpBinding"
                contract="DynamicEndpointTestHost.IToUpper">
      </endpoint>

      <!-- NEUVADZAM ADRESU. WCF si ju cez DISCOVERY sama najde. -->
      <endpoint name="DynamicEndpoint"
                kind="dynamicEndpoint"
                binding="netTcpBinding"
                contract="DynamicEndpointTestHost.IToUpper">
      </endpoint>
    </client>

    <standardEndpoints>
      <dynamicEndpoint>
        <standardEndpoint>
          <discoveryClientSettings>
            <findCriteria duration="00:00:05" maxResults="1">
              <types>
                <add name="IToUpper"/>
              </types>
            </findCriteria>
          </discoveryClientSettings>
        </standardEndpoint>
      </dynamicEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>