<!-- !!! FILE obsahuje VIEW, ktory vyuziva PARTIAL VIEWS. -->

@model CName[]

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>View Using Partial Views</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="bg-info">
			This TEXT 111 is from VIEW !
		</div>

		<!-- !!! Vlozi sa UNTYPED PARTIAL VIEW. -->
		<partial name="PartialViewUntyped"/>

		<div class="bg-info">
			This TEXT 222 is from VIEW !
		</div>

		<!-- !!! Volanie METHOD zobrazi STRONGLY TYPED PARTIAL VIEW. 2. PARAMETER je MODEL pre PARTIAL VIEW. Zasiela sa tam MODEL z celeho VIEW. -->
		<!-- !!! Pouzitie METHOD je ALTERNATIVNOU SYNTAX voci pouzitiu CLASS [PartialTagHelper]. -->
		<!--await Html.PartialAsync("PartialViewStronglyTyped",Model)-->

		<!-- !!! Vlozi sa TYPED PARTIAL VIEW. -->
		<partial name="PartialViewStronglyTyped" model="@Model"/>

		<div class="bg-info">
			This TEXT 333 is from VIEW !
		</div>
	</div>
</body>
</html>