<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="BehaviorsConfigurationHost.CConfiguredByAttribute">
        <endpoint address="net.tcp://localhost:8000/CConfiguredByAttribute" binding="netTcpBinding" contract="BehaviorsConfigurationHost.IConfiguredByAttribute">
        </endpoint>
      </service>

      <service name="BehaviorsConfigurationHost.CConfiguredByCode">
        <endpoint address="net.tcp://localhost:8000/CConfiguredByCode" binding="netTcpBinding" contract="BehaviorsConfigurationHost.IConfiguredByCode">
        </endpoint>
      </service>

      <service name="BehaviorsConfigurationHost.CConfiguredByConfigFile" behaviorConfiguration="BehaviorConfiguredByConfigFile">
        <endpoint address="net.tcp://localhost:8000/CConfiguredByConfigFile" binding="netTcpBinding" contract="BehaviorsConfigurationHost.IConfiguredByConfigFile">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="BehaviorConfiguredByConfigFile">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>