@page

@model ApplyingCoreIdentity.Pages.PageAllowAuthorizedContentModel

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Page Route Fallback</title>
	<!-- HTML ELEMENT MUSI byt pridany kvoli BLAZOR SERVER. -->
	<base href="~/" />
</head>
<body>
	<div class="OUTER_BOX">
		<!-- !!!!! Pouzije sa CUSTOM ROUTER BLAZOR COMPONENT, ktora VYZADUJE AUTHORIZATION. -->
		<component type="typeof(ApplyingCoreIdentity.Blazor.SecuredRouterComponent)" render-mode="Server" />
	</div>

	<div class="OUTER_BOX">
		<a class="btn btn-primary" asp-page-handler="Logout">Logout</a>
	</div>

	<!-- HTML ELEMENT MUSI byt pridany kvoli BLAZOR SERVER. -->
	<!-- !!! FILE obsahuje JAVA SCRIPT FILE potrebny pre BLAZOR. Jeho CONTENT generuje MIDDLEWARE COMPONENT pridany volanim METHOD [IServerSideBlazorBuilder IServiceCollection.AddServerSideBlazor(Action<CircuitOptions> Configure] v STARTUP CLASS. -->
	<script src="_framework/blazor.server.js" ></script>
</body>
</html>