<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IStringOperations1Contract" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
                        <message clientCredentialType="Windows"/>
                    </security>
                </binding>
                <binding name="NetTcpBinding_IStringOperations2Contract" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
                        <message clientCredentialType="Windows"/>
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMathOperations1Contract" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
                        <message clientCredentialType="Windows"/>
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMathOperations2Contract" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
                        <message clientCredentialType="Windows"/>
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9001/IStringOperations1Contract" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IStringOperations1Contract" contract="FirstWCFClient.StringOperationsService.IStringOperations1Contract" name="NetTcpBinding_IStringOperations1Contract">
                <identity>
                    <userPrincipalName value="WORK\Administrator"/>
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9001/IStringOperations2Contract" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IStringOperations2Contract" contract="FirstWCFClient.StringOperationsService.IStringOperations2Contract" name="NetTcpBinding_IStringOperations2Contract">
                <identity>
                    <userPrincipalName value="WORK\Administrator"/>
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9002/IMathOperations1Contract" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMathOperations1Contract" contract="FirstWCFClient.MathOperationsService.IMathOperations1Contract" name="NetTcpBinding_IMathOperations1Contract">
                <identity>
                    <userPrincipalName value="WORK\Administrator"/>
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9002/IMathOperations2Contract" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMathOperations2Contract" contract="FirstWCFClient.MathOperationsService.IMathOperations2Contract" name="NetTcpBinding_IMathOperations2Contract">
                <identity>
                    <userPrincipalName value="WORK\Administrator"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>