<!-- !!! BLAZOR COMPONENT LAYOUTS MUSIA byt DERIVED z CLASS [LayoutComponentBase]. -->
@inherits LayoutComponentBase

<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<!-- !!! Na toto miesto sa vlozi CONTENT BLAZOR COMPONENT LAYOUT. -->
		@Body
	</div>
</div>