<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<label>NON SECURED - Counter value [@Counter] !</label>
	</div>

	<button class="btn btn-primary" @onclick="IncrementCounter">Increment counter</button>
</div>