<!-- !!! ROUTER BLAZOR COMPONENT zabezpecuje previazanie medzi ASP.NET CORE ROUTING a BLAZOR ROUTING. -->
<Router AppAssembly="typeof(Startup).Assembly">
	<!-- !!! Tento CONTENT sa zobrazi ak ROUTING NASIEL hladany BLAZOR COMPONENT. -->
	<Found>
		<h5>CONTENT from ROUTER COMPONENT !</h5>
		<!-- !!!!! Aplikuje sa BLAZOR COMPONENT [AuthorizeRouteView]. -->
		<!-- !!!!! Ak bol hlada BLAZOR COMPONENT NAJDENY, tak sa jednoducho zobrazi, pomocou CLASS [AuthorizeRouteView]. -->
		<!-- !!! Pomocou HTML ATTRIBUTE [DefaultLayout] je mozne aplikovat DEFAULT BLAZOR COMPONENT LAYOUT. -->
		<AuthorizeRouteView RouteData="@context" DefaultLayout="typeof(ApplyingCoreIdentity.Blazor.Layout)">
			<!-- !!! HTML ELEMENT [NotAuthorized] urcuje HTML CONTENT, ktory sa ma zobrazit ako USER nie je AUTHORIZED na pristup k danemu BLAZOR COMPONENT. -->
			<NotAuthorized Context="authContext">
				<h2>USER is NOT AUTHORIZED to ACCESS BLAZOR COMPONENT !!!</h2>
			</NotAuthorized>
		</AuthorizeRouteView>
	</Found>

	<!-- !!! Tento CONTENT sa zobrazi ak ROUTING NENASIEL hladany BLAZOR COMPONENT. -->
	<NotFound>
		<div class="INNER_BOX">
			NO MATCHING ROUTE FOUND !!!
		</div>
	</NotFound>
</Router>