<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="CustomDeadLetterQueueReaderHost.CCustomDLQReaderService">
        <!-- Pouzivam TEN ISTY CONTRACT ako POVODNY SERVICE. -->
        <endpoint address="net.msmq://localhost/private/CustomDLQ" 
                  binding="netMsmqBinding" 
                  contract="CustomDeadLetterQueueClient.ICustomDLQTest" 
                  bindingConfiguration="BC" 
                  name="MS">
        </endpoint>
      </service>
    </services>

    <bindings>
      <!-- !!!!! Ked chcem posielat CUSTOM DLQ a ta vyzera MUSI BYT TRANSAKCNA musim nastavit 'exactlyOnce' na TRUE. -->
      <netMsmqBinding>
        <binding name="BC" 
                 exactlyOnce="true" 
                 durable="true">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>