<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="CustomSchemaHost.CTestService" behaviorConfiguration="VehicleReservationServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Vehicles"/>
          </baseAddresses>
        </host>
          
        <endpoint address="VehicleReservationService" binding="basicHttpBinding" contract="CustomSchemaHost.ITestService"/>
          
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
          
      </service>        
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="VehicleReservationServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>