@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW, ktory pouziva MANUAL ERROR CHECKING. -->
			Go to [<a asp-controller="ManualErrorChecking" asp-action="EditChild">Show VIEW with MANUAL ERROR CHECKING !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR VIEW, ktory pouziva MANUAL ERROR CHECKING. -->
			Go to [<a href="http://localhost:50000/PageManualValidation">Show RAZOR PAGE with MANUAL ERROR CHECKING !</a>] !
			<br/>
			<!-- !!! Zobrazi sa VIEW, ktory pouziva AUTO ERROR CHECKING. -->
			Go to [<a asp-controller="AutoErrorChecking" asp-action="EditChild">Show VIEW with AUTO ERROR CHECKING !</a>] !
			<br/>
			<!-- !!! Zobrazi sa VIEW, ktory pouziva AUTO ERROR CHECKING a zaroven sa pouziva CLIENT SIDE CHECKING. -->
			Go to [<a asp-controller="ClientSideChecking" asp-action="EditChild">Show VIEW with AUTO ERROR CHECKING and CLIENT SIDE CHECKING !</a>] !
			<br/>
			<!-- !!! Zobrazi sa VIEW, ktory pouziva AUTO ERROR CHECKING a zaroven sa pouziva REMOTE SIDE CHECKING. -->
			Go to [<a asp-controller="RemoteErrorChecking" asp-action="EditChild">Show VIEW with AUTO ERROR CHECKING and REMOTE SIDE CHECKING !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR VIEW, ktory pouziva AUTO ERROR CHECKING a zaroven sa pouziva REMOTE SIDE CHECKING. -->
			Go to [<a href="http://localhost:50000/PageRemoteValidation">Show VIEW with AUTO ERROR CHECKING and REMOTE SIDE CHECKING !</a>] !
		</div>
	</div>
</body>
</html>