<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MetadataMEXServiceKind.CToUpperService" behaviorConfiguration="MyMEX">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5001/"/>
          </baseAddresses>
        </host>
        
        <endpoint address="net.tcp://localhost:8001/" binding="netTcpBinding" contract="MetadataMEXServiceKind.IToUpperService">
        </endpoint>

        <!-- MEX ENDPOINT vystaveny cez KIND. Ako adresa sa pouzije BASE ADDRESS. -->
        <!-- Kontrola ci skutocne bol MEX vystaveny je mozne JEDINE CEZ prikaz [svcutil.exe http://localhost:5001/MEX]. Kedze HTTP GET nebol vystaveny, tak cez IE dotazom na adresu [http://localhost:5001/MEX], tak vrati HTTP ERROR. -->
        <endpoint kind="mexEndpoint" address="MEX"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyMEX">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>