<!-- !!! KEYWORD [model] sa pouziva na urcenie MODEL OBJECT TYPE. -->
@model CName[]

@{
	Layout=null;
}

<!-- !!! CODE BLOCKS mozu obsahovat lubovolny C# CODE. -->
@{
	int															NumberOfItems=Model.Length;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Enumeration</title>
</head>
<body>
	<div class="OUTER_BOX">
		<h5>VIEW SOURCE [RazorKeywords/Enumeration.cshtml] !</h5>

		<table class="table table-bordered table-striped">
			<tr>
				<th>
					ID
				</th>

				<th>
					First name
				</th>

				<th>
					Last name
				</th>

				<th>
					Full name
				</th>

				<th>
					Age
				</th>

				<th>
					Sex
				</th>
			</tr>

			<!-- !!! Pomocou KEYWORD [foreach] je mozne vo VIEWS vykonavat ITERATIONS cez COLLECTIONS. -->
			@foreach(CName Name in Model)
			{
				<tr>
					<td>
						[@Name.ID]
					</td>

					<td>
						[@Name.FirstName]
					</td>

					<td>
						[@Name.LastName]
					</td>

					<td>
						<!-- !!! EXPRESSIONS mozu byt aj zlozitejsie, no MUSIA byt uzatvorene v zatvorkach [()]. -->
						[@(Name.FirstName+" "+Name.LastName)]
					</td>

					<td>
						[@Name.Age]
					</td>

					<td>
						[@Name.Sex] !
					</td>
				</tr>
			}

			<tr>
				<td colspan="6">
					<!-- !!! Pouzije sa VARIABLE, ktora bola definovat v CODE BLOCK. -->
					Number of ITEMS [@NumberOfItems] !
				</td>
			</tr>
		</table>
	</div>
</body>
</html>