@page "/ViewPersonDetails/{ID:int}"

<div class="OUTER_BOX">
	<table class="table table-bordered table-striped">
		<tr>
			<th>Property</th>
			<th>Value</th>
		</tr>

		<tr>
			<th>First name</th>

			<td>
				[@Person.FirstName] !
			</td>
		</tr>
						
		<tr>
			<th>Last name</th>

			<td>
				[@Person.LastName] !
			</td>
		</tr>

		<tr>
			<th>Age</th>

			<td>
				[@Person.Age] !
			</td>
		</tr>

		<tr>
			<th>Sex</th>

			<td>
				[@Person.Sex] !
			</td>
		</tr>
	</table>

	<div class="form-group">
		<NavLink class="btn btn-primary" href="/ViewPersons">Go back</NavLink>
	</div>
</div>