<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MessageHeadersHost.CService1">
        <endpoint address="net.tcp://localhost:8001/Service"
                  binding="netTcpBinding"
                  contract="MessageHeadersHost.IService1">
        </endpoint>
      </service>

      <service name="MessageHeadersHost.CService2">
        <endpoint address="net.tcp://localhost:8002/Service"
                  binding="netTcpBinding"
                  contract="MessageHeadersHost.IService2">
        </endpoint>
      </service>
    </services>

    <client>
      <endpoint address="net.tcp://localhost:8002/Service"
                binding="netTcpBinding"
                contract="MessageHeadersHost.IService2"
                name="SE">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>