<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- OBE SERVICES sa odkazuju na TU ISTU QUEUE. -->
      
      <service name="ReceiveContextService.CReceiveContextContract1">
        <endpoint address="net.msmq://localhost/private/ReceiveContext"
                  binding="netMsmqBinding"
                  contract="ReceiveContextService.IReceiveContextContract"
                  bindingConfiguration="BC"
                  name="MS">
        </endpoint>
      </service>

      <service name="ReceiveContextService.CReceiveContextContract2">
        <endpoint address="net.msmq://localhost/private/ReceiveContext"
                  binding="netMsmqBinding"
                  contract="ReceiveContextService.IReceiveContextContract"
                  bindingConfiguration="BC"
                  name="MS">
        </endpoint>
      </service>
    </services>

    <bindings>
      <netMsmqBinding>
        <!-- Zapnem RECEIVE CONTEXT. -->
        <binding name="BC"
                 exactlyOnce="true"
                 durable="true"
                 receiveContextEnabled="true"
                 retryCycleDelay="00:00:15"
                 maxRetryCycles="1"
                 receiveErrorHandling="Move">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>