/* !!! BLAZOR FRAMEWORK vyhladava HTML ELEMENT s tymto ID. */
#components-reconnect-modal
{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    opacity: 0.9;
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */

/* !!! Ak NIE JE CONNECTION ERROR, tak je CSS STYLE nastaveny na VALUE [components-reconnect-hide]. Tento SKRYJE HTML ELEMENT, aby NEBOL VISIBLE. */
.components-reconnect-hide
{
    display: none;
}

/* !!! Ak dojde ku CONNECTION ERROR, tak BLAZOR FRAMEWORK ZMENI v HTML ELEMENT s ID [components-reconnect-modal] STYLE z VALUE [components-reconnect-hide] na VALUE [components-reconnect-show]. */
.components-reconnect-show
{
    display: block;
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */

/* !!! Ak CONNECTION je LOST, tj. HTML ELEMENT s ID [components-reconnect-modal] bol nastaveny na STYLE [components-reconnect-show], nastav STYLE [BLAZOR_RECONNECT] na VISIBLE. */
.components-reconnect-show > .BLAZOR_RECONNECT
{
    display: block;
}

/* !!! Ak CONNECTION je LOST, tj. HTML ELEMENT s ID [components-reconnect-modal] bol nastaveny na STYLE [components-reconnect-show], nastav STYLE [BLAZOR_FAILED] na INVISIBLE. */
.components-reconnect-show > .BLAZOR_FAILED
{
    display: none;
}

/* !!! Ak CONNECTION je LOST, tj. HTML ELEMENT s ID [components-reconnect-modal] bol nastaveny na STYLE [components-reconnect-show], nastav STYLE [BLAZOR_REJECTED] na INVISIBLE. */
.components-reconnect-show > .BLAZOR_REJECTED
{
    display: none;
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */

/* !!! Ak CONNECTION je FAILED, tj. HTML ELEMENT s ID [components-reconnect-modal] bol nastaveny na STYLE [components-reconnect-failed], nastav STYLE [BLAZOR_RECONNECT] na INVISIBLE. */
.components-reconnect-failed > .BLAZOR_RECONNECT
{
    display: none;
}

/* !!! Ak CONNECTION je FAILED, tj. HTML ELEMENT s ID [components-reconnect-modal] bol nastaveny na STYLE [components-reconnect-failed], nastav STYLE [BLAZOR_FAILED] na VISIBLE. */
.components-reconnect-failed > .BLAZOR_FAILED
{
    display: block;
}

/* !!! Ak CONNECTION je FAILED, tj. HTML ELEMENT s ID [components-reconnect-modal] bol nastaveny na STYLE [components-reconnect-failed], nastav STYLE [BLAZOR_REJECTED] na INVISIBLE. */
.components-reconnect-failed > .BLAZOR_REJECTED
{
    display: none;
}

/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------- */

/* !!! Ak CONNECTION je REJECTED, tj. HTML ELEMENT s ID [components-reconnect-modal] bol nastaveny na STYLE [components-reconnect-rejected], nastav STYLE [BLAZOR_RECONNECT] na INVISIBLE. */
.components-reconnect-rejected > .BLAZOR_RECONNECT
{
    display: none;
}

/* !!! Ak CONNECTION je REJECTED, tj. HTML ELEMENT s ID [components-reconnect-modal] bol nastaveny na STYLE [components-reconnect-rejected], nastav STYLE [BLAZOR_FAILED] na INVISIBLE. */
.components-reconnect-rejected > .BLAZOR_FAILED
{
    display: none;
}

/* !!! Ak CONNECTION je REJECTED, tj. HTML ELEMENT s ID [components-reconnect-modal] bol nastaveny na STYLE [components-reconnect-rejected], nastav STYLE [BLAZOR_REJECTED] na VISIBLE. */
.components-reconnect-rejected > .BLAZOR_REJECTED
{
    display: block;
}

/* --------------------------------------------------------------------------------------------------------------------- */