.OUTER_BOX
{
	margin: 1px;
	border-width: 1px;
	padding: 1px;
	border-color: red;
	border-style: solid;
}

.INNER_BOX
{
	margin: 1px;
	border-width: 1px;
	padding: 1px;
	border-color: green;
	border-style: solid;
}

.BLUE_BOX
{
	margin: 1px;
	border-width: 1px;
	padding: 1px;
	border-color: blue;
	border-style: solid;
}

.SOLID_RED
{
	background-color:red;
}

.SOLID_GREEN
{
	background-color:green;
}

.SOLID_BLUE
{
	background-color:blue;
}