<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="IncludeExceptionDetailInFaultsHost.CFaultTestService">
        <!-- V TCP/IP VZDY EXISTUJE TRANSPORT SESSION. -->
        <endpoint address="net.tcp://localhost:8001/Service" binding="netTcpBinding" contract="IncludeExceptionDetailInFaultsHost.IFaultTestService">
        </endpoint>

        <!-- V HTTP vypnem TRANSPORT SESSION, tym ze vypnem MESSAGE SECURITY a RELIABLE MESSAGING. -->
        <endpoint address="http://localhost:9001/Service" binding="wsHttpBinding" contract="IncludeExceptionDetailInFaultsHost.IFaultTestService" bindingConfiguration="BC">
        </endpoint>
      </service>
    </services>

    <bindings>
      <wsHttpBinding>
        <binding name="BC">
          <reliableSession enabled="false"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>