<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="AdvancedStreamingHost.CAdvancedStreaming" behaviorConfiguration="SBH">
        <endpoint address="net.tcp://localhost:8001/Service" binding="netTcpBinding" contract="AdvancedStreamingHost.IAdvancedStreaming" bindingConfiguration="BC">
        </endpoint>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <!-- Zapnem STREAMING. -->
        <binding name="BC" transferMode="Streamed" maxReceivedMessageSize="10485760">
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SBH">
          <dataContractSerializer maxItemsInObjectGraph="10485760"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>