<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<label>Counter value [@Counter] !</label>
	</div>

	<button class="btn btn-primary" @onclick="IncrementCounter1">Increment counter by 1 by calling C# STATIC METHOD from JAVA SCRIPT</button>
	<button class="btn btn-primary" @onclick="IncrementCounter2">Increment counter by 2 by calling C# STATIC METHOD from JAVA SCRIPT</button>
</div>