@page "/CallFromExternalCodeComponentParent"

<div class="OUTER_BOX">
	<CallFromExternalCodeComponentChild @ref="Child"></CallFromExternalCodeComponentChild>

	<div class="INNER_BOX">
		<button class="btn btn-primary" @onclick="ChangeColorToRed">Change color to RED</button>
		<button class="btn btn-primary" @onclick="ChangeColorToGreen">Change color to GREEN</button>
		<button class="btn btn-primary" @onclick="ChangeColorToBlue">Change color to BLUE</button>
	</div>
</div>