<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<label>Counter value [@Counter] !</label>
	</div>

	<div @ref="Area" class="INNER_BOX">
		EMPTY !
	</div>

	<button class="btn btn-primary" @onclick="IncrementCounter">Increment counter by calling JAVA SCRIPT</button>
	<button class="btn btn-primary" @onclick="DoAlert">Alert by calling JAVA SCRIPT</button>
	<button class="btn btn-primary" @onclick="SetText1">Set text 1 by calling JAVA SCRIPT</button>
	<button class="btn btn-primary" @onclick="SetText2">Set text 2 by calling JAVA SCRIPT</button>
</div>