@page "/CounterComponentWithDefaultLayout"

<!-- !!! Kedze BLAZOR COMPONENT nedefinuje vladny LAYOUT, aplikuje sa DEFAULT LAYOUT definovany v ROUTER BLAZOR COMPONENT. -->

<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<label>Counter value [@Counter] !</label>
	</div>

	<button class="btn btn-primary" @onclick="IncrementCounter">Increment counter</button>
</div>