@page "/CounterWithLifecycleMethods2/{Counter:int}"

<div class="OUTER_BOX">
	<h4>CounterWithLifecycleMethods2</h4>
	<div class="INNER_BOX">
		<label>Counter value [@Counter] !</label>
	</div>

	<button class="btn btn-primary" @onclick="IncrementCounter">Increment counter</button>
	<NavLink class="btn btn-primary" href="/CounterWithLifecycleMethods1/200">Go to [CounterWithLifecycleMethods1/200] !</NavLink>
</div>