@page "/CounterComponentWithLayoutParent"

<div class="OUTER_BOX">
	<h5>BEGIN of PARENT BLAZOR COMPONENT !</h5>
	<div class="INNER_BOX">
		<!-- !!! LAYOUT je mozne na BLAZOR COMPONENT aplikovat pomocou BLAZOR COMPONENT [LayoutView]. -->
		<LayoutView Layout="typeof(AdvancedBlazorFeatures.Blazor.Layout2)">
			<CounterComponentWithLayoutChild />
		</LayoutView>
	</div>
	<h5>END of PARENT BLAZOR COMPONENT !</h5>
</div>