<!-- !!! Nastavia sa ROUTES na ktorych je COMPONENT pristupna. -->
<!-- !!! Na jednu BLAZOR COMPONENT moze odkazovat aj viacero ROUTES. -->
@page "/Counter1"
@page "/Counter2"

<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<label>Counter value [@Counter] !</label>
	</div>

	<button class="btn btn-primary" @onclick="IncrementCounter">Increment counter</button>
</div>