<!-- !!! BLAZOR COMPONENT LAYOUTS MUSIA byt DERIVED z CLASS [LayoutComponentBase]. -->
@inherits LayoutComponentBase

<div class="OUTER_BOX">
	<h5>@Text1</h5>
		<div class="INNER_BOX">
			<!-- !!! Na toto miesto sa vlozi CONTENT BLAZOR COMPONENT LAYOUT. -->
			@Body
		</div>
	<h5>@Text2</h5>
</div>