@page "/CounterAAA"

<div class="OUTER_BOX">
	<h5>This is COUNTER AAA !</h5>

	<div class="INNER_BOX">
		<label>Counter value [@Counter] !</label>
	</div>

	<button class="btn btn-primary" @onclick="IncrementCounter">Increment counter</button>
</div>

<div class="OUTER_BOX">
	<!-- !!! Deklarativna navigacia na iny BLAZOR COMPONENT. -->
	<NavLink class="btn btn-primary" href="/CounterBBB">DECLARATIVELY NAVIGATE to COUNTER BBB</NavLink>
	<!-- !!! Navigacia na iny BLAZOR COMPONENT v CODE. -->
	<button class="btn btn-primary" @onclick="NavigateToDifferentBlazorComponent">PROGRAMMATICALLY NAVIGATE to COUNTER BBB</button>
</div>