<!-- !!! ROUTER BLAZOR COMPONENT zabezpecuje previazanie medzi ASP.NET CORE ROUTING a BLAZOR ROUTING. -->
<Router AppAssembly="typeof(Startup).Assembly">
	<!-- !!! Tento CONTENT sa zobrazi ak ROUTING NASIEL hladany BLAZOR COMPONENT. -->
	<Found>
		<h5>CONTENT from ROUTER COMPONENT !</h5>
		<!-- !!!!! Ak bol hlada BLAZOR COMPONENT NAJDENY, tak sa jednoducho zobrazi, pomocou CLASS [RouteView]. -->
		<!-- !!! Pomocou HTML ATTRIBUTE [DefaultLayout] je mozne aplikovat DEFAULT BLAZOR COMPONENT LAYOUT. -->
		<RouteView RouteData="@context" DefaultLayout="typeof(AdvancedBlazorFeatures.Blazor.Layout3)" />
	</Found>

	<!-- !!! Tento CONTENT sa zobrazi ak ROUTING NENASIEL hladany BLAZOR COMPONENT. -->
	<NotFound>
		<div class="INNER_BOX">
			NO MATCHING ROUTE FOUND !!!
		</div>
	</NotFound>
</Router>