@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<!-- !!!!! Nacitaju sa vsetky FILES s PREFIX 'File' a POSTFIX '.css'. -->
	<!-- !!!!! VYRADIA sa vsetky FILES s PREFIX 'FileYYY' a POSTFIX '.css'. -->
	<!-- !!!!! Na to, aby HTTP ATTRIBUTE [asp-href-exclude] FUNGOVAL, MUSI byt aplikovany na ten HTML ELEMENT [<link>], na ktory je aplikovany HTTP ATTRIBUTE [asp-href-include]. -->
	<link rel="stylesheet" asp-href-include="~/MyStyleSheets/TestFileExcluding/File*.css" asp-href-exclude="~/MyStyleSheets/TestFileExcluding/FileYYY*.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<div class="FileXXX1">
				CONTENT [FileXXX1] ! If BLUE, CSS was APPLIED !
			</div>
		</div>

		<div class="INNER_BOX">
			<div class="FileXXX2">
				CONTENT [FileXXX2] ! If BLUE, CSS was APPLIED !
			</div>
		</div>

		<div class="INNER_BOX">
			<div class="FileYYY1">
				CONTENT [FileYYY1] ! If BLUE, CSS was APPLIED !
			</div>
		</div>

		<div class="INNER_BOX">
			<div class="FileYYY2">
				CONTENT [FileYYY2] ! If BLUE, CSS was APPLIED !
			</div>
		</div>
	</div>
</body>
</html>