@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<!-- !!!!! WILDCARD '*' FUNGUJE a nacitaju sa vsetky FILES s PREFIX 'Asterisk' a POSTFIX '.css'. -->
	<link rel="stylesheet" asp-href-include="~/MyStyleSheets/TestGlobbingPattern/Asterisk*.css" />
	<!-- !!!!! WILDCARD '**' FUNGUJE a nacitaju sa vsetky FILES 'DoubleAsterisk.css' vo vsetkych SUBDIRECTORIES. -->
	<link rel="stylesheet" asp-href-include="~/MyStyleSheets/TestGlobbingPattern/**/DoubleAsterisk.css" />
	<!-- !!! Nacitaju sa FILE 'TestAAA.css' a 'TestBBB.css'. OBE PATHS su oddelene CHARACTER ','. -->
	<link rel="stylesheet" asp-href-include="~/MyStyleSheets/TestGlobbingPattern/TestAAA.css,~/MyStyleSheets/TestGlobbingPattern/TestBBB.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<div class="Asterisk1">
				CONTENT [Asterisk1] ! If BLUE, CSS was APPLIED !
			</div>
		</div>

		<div class="INNER_BOX">
			<div class="Asterisk2">
				CONTENT [Asterisk2] ! If BLUE, CSS was APPLIED !
			</div>
		</div>

		<div class="INNER_BOX">
			<div class="Asterisk100">
				CONTENT [Asterisk100] ! If BLUE, CSS was APPLIED !
			</div>
		</div>

		<div class="INNER_BOX">
			<div class="DoubleAsterisk">
				CONTENT [DoubleAsterisk] ! If BLUE, CSS was APPLIED !
			</div>
		</div>

		<div class="INNER_BOX">
			<div class="SubDirectory_DoubleAsterisk">
				CONTENT [SubDirectory_DoubleAsterisk] ! If BLUE, CSS was APPLIED !
			</div>
		</div>

		<div class="INNER_BOX">
			<div class="SubDirectory_SubSubDirectory_DoubleAsterisk">
				CONTENT [SubDirectory_SubSubDirectory_DoubleAsterisk] ! If BLUE, CSS was APPLIED !
			</div>
		</div>

		<div class="INNER_BOX">
			<div class="TestAAA">
				CONTENT [TestAAA] ! If BLUE, CSS was APPLIED !
			</div>
		</div>

		<div class="INNER_BOX">
			<div class="TestBBB">
				CONTENT [TestBBB] ! If BLUE, CSS was APPLIED !
			</div>
		</div>
	</div>
</body>
</html>