@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<!-- !!!!! Tento CSS FILE nastavuje CSS CLASS, CSS PROPERTY a CSS VALUE, tak, ze sa bude povazovat nacitanie CSS FILES z CDN za NEUSPESNE ! -->
	<link rel="stylesheet" asp-href-include="~/MyStyleSheets/CDNCheck.css" />
	<!-- !!! HTML ATTRIBUTE [asp-href-include] a HTML ATTRIBUTE [asp-href-exclude] ukazuju na NEEXISTUJUCU PATH. -->
	<!-- !!! HTML ATTRIBUTE [asp-fallback-href-include] a HTML ATTRIBUTE [asp-fallback-href-exclude] ukazuju na LOCAL PATHS, kde su FILES, ktore sa nacitaju v pripade, ze FILES sa z PATHS definovanych HTML ATTRIBUTE [asp-href-include] a HTML ATTRIBUTE [asp-href-exclude] NEPODARILO NACITAT. -->
	<!-- !!!!! HTML ATTRIBUTE [asp-fallback-class] definuje CSS CLASS, ktora musi existovat. Ak neexistuje, je to indikator, ze sa FILES NEPODARILO nacitat z PATHS urcenych HTML ATTRIBUTE [asp-href-include] a HTML ATTRIBUTE [asp-href-exclude] a je nutne pouzit FALLBACK MECHANISM. -->
	<!-- !!!!! HTML ATTRIBUTE [asp-fallback-property] definuje PROPERTY CSS CLASS, ktora musi byt existovat. Ak neexistuje, je to indikator, ze sa FILES NEPODARILO nacitat z PATHS urcenych HTML ATTRIBUTE [asp-href-include] a HTML ATTRIBUTE [asp-href-exclude] a je nutne pouzit FALLBACK MECHANISM. -->
	<!-- !!!!! HTML ATTRIBUTE [asp-fallback-value] definuje VALUE PROPERTY CSS CLASS, ktoru musi PROPERTY CSS CLASS obsahovat. Ak neobsahuje, je to indikator, ze sa FILES NEPODARILO nacitat z PATHS urcenych HTML ATTRIBUTE [asp-href-include] a HTML ATTRIBUTE [asp-href-exclude] a je nutne pouzit FALLBACK MECHANISM. -->
	<link rel="stylesheet"
			asp-href-include="http://NON_EXISTING_SITE.XXX/MyStyleSheets/TestFallback/File*.css" 
			asp-href-exclude="http://NON_EXISTING_SITE.XXX/MyStyleSheets/TestFallback/FileYYY*.css" 
			asp-fallback-href-include="~/MyStyleSheets/TestFallback/File*.css" 
			asp-fallback-href-exclude="~/MyStyleSheets/TestFallback/FileYYY*.css"
			asp-fallback-test-class="my-test"
			asp-fallback-test-property="color"
			asp-fallback-test-value="red" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<div class="FileXXX1">
				CONTENT [FileXXX1] ! If BLUE, CSS was APPLIED !
			</div>
		</div>

		<div class="INNER_BOX">
			<div class="FileXXX2">
				CONTENT [FileXXX2] ! If BLUE, CSS was APPLIED !
			</div>
		</div>

		<div class="INNER_BOX">
			<div class="FileYYY1">
				CONTENT [FileYYY1] ! If BLUE, CSS was APPLIED !
			</div>
		</div>

		<div class="INNER_BOX">
			<div class="FileYYY2">
				CONTENT [FileYYY2] ! If BLUE, CSS was APPLIED !
			</div>
		</div>
	</div>
</body>
</html>