@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			Go to [<a asp-controller="APIEndpointNameClient" asp-action="TestGetNames">TEST GET NAMES in API ENDPOINT !</a>]
			<br/>
			Go to [<a asp-controller="APIEndpointNameClient" asp-action="TestGetName1">TEST GET NAME 1 in API ENDPOINT !</a>]
			<br/>
			Go to [<a asp-controller="APIEndpointNameClient" asp-action="TestGetName2">TEST GET NAME 2 in API ENDPOINT !</a>]
			<br/>
			Go to [<a asp-controller="APIEndpointNameClient" asp-action="TestPostName">TEST POST in API ENDPOINT !</a>]
			<br/>
			Go to [<a asp-controller="APIEndpointNameClient" asp-action="TestPutName1">TEST PUT NAME 1 in API ENDPOINT !</a>]
			<br/>
			Go to [<a asp-controller="APIEndpointNameClient" asp-action="TestPutName2">TEST PUT NAME 2 in API ENDPOINT !</a>]
			<br/>
			Go to [<a asp-controller="APIEndpointNameClient" asp-action="TestPatchName1">TEST PATCH NAME 1 in API ENDPOINT !</a>]
			<br/>
			Go to [<a asp-controller="APIEndpointNameClient" asp-action="TestPatchName2">TEST PATCH NAME 2 in API ENDPOINT !</a>]
			<br/>
			Go to [<a asp-controller="APIEndpointNameClient" asp-action="TestDeleteName1">TEST DELETE NAME 1 in API ENDPOINT !</a>]
			<br/>
			Go to [<a asp-controller="APIEndpointNameClient" asp-action="TestDeleteName2">TEST DELETE NAME 2 in API ENDPOINT !</a>]
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-controller="APIControllerNameClient" asp-action="TestGetNames">TEST GET NAMES in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APIControllerNameClient" asp-action="TestGetName1">TEST GET NAME 1 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APIControllerNameClient" asp-action="TestGetName2">TEST GET NAME 2 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APIControllerNameClient" asp-action="TestPostName">TEST POST in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APIControllerNameClient" asp-action="TestPutName1">TEST PUT NAME 1 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APIControllerNameClient" asp-action="TestPutName2">TEST PUT NAME 2 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APIControllerNameClient" asp-action="TestPatchName1">TEST PATCH NAME 1 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APIControllerNameClient" asp-action="TestPatchName2">TEST PATCH NAME 2 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APIControllerNameClient" asp-action="TestDeleteName1">TEST DELETE NAME 1 in API CONTROLLER !</a>]
			<br/>
			Go to [<a asp-controller="APIControllerNameClient" asp-action="TestDeleteName2">TEST DELETE NAME 2 in API CONTROLLER !</a>]
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-controller="APIPOCOControllerNameClient" asp-action="TestGetNames">TEST GET NAMES in API POCO CONTROLLER !</a>]
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-controller="APIAsynchronousEnumerableClient" asp-action="TestGetNames">TEST GET NAMES in API ASYNCHRONOUS ENUMERABLE CONTROLLER !</a>]
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-controller="APIRedirect" asp-action="TestRedirect">TEST REDIRECT !</a>]
			<br/>
			Go to [<a asp-controller="APIRedirect" asp-action="TestRedirectToAction">TEST REDIRECT to ACTION !</a>]
			<br/>
			Go to [<a asp-controller="APIRedirect" asp-action="TestRedirectToRoute">TEST REDIRECT to ROUTE !</a>]
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-controller="APIValidationClient" asp-action="TestPostValidName">TEST VALIDATION with VALID DATA !</a>]
			<br/>
			Go to [<a asp-controller="APIValidationClient" asp-action="TestPostInvalidName">TEST VALIDATION with INVALID DATA !</a>]
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-controller="APIControllerAttributeClient" asp-action="TestPostValidName">TEST VALIDATION with VALID DATA in CONTROLLER marked by [ApiController] !</a>]
			<br/>
			Go to [<a asp-controller="APIControllerAttributeClient" asp-action="TestPostInvalidName">TEST VALIDATION with INVALID DATA in CONTROLLER marked by [ApiController] !</a>]
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-controller="APIOmitNulls" asp-action="Get1">TEST SENDING DATA without NULL VALUES !</a>]
			<br/>
			<!-- !!!!! NULL VALUES sa neprenasaju IBA ak je vypnuty NEWTONSOFT JSON SERLIALIZER. -->
			Go to [<a asp-controller="APIOmitNulls" asp-action="Get2">TEST SENDING DATA with NULL VALUES !</a>]
		</div>
	</div>
</body>
</html>