<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<label>Counter value [@CounterValue] !</label>
	</div>
	<!-- !!! Zaregistruje sa JAVA SCRIPT EVENT 'onclick', pre ktory BLAZOR FRAMEWORK vola C# METHOD na SERVER SIDE. -->
	<button class="btn btn-primary" @onclick="IncrementCounter">Increment counter</button>
</div>
@code
{
	//----------------------------------------------------------------------------------------------------------------------
	private int													MCounterValue=1;
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	public int													CounterValue
	{
		get
		{
			return(MCounterValue);
		}
		set
		{
			MCounterValue=value;
		}
	}
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	// !!! EVENT 'onclick' ma ako PARAMETER TYPE [MouseEventArgs].
	public void IncrementCounter(MouseEventArgs E)
	{
		MCounterValue++;
	}
	//----------------------------------------------------------------------------------------------------------------------
}