<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<label>Name:</label>
		<!-- !!! Vykona sa CUSTOM BINDING namapovanim C# PROPERTY 'Name' na VALUE INPUT HTML ELEMENT. -->
		<!-- !!! CUSTOM BINDING registruje EVENT 'oninput', ktory vyvola C# EVENT METHOD (je generovana AUTOMATICKY), ktora modifikuje hodnotu C# PROPERTY 'Name'. -->
		<!-- !!! EVENT 'oninput' sa spusta az pri KAZDOM KEYSTROKE. -->
		<input class="form-control" @bind-value="Name" @bind-value:event="oninput" />
	</div>

	<div class="INNER_BOX">
		NAME [@Name] !
	</div>

	<div class="INNER_BOX">
		<!-- !!! BUTTONS sluzia na demonstraciu 2-WAY BINDING, kedy explicitne nastavia VALUE C# PROPERTY 'Name', ktora sa okamzite prenesie do HTML INPUT ELEMENT. -->
		<button class="btn btn-primary" @onclick="SetName1">Set name 1</button>
		<button class="btn btn-primary" @onclick="SetName2">Set name 2</button>
		<button class="btn btn-primary" @onclick="SetName3">Set name 3</button>
	</div>
</div>
@code
{
	//----------------------------------------------------------------------------------------------------------------------
	private string                                              MName="";
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	public string                                               Name
	{
		get
		{
			return(MName);
		}
		set
		{
			MName=value;
		}
	}
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	public void SetName1(MouseEventArgs E)
	{
		MName="Timmy";
	}
	//----------------------------------------------------------------------------------------------------------------------
	public void SetName2(MouseEventArgs E)
	{
		MName="Jenny";
	}
	//----------------------------------------------------------------------------------------------------------------------
	public void SetName3(MouseEventArgs E)
	{
		MName="Josh";
	}
	//----------------------------------------------------------------------------------------------------------------------
}