<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<label>Unformatted time:</label>
		<!-- !!! Vykona sa BINDING na TIME s nastavenou CULTURE. -->
		<input class="form-control" @bind="Time" @bind:culture="Culture" />
	</div>

	<div class="INNER_BOX">
		<label>Formatted time:</label>
		<!-- !!! Vykona sa BINDING na TIME s nastavenou CULTURE a FORMAT. -->
		<input class="form-control" @bind="Time" @bind:culture="Culture" @bind:format="dd-MMM-yyyy" />
	</div>

	<div class="INNER_BOX">
		<label>Formatted time for EVENT 'onchange':</label>
		<!-- !!! Vykona sa BINDING na TIME s nastavenou CULTURE a FORMAT. Zaroven je nastaveny aj EVENT, ktory vyvolava zmenu C# PROPERTY. -->
		<input class="form-control" @bind-value="Time" @bind-value:culture="Culture" @bind-value:format="dd-MMM-yyyy" @bind-value:event="onchange" />
	</div>

	<div class="INNER_BOX">
		CULTURE [@Culture] !
	</div>

	<div class="INNER_BOX">
		<button class="btn btn-primary" @onclick="SetCulture1">Set culture 1</button>
		<button class="btn btn-primary" @onclick="SetCulture2">Set culture 2</button>
		<button class="btn btn-primary" @onclick="SetCulture3">Set culture 3</button>
	</div>
</div>
@code
{
	//----------------------------------------------------------------------------------------------------------------------
	private DateTime                                            MTime=DateTime.Now;
	private CultureInfo                                         MCulture=CultureInfo.GetCultureInfo("en-US");
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	public DateTime												Time
	{
		get
		{
			return(MTime);
		}
		set
		{
			MTime=value;
		}
	}
	//----------------------------------------------------------------------------------------------------------------------
	public CultureInfo											Culture
	{
		get
		{
			return(MCulture);
		}
		set
		{
			MCulture=value;
		}
	}
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	public void SetCulture1(MouseEventArgs E)
	{
		MCulture=CultureInfo.GetCultureInfo("en-US");
	}
	//----------------------------------------------------------------------------------------------------------------------
	public void SetCulture2(MouseEventArgs E)
	{
		MCulture=CultureInfo.GetCultureInfo("fr-FR");
	}
	//----------------------------------------------------------------------------------------------------------------------
	public void SetCulture3(MouseEventArgs E)
	{
		MCulture=CultureInfo.GetCultureInfo("sk-SK");
	}
	//----------------------------------------------------------------------------------------------------------------------
}