<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<label>Counter value [@GetCounter(1)] !</label>
	</div>
	<!-- !!! Pouzije sa LAMBDA EXPRESSION na volanie tej iste C# METHOD, ktore PARAMETER urcuje, ktoreho COUNTER sa tyka. -->
	<button class="btn btn-primary" @onclick="@((E) => IncrementCounter(E,1))">Increment counter</button>
</div>

<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<label>Counter value [@GetCounter(2)] !</label>
	</div>
	<!-- !!! Pouzije sa LAMBDA EXPRESSION na volanie tej iste C# METHOD, ktore PARAMETER urcuje, ktoreho COUNTER sa tyka. -->
	<button class="btn btn-primary" @onclick="@((E) => IncrementCounter(E,2))">Increment counter</button>
</div>
@code
{
	//----------------------------------------------------------------------------------------------------------------------
	private Dictionary<int,int>                                 MCounterValues=new Dictionary<int,int>();
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	public int GetCounter(int Index)
	{
		if (MCounterValues.ContainsKey(Index)==true)
		{
			int													Value=MCounterValues[Index];

			return(Value);
		}
		else
		{
			return(0);
		}
	}
	//----------------------------------------------------------------------------------------------------------------------
	// !!! EVENT 'onclick' ma ako PARAMETER TYPE [MouseEventArgs].
	public void IncrementCounter(MouseEventArgs E, int Index)
	{
		int														Counter=GetCounter(Index);

		Counter++;

		MCounterValues[Index]=Counter;
	}
	//----------------------------------------------------------------------------------------------------------------------
}