@for(int Index=1;Index<=3;Index++)
{
	// !!!!! TEMPORARY VARIABLE je NUTNE definovat kvoli LAMBDA EXPRESSION.
	int															TempIndex=Index;

	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<label>Counter value [@GetCounter(Index)] !</label>
		</div>
		<!-- !!! Pouzije sa LAMBDA EXPRESSION na volanie tej iste C# METHOD, ktore PARAMETER urcuje, ktoreho COUNTER sa tyka. -->
		<!-- !!!!! V LAMBDA EXPRESSIONS NIE JE MOZNE pouzit VARIABLE 'Index', pretoze LAMBDA EXPRESSIONS su EVALUATED az pri stlaceni BUTTON, ked je uz VARIABLE 'Index' nastavena na VALUE 4. Riesenim je pouzitie TEMPORARY VARIABLE. -->
		<button class="btn btn-primary" @onclick="@((E) => IncrementCounter(E,TempIndex))">Increment counter</button>
		<!-- V LAMBDA EXPRESSION sa vykona C# CODE. -->
		<!-- !!!!! V LAMBDA EXPRESSIONS NIE JE MOZNE pouzit VARIABLE 'Index', pretoze LAMBDA EXPRESSIONS su EVALUATED az pri stlaceni BUTTON, ked je uz VARIABLE 'Index' nastavena na VALUE 4. Riesenim je pouzitie TEMPORARY VARIABLE. -->
		<button class="btn btn-primary" @onclick="@(() => MCounterValues.Remove(TempIndex))">Reset counter</button>
	</div>
}
@code
{
	//----------------------------------------------------------------------------------------------------------------------
	private Dictionary<int,int>                                 MCounterValues=new Dictionary<int,int>();
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	public int GetCounter(int Index)
	{
		if (MCounterValues.ContainsKey(Index)==true)
		{
			int													Value=MCounterValues[Index];

			return(Value);
		}
		else
		{
			return(0);
		}
	}
	//----------------------------------------------------------------------------------------------------------------------
	// !!! EVENT 'onclick' ma ako PARAMETER TYPE [MouseEventArgs].
	public void IncrementCounter(MouseEventArgs E, int Index)
	{
		int														Counter=GetCounter(Index);

		Counter++;

		MCounterValues[Index]=Counter;
	}
	//----------------------------------------------------------------------------------------------------------------------
}