<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<label>Name:</label>
		<!-- !!! Vykona sa MANUAL BINDING namapovanim C# PROPERTY 'Name' na VALUE INPUT HTML ELEMENT, a zaroven zaregistrovanim EVENT 'onchange', ktory vyvola C# EVENT METHOD, ktora modifikuje hodnotu C# PROPERTY 'Name'. -->
		<!-- !!!!! Tento MANUAL BINDING zabezpecuje, ze VALUE INPUT HTML ELEMENT sa nastavi na VALUE C# PROPERTY, a zaroven pri zmene VALUE INPUT HTML ELEMENT USER v BROWSER sa tato UPDATED VALUE ulozi do C# PROPERTY. -->
		<!-- !!! EVENT 'onchange' sa spusta az pri STRATE FOCUS. -->
		<input class="form-control" value="@Name" @onchange="UpdateName" />
	</div>

	<div class="INNER_BOX">
		NAME [@Name] !
	</div>

	<div class="INNER_BOX">
		<!-- !!! BUTTONS sluzia na demonstraciu 2-WAY BINDING, kedy explicitne nastavia VALUE C# PROPERTY 'Name', ktora sa okamzite prenesie do HTML INPUT ELEMENT. -->
		<button class="btn btn-primary" @onclick="SetName1">Set name 1</button>
		<button class="btn btn-primary" @onclick="SetName2">Set name 2</button>
		<button class="btn btn-primary" @onclick="SetName3">Set name 3</button>
	</div>
</div>
@code
{
	//----------------------------------------------------------------------------------------------------------------------
	private string                                              MName="";
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	public string                                               Name
	{
		get
		{
			return(MName);
		}
		set
		{
			MName=value;
		}
	}
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	// !!! EVENT 'onchange' ma ako PARAMETER TYPE [ChangeEventArgs].
	public void UpdateName(ChangeEventArgs E)
	{
		// !!! VALUE z INPUT HTML ELEMENT sa ulozi do C# PROPERTY 'Name'.
		MName=E.Value.ToString();
	}
	//----------------------------------------------------------------------------------------------------------------------
	public void SetName1(MouseEventArgs E)
	{
		MName="Timmy";
	}
	//----------------------------------------------------------------------------------------------------------------------
	public void SetName2(MouseEventArgs E)
	{
		MName="Jenny";
	}
	//----------------------------------------------------------------------------------------------------------------------
	public void SetName3(MouseEventArgs E)
	{
		MName="Josh";
	}
	//----------------------------------------------------------------------------------------------------------------------
}