<!-- !!! CODE je definovany v CODE BEHIN FILE [PartialCounter.cs]. -->
<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<label>Counter value [@Counter] !</label>
	</div>
	<!-- !!! Zaregistruje sa JAVA SCRIPT EVENT 'onclick', pre ktory BLAZOR FRAMEWORK vola C# METHOD na SERVER SIDE. -->
	<button class="btn btn-primary" @onclick="IncrementCounter">Increment counter</button>
</div>