<!-- !!! Aby sa demonstroval DEFAULT BEHAVIOR, obali sa cela COMPONENT do FORM. -->
<form>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<label>Counter value [@CounterValue] !</label>
		</div>
		<!-- !!!!! Kedze sa COMPONENT nachadza v HTML ELEMENT [<form>], tak DEFAULT BEHAVIOR je vykonat POSTBACK na SERVER SIDE. -->
		<button class="btn btn-primary" @onclick="IncrementCounter">Increment counter (with DEFAULT BEHAVIOR)</button>
		<!-- !!!!! Nastavenim PARAMETER 'preventDefault' sa ZABRANI vykonaniu DEFAULT BEHAVIOR a teda, BUTTON NESPOSOBI vykonanie POSTBACK na SERVER SIDE. -->
		<button class="btn btn-primary" @onclick="IncrementCounter" @onclick:preventDefault="true">Increment counter (DEFAULT BEHAVIOR PREVENTED)</button>
	</div>
</form>
@code
{
	//----------------------------------------------------------------------------------------------------------------------
	private int													MCounterValue=1;
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	public int													CounterValue
	{
		get
		{
			return(MCounterValue);
		}
		set
		{
			MCounterValue=value;
		}
	}
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	// !!! EVENT 'onclick' ma ako PARAMETER TYPE [MouseEventArgs].
	public void IncrementCounter(MouseEventArgs E)
	{
		MCounterValue++;
	}
	//----------------------------------------------------------------------------------------------------------------------
}