<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<label>Counter value [@CounterValue] !</label>
	</div>

	<div class="INNER_BOX" @onclick="IncrementCounter">
		<!-- !!!!! Kedze PARENT HTML ELEMENT [<div>] ma TIEZ nastaveny EVENT 'onclick' tak pri POVOLENEJ PROPAGATION sa OBE EVENT ZAVOLAJU a COUNTER sa INKREMENTUJE o 2. -->
		<button class="btn btn-primary" @onclick="IncrementCounter">Increment counter (with PROPAGATION)</button>
	</div>

	<div class="INNER_BOX" @onclick="IncrementCounter">
		<!-- !!!!! Kedze PROPAGATION je ZABLOKOVANY, tak sa EVENT 'onclick' NEPRENESIE do PARENT HTML ELEMENT [<div>], ktory ma TIEZ nastaveny EVENT 'onclick' a COUNTER sa INKREMENTUJE iba o 1. -->
		<button class="btn btn-primary" @onclick="IncrementCounter" @onclick:stopPropagation="true">Increment counter (PROPAGATION STOPPED)</button>
	</div>
</div>
@code
{
	//----------------------------------------------------------------------------------------------------------------------
	private int													MCounterValue=1;
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	public int													CounterValue
	{
		get
		{
			return(MCounterValue);
		}
		set
		{
			MCounterValue=value;
		}
	}
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	//----------------------------------------------------------------------------------------------------------------------
	// !!! EVENT 'onclick' ma ako PARAMETER TYPE [MouseEventArgs].
	public void IncrementCounter(MouseEventArgs E)
	{
		MCounterValue++;
	}
	//----------------------------------------------------------------------------------------------------------------------
}