<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.msmq://localhost/private/CustomDLQTestQueue" 
                binding="netMsmqBinding" 
                contract="CustomDeadLetterQueueClient.ICustomDLQTest" 
                bindingConfiguration="BC" 
                name="MS">
      </endpoint>
    </client>

    <bindings>
      <!-- !!!!! Ked chcem posielat CUSTOM DLQ a ta vyzera MUSI BYT TRANSAKCNA musim nastavit 'exactlyOnce' na TRUE. -->
      <netMsmqBinding>
        <binding name="BC" 
                 timeToLive="00:00:10" 
                 deadLetterQueue="Custom"
                 exactlyOnce="true" 
                 durable="true"
                 customDeadLetterQueue="net.msmq://localhost/private/CustomDLQ">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>