@page "/"

<!-- !!! ROUTE ukazuje na PATH '/'. -->

<div class="OUTER_BOX">
	<div class="INNER_BOX">
		<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktora zobrazuje vsetkych PERSONS. -->
		Go to [<a href="http://localhost:50000/ViewPersons">View PERSONS !</a>] !
	</div>
</div>