@page

@model UsingUrlRouting.Pages.PageNameModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
    <title>Show Name</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>Key</th>
				<th>Value</th>
			</tr>

			<tr>
				<th>First name:</th>

				<td>
					[@Model.FirstName] !
				</td>
			</tr>

			<tr>
				<th>Last name:</th>
						
				<td>
					[@Model.LastName] !
				</td>
			</tr>
		</table>
	</div>
</body>
</html>