<!-- !!! KEYWORD [model] sa pouziva na urcenie MODEL OBJECT TYPE. -->
@model CName[]

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Use View Bag</title>
</head>
<body>
	<div class="OUTER_BOX">
		<!-- !!! PROPERTY [ViewBag] je mozne pouzit na prenos lubovolnych VALUES. -->
		<table class="@ViewBag.TableClass">
			<tr>
				<th>
					ID
				</th>

				<th>
					First name
				</th>

				<th>
					Last name
				</th>

				<th>
					Full name
				</th>

				<th>
					Age
				</th>

				<th>
					Sex
				</th>
			</tr>

			<!-- !!! Pomocou KEYWORD [{}] je mozne do VIEWS vkladat lubovolny CODE. -->
			@{
				// !!! Pouziva sa KEYWORD [Model] na pristup k MODEL OBJECT.
				foreach(CName Name in Model)
				{
					<tr>
						<td>
							[@Name.ID]
						</td>

						<td>
							[@Name.FirstName]
						</td>

						<td>
							[@Name.LastName]
						</td>

						<td>
							<!-- !!! EXPRESSIONS mozu byt aj zlozitejsie, no MUSIA byt uzatvorene v zatvorkach [()]. -->
							[@(Name.FirstName+" "+Name.LastName)]
						</td>

						<td>
							[@Name.Age]
						</td>

						<td>
							[@Name.Sex] !
						</td>
					</tr>
				}
			}
		</table>
	</div>
</body>
</html>