<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="RelayServiceSharedLibrary.CToUpperService"
               behaviorConfiguration="ServiceBehavior">
        <endpoint contract="RelayServiceSharedLibrary.IToUpperContract"
                  binding="netTcpRelayBinding">
        </endpoint>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- ServiceCertificate sluzi na KRYPTOVANIE MESSAGES v MESSAGE SECURITY. -->
          <serviceCredentials>
            <serviceCertificate findValue="MyTestCert"
                                storeLocation="LocalMachine"
                                storeName="My"
                                x509FindType="FindBySubjectName"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>