<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="AsynchronousCallsSynContextHost.CMyAsyncService" behaviorConfiguration="BC">
        <endpoint address="http://localhost:8001/Service" binding="wsHttpBinding" contract="AsynchronousCallsSynContextHost.IMyAsyncService">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="BC">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8001/MEX"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>