@model CResultMessage

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Result Message</title>
</head>
<body>
	<div class="OUTER_BOX">
		MESSAGE: [@Model.Message] !
	</div>
</body>
</html>