@model CChild[]

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>View Children</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>ID</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Age</th>
				<th>Sex</th>
			</tr>

			@foreach(CChild Child in @Model)
			{
				<tr>
					<td>
						[@Child.ID]
					</td>
						
					<td>
						[@Child.FirstName]
					</td>
						
					<td>
						[@Child.LastName]
					</td>
						
					<td>
						[@Child.Age]
					</td>
						
					<td>
						[@Child.Sex] !
					</td>
				</tr>
			}
		</table>
	</div>
</body>
</html>