@model CValidationErrors

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Validation Errors</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>KEY</th>
				<th>ERROR</th>
			</tr>

			@foreach(CValidationError ValidationError in @Model.Errors)
			{
				@foreach(string Error in @ValidationError.Errors)
				{
					<tr>
						<td>
							[@ValidationError.Key]
						</td>

						<td>
							[@Error] !
						</td>
					</tr>
				}
			}
		</table>
	</div>
</body>
</html>