<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="InferredDataContractsService.CFullNameService" behaviorConfiguration="BC">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="InferredDataContractsService.IFullNameService">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="BC">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>