<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- NON SECURE. -->
      <service name="ProtectionLevel.CNonSecureContract">
        <endpoint address="net.tcp://localhost:8001/" binding="netTcpBinding" contract="ProtectionLevel.INonSecureContract" bindingConfiguration="TRANSPORT_NON_SECURE">
        </endpoint>

        <endpoint address="net.tcp://localhost:8002/" binding="netTcpBinding" contract="ProtectionLevel.INonSecureContract" bindingConfiguration="TRANSPORT_SECURE">
        </endpoint>

        <endpoint address="net.tcp://localhost:8003/" binding="netTcpBinding" contract="ProtectionLevel.INonSecureContract" bindingConfiguration="MESSAGE">
        </endpoint>
      </service>

      <!-- SECURE. -->
      <service name="ProtectionLevel.CSecureContract">
        <!-- KEDZE VYZADUJE SECURE BINDING NEMOZE POUZIT NON SECURE BINDING. -->
        <!--
        <endpoint address="net.tcp://localhost:8011/" binding="netTcpBinding" contract="ProtectionLevel.ISecureContract" bindingConfiguration="TRANSPORT_NON_SECURE">
        </endpoint>
        -->

        <endpoint address="net.tcp://localhost:8012/" binding="netTcpBinding" contract="ProtectionLevel.ISecureContract" bindingConfiguration="TRANSPORT_SECURE">
        </endpoint>

        <endpoint address="net.tcp://localhost:8013/" binding="netTcpBinding" contract="ProtectionLevel.ISecureContract" bindingConfiguration="MESSAGE">
        </endpoint>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <!-- !!!!! ProtectionLevel sa aplikuje AJ NA MESSAGE SECURITY, aj ked BINDING NEMA EXPLICITNE PARAMETER ako TRANSPORT SECURITY. POUZIJE SA NASTAVENIE Z CONTRACT, RESP. OPERATION. -->
        <binding name="TRANSPORT_NON_SECURE">
          <security mode="Transport">
            <transport protectionLevel="None"/>
          </security>
        </binding>

        <binding name="TRANSPORT_SECURE">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>

        <binding name="MESSAGE">
          <security mode="Message">
            <message/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>