<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="SharedLibrary.CMSWindowsServiceCA" behaviorConfiguration="SecureBehavior">
        <endpoint address="net.tcp://localhost:8001/Service" binding="netTcpBinding" contract="SharedLibrary.IMSWindowsServiceCA" bindingConfiguration="SecureBinding">
        </endpoint>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="SecureBinding">
          <!-- Pouzijem MESSAGE SECURITY. -->
          <security mode="Message">
            <!-- Pouzijem WINDOWS CREDENTIALS. -->
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SecureBehavior">
          <serviceAuthorization principalPermissionMode="UseWindowsGroups" serviceAuthorizationManagerType="SharedLibrary.CMyServiceAuthorizationManager,SharedLibrary">
          </serviceAuthorization>

          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>