<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="MetadataHttpGetService.CToUpperService" behaviorConfiguration="MyMEX">
        <!--
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5001/"/>
          </baseAddresses>
        </host>
        -->
        <endpoint address="net.tcp://localhost:8001/" binding="netTcpBinding" contract="MetadataHttpGetService.IToUpperService">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyMEX">
          <!-- HTTP BaseAddress NETREBA, pretoze som definoval 'httpGetUrl'. -->
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:5001/"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>