<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="Proxy"
                address="net.tcp://localhost:2000/"
                binding="netTcpContextBinding"
                contract="ContextBindingsSharedLibrary.IToUpperContract">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>