@model CName[]

<!-- !!!!! PARTIAL VIEW pre VIEW COMPONENT 'HybridComponent'. -->

<div class="OUTER_BOX">
	<table class="table table-bordered table-striped">
		<tr>
			<th>ID</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Age</th>
		</tr>

		@foreach(CName Name in @Model)
		{
			<tr>
				<th>
					@Name.ID
				</th>
						
				<td>
					[@Name.FirstName]
				</td>
						
				<td>
					[@Name.LastName]
				</td>
						
				<td>
					[@Name.Age] !
				</td>
			</tr>
		}
	</table>

	<!-- !!!!! LINKS, ktore su definovane v PARTIAL VIEWS MUSIA mat definovany CONTROLLER odkazujuci na HYBRID VIEW COMPONENT, inak LINK sa prelozi na URL odkazujuci na PARENT CONTROLLER. -->
	<!-- !!!!! LINK vola HYBRID VIEW COMPONENT ACTION METHOD [AddNewName()]. -->
	<a class="btn btn-sm btn-info" asp-controller="HybridComponent" asp-action="AddNewName">
		Add new NAME !
	</a>
</div>