<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="InheritanceTwoServices_Service.CSimpleTextService" behaviorConfiguration="MEXSimple">
        <endpoint address="http://localhost:8001/SimpleTextService" binding="wsHttpBinding" contract="InheritanceTwoServices_Service.ISimpleTextOperations">
        </endpoint>
      </service>

      <service name="InheritanceTwoServices_Service.CComplexTextService" behaviorConfiguration="MEXComplex">
        <endpoint address="http://localhost:8002/ComplexTextService" binding="wsHttpBinding" contract="InheritanceTwoServices_Service.IComplexTextContract">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MEXSimple">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8000/MEXSimple"/>
        </behavior>

        <behavior name="MEXComplex">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8000/MEXComplex"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>