<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="ToUpper"
                address="net.tcp://localhost:8001/"
                binding="netTcpBinding"
                contract="RoutingTestService1.IToUpper">  
      </endpoint>
      
      <endpoint name="ToLower"
                address="net.tcp://localhost:8002/"
                binding="netTcpBinding"
                contract="RoutingTestService2.IToLower">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>