/* --------------------------------------------------------------------------------------------------------------------- */
.modified.valid
{
	margin: 1px;
	border-width: 1px;
	padding: 1px;
	border-color: green;
	border-style: solid;
}
/* --------------------------------------------------------------------------------------------------------------------- */
.modified.invalid
{
	background-color: yellow;
	margin: 1px;
	border-width: 1px;
	padding: 1px;
	border-color: red;
	border-style: solid;
}
/* --------------------------------------------------------------------------------------------------------------------- */
.validation-errors
{
    background-color: rgb(220, 53, 69);
	color: white;
	padding: 8px;
    text-align: center;
	font-size: 16px;
	font-weight: 500;
}
/* --------------------------------------------------------------------------------------------------------------------- */
div.validation-message
{
	color: rgb(220, 53, 69);
	font-weight: 500
}
/* --------------------------------------------------------------------------------------------------------------------- */