@model CDependencyInjection

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Result Message</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>ID</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Age</th>
			</tr>

			@foreach(CName Name in @Model.DataFromInterfaceService)
			{
				<tr>
					<th>
						@Name.ID
					</th>
						
					<td>
						[@Name.FirstName]
					</td>
						
					<td>
						[@Name.LastName]
					</td>
						
					<td>
						[@Name.Age] !
					</td>
				</tr>
			}
		</table>

		<table class="table table-bordered table-striped">
			<tr>
				<th>PROPERTY</th>
				<th>VALUE</th>
			</tr>

			<tr>
				<td>DATA from BASE CLASS SERVICE</td>
				<td>[@Model.DataFromBaseClassService] !</td>
			</tr>

			<tr>
				<td>DATA from CONCRETE CLASS SERVICE</td>
				<td>[@Model.DataFromConcreteClassService] !</td>
			</tr>
		</table>
	</div>
</body>
</html>