@model CGenericValues

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Generic Service</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>GENERIC SERVICE TYPE</th>
				<th>GENERIC SERVICE VALUE</th>
			</tr>

			<tr>
				<th>
					STRING
				</th>
						
				<td>
					[@Model.StringValue] !
				</td>
			</tr>

			<tr>
				<th>
					INT
				</th>
						
				<td>
					[@Model.IntValue] !
				</td>
			</tr>

			<tr>
				<th>
					DOUBLE
				</th>
						
				<td>
					[@Model.DoubleValue] !
				</td>
			</tr>
		</table>
	</div>
</body>
</html>