@model CMultiImplementationServiceModel

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Multi Implementation Service</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			DEFUALT SERVICE IMPLEMENTATION [@Model.DefaultService.ServiceName] returns VALUE [@Model.DefaultService.ServiceText] !
		</div>

		<table class="table table-bordered table-striped">
			<tr>
				<th>SERVICE NAME</th>
				<th>TEXT from SERVICE</th>
			</tr>

			@foreach(CMultiImplementationServiceData MultiImplementationServiceData in @Model.Services)
			{
				<tr>
					<th>
						@MultiImplementationServiceData.ServiceName
					</th>
						
					<td>
						[@MultiImplementationServiceData.ServiceText] !
					</td>
				</tr>
			}
		</table>
	</div>
</body>
</html>