@model CString4

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			FROM SERVICE 1 [@Model.FromService1] !
			<br/>
			FROM SERVICE 2 [@Model.FromService2] !
			<br/>
			FROM SERVICE 3 [@Model.FromService3] !
			<br/>
			FROM SERVICE 4 [@Model.FromService4] !
		</div>
	</div>
</body>
</html>