@model CGuids

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			INSTANCE 1 ID [@Model.ID1] !
			<br/>
			INSTANCE 2 ID [@Model.ID2] !
		</div>
		<br/>
		<div class="INNER_BOX">
			Go to [<a asp-action="ShowGuids">Execute REFRESH !</a>] !
		</div>
	</div>
</body>
</html>