@model CPerson[]

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<title>View Persons</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>ID</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Age</th>
				<th>Psi</th>
				<th>Height</th>
			</tr>

			@foreach(CPerson Person in @Model)
			{
				<tr>
					<th>
						@Person.ID
					</th>

					<td>
						[@Person.FirstName]
					</td>

					<td>
						[@Person.LastName]
					</td>

					<td>
						[@Person.Age] !
					</td>

					<td>
						[@Person.Psi] !
					</td>

					<td>
						[@Person.Height] !
					</td>
				</tr>
			}
		</table>
	</div>
</body>
</html>