@model CNameWithNote[]

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<title>View Names</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>ID</th>
				<th>First name</th>
				<th>Last name</th>
				<th>Age</th>
				<th>Note</th>
			</tr>

			@foreach(CNameWithNote Name in @Model)
			{
				<tr>
					<th>
						@Name.ID
					</th>
						
					<td>
						[@Name.FirstName]
					</td>
						
					<td>
						[@Name.LastName]
					</td>
						
					<td>
						[@Name.Age] !
					</td>
						
					<td>
						[@Name.Note] !
					</td>
				</tr>
			}
		</table>
	</div>
</body>
</html>