@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- Spusti sa ENDPOINT, ktory vracia informaciu ci HTTP REQUEST MESSAGE bola odoslana cez HTTPS PROTOCOL. -->
			<!-- !!!!! FUNGUJE ako HTTP IBA ak nie je pouzita HTTP STRICT TRANSPORT SECURITY. -->
			Go to [<a href="http://localhost:80/TestHttps">Test HTTPS via HTTP !</a>]
			<br/>
			<!-- Spusti sa ENDPOINT, ktory vracia informaciu ci HTTP REQUEST MESSAGE bola odoslana cez HTTPS PROTOCOL. -->
			Go to [<a href="https://localhost:443/TestHttps">Test HTTPS via HTTPS !</a>]
		</div>
	</div>
</body>
</html>