<?xml version="1.0" encoding="utf-8" ?>

<!-- V CONTRACT musi byt nastavene ProtectionLevel.None, aj ked MESSAGE by mala byt SECURED. -->

<configuration>
  <system.serviceModel>
    <services>
      <service name="SecurityWithPrivateQueuesService.CPrintService"
               behaviorConfiguration="SBH">
        <endpoint address="net.msmq://localhost/private/PrintService"
                  binding="netMsmqBinding"
                  contract="SecurityWithPrivateQueuesService.IPrintService"
                  bindingConfiguration="BC">
        </endpoint>
      </service>
    </services>

    <bindings>
      <netMsmqBinding>
        <binding name="BC">
          <security mode="Transport">
            <transport msmqAuthenticationMode="Certificate" msmqProtectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SBH">
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>