<?xml version="1.0" encoding="utf-8" ?>

<!-- V CONTRACT musi byt nastavene ProtectionLevel.EncryptAndSign. -->

<configuration>
  <system.serviceModel>
    <services>
      <service name="SecurityWithPrivateQueuesService.CPrintService"
               behaviorConfiguration="SBH">
        <endpoint address="net.msmq://localhost/private/PrintService"
                  binding="netMsmqBinding"
                  contract="SecurityWithPrivateQueuesService.IPrintService"
                  bindingConfiguration="BC">
        </endpoint>
      </service>
    </services>

    <bindings>
      <netMsmqBinding>
        <binding name="BC">
          <security mode="Message">
            <message clientCredentialType="UserName"/>

            <!-- Toto bezi OK. -->
            <!--message clientCredentialType="None"/-->

            <!-- Toto nefunguje pri PRIVATE QUEUES. -->
            <!--message clientCredentialType="Windows"/-->
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SBH">
          <serviceCredentials>
            <!-- !!! Kedze pouzivam MESSAGE SECURITY (TRANSPORT SECURITY NEBEZI pre PRIVATE QUEUES), tak MUSIM zaregistrovat SERVICE CERTIFICATE. -->
            <serviceCertificate storeLocation="LocalMachine"
                                storeName="TrustedPeople"
                                x509FindType="FindBySubjectName"
                                findValue="TestMS"/>

            <userNameAuthentication userNamePasswordValidationMode="Custom" 
                                    customUserNamePasswordValidatorType="SecurityWithPrivateQueuesService.CCustomAuthentication,SecurityWithPrivateQueuesService"/>
          </serviceCredentials>

          <!-- !!!!! Tento parameter urcuje iba to AKY TYP PRINCIPAL sa ulozi to TLS pri volani metody SERVICE. Pokial vsak NEPOSLEM VALIDNY Windows LOGIN, tak v Thread.CurrentPrincipal budem mat PRAZDNY PRINCIPAL, ale METODA SERVICE SA VYVOLA. -->
          <serviceAuthorization principalPermissionMode="UseWindowsGroups"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>