@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- Spusti sa ENDPOINT, ktory vykona LONG CALCULATION. -->
			Go to [<a href="http://localhost:50000/LongCalculation">Perform LONG CALCULATION !</a>]
			<br/>
			<!-- Spusti sa ENDPOINT, ktory vykonava ABSOLUTE LIFETIME CACHING LONG CALCULATION. -->
			Go to [<a href="http://localhost:50000/CachedAbsoluteLongCalculation">Perform LONG CALCULATION with ABSOLUTE LIFETIME CACHING !</a>]
			<br/>
			<!-- Spusti sa ENDPOINT, ktory vykonava RELATIVE LIFETIME CACHING LONG CALCULATION. -->
			Go to [<a href="http://localhost:50000/CachedRelativeLongCalculation">Perform LONG CALCULATION with RELATIVE LIFETIME CACHING !</a>]
			<br/>
			<!-- Spusti sa ENDPOINT, ktory vykonava SLIDING LIFETIME CACHING LONG CALCULATION. -->
			Go to [<a href="http://localhost:50000/CachedSlidingLongCalculation">Perform LONG CALCULATION with SLIDING LIFETIME CACHING !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- Spusti sa ENDPOINT, ktory vykonava RESPONSE CACHING. -->
			Go to [<a href="http://localhost:50000/ResponseCacheLongCalculation">Perform RESPONSE CACHING !</a>]
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-page="/PageViewPersons">Go to RAZOR PAGE DB OPERATIONS !</a>]
		</div>
	</div>
</body>
</html>