@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- Spusti sa ENDPOINT, ktory pouziva COOKIES. -->
			Go to [<a href="http://localhost:50000/CookieCounterCount">Using COUNTER COOKIES !</a>]
			<br/>
			<!-- Spusti sa ENDPOINT, ktory odstranuje COOKIES. -->
			Go to [<a href="http://localhost:50000/CookieCounterDelete">Deleting COUNTER COOKIES !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- Spusti sa ENDPOINT, ktory pouziva COOKIES. Jedna COOKIE je ESSENTIAL a druha COOKIE jej NON-ESSENTIAL. -->
			Go to [<a href="http://localhost:50000/CookieEssentialCounterCount">Using ESSENTIAL/NON-ESSENTIAL COUNTER COOKIES !</a>]
			<br/>
			<!-- Spusti sa ENDPOINT, ktory odstranuje COOKIES. Jedna COOKIE je ESSENTIAL a druha COOKIE jej NON-ESSENTIAL. -->
			Go to [<a href="http://localhost:50000/CookieEssentialCounterDelete">Deleting ESSENTIAL/NON-ESSENTIAL COUNTER COOKIES !</a>]
			<br/>
			<!-- Spusti sa ENDPOINT, ktory vykona GRANT CONSENT. -->
			Go to [<a href="http://localhost:50000/CookieEssentialCounterGrantConsent">Grant CONSENT !</a>]
			<br/>
			<!-- Spusti sa ENDPOINT, ktory vykona WITHDRAW CONSENT. -->
			Go to [<a href="http://localhost:50000/CookieEssentialCounterWithdrawConsent">Withdraw CONSENT !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- Spusti sa ENDPOINT, ktory pouziva SESSION DATA. -->
			Go to [<a href="http://localhost:50000/SessionCounterCount">Using SESSION DATA !</a>]
			<br/>
			<!-- Spusti sa ENDPOINT, ktory odstranuje SESSION DATA. -->
			Go to [<a href="http://localhost:50000/SessionCounterDelete">Deleting SESSION DATA !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- Spusti sa ENDPOINT, ktory vracia informaciu ci HTTP REQUEST MESSAGE bola odoslana cez HTTPS PROTOCOL. -->
			<!-- !!!!! FUNGUJE ako HTTP IBA ak nie je vynutena HTTPS REDIRECTION. -->
			Go to [<a href="http://localhost:50000/TestHttps">Test HTTPS via HTTP !</a>]
			<br/>
			<!-- Spusti sa ENDPOINT, ktory vracia informaciu ci HTTP REQUEST MESSAGE bola odoslana cez HTTPS PROTOCOL. -->
			Go to [<a href="https://localhost:50001/TestHttps">Test HTTPS via HTTPS !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- Spusti sa ENDPOINT, ktory generuje UNHANDLED EXCEPTION. -->
			Go to [<a href="http://localhost:50000/ThrowUnhandledExcepion">Throw UNHANDLED EXCEPTION !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- Vykona sa dotaz na URL, ktora NEEXISTUJE. -->
			Go to [<a href="http://localhost:50000/XXX/YYY/ZZZ">Go to NON-EXISTING URL !</a>]
		</div>
	</div>
</body>
</html>