<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <protocolMapping>
      <!-- Definujem MAPPING, ktory urci, ze pre HTTP adresu je treba pouzit WsHttpBinding. -->
      <add scheme="http" binding="wsHttpBinding" bindingConfiguration="BC"/>
    </protocolMapping>
    
    <client>
      <endpoint name="Test1"
                address="net.tcp://localhost:9005"
                binding="netTcpBinding"
                contract="DefaultEndpointHost.IService">
      </endpoint>

      <!-- Kedze pouzivam WsHttpBinding a WCF standardne pri pouziti HTTP BASE ADDRESS pouzije BasicHttpBinding. Ak chcem pouzit WsHttpBinding, musim nakonfigurovat MAPPING. -->
      <endpoint name="Test2"
                address="http://localhost:9006"
                binding="wsHttpBinding"
                contract="DefaultEndpointHost.IService">
      </endpoint>
    </client>

    <bindings>
      <wsHttpBinding>
        <binding name="BC"/>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>