@model CPerson

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-controller="UseInputTagHelpers" asp-action="UseFormattedInputCallback">
			<div class="form-group">
				<label for="FirstName">First name:</label>
				<input class="form-control" asp-for="FirstName" />
			</div>

			<div class="form-group">
				<label for="LastName">Last name:</label>
				<input class="form-control" asp-for="LastName" />
			</div>

			<div class="form-group">
				<label for="Age">Age:</label>
				<input class="form-control" asp-for="Age" />
			</div>

			<div class="form-group">
				<label for="Psi">Psi:</label>
				<!-- !!! ATTRIBUTE [asp-format] obsahuje FORMAT v ktorom bude zobrazena VALUE. -->
				<!-- !!! CHROME NEPODPORUJE vsetky FORMATS. Treba skusat z IE11. -->
				<input class="form-control" asp-for="Psi" asp-format="{0:N}" />
			</div>

			<div class="form-group">
				<label for="Height">Height:</label>
				<input class="form-control" asp-for="Height" />
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Add name</button>
			</div>
		</form>
	</div>
</body>
</html>