@model CName

@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-controller="UseInputTagHelpers" asp-action="UseInputAttributesCallback">
			<div class="form-group">
				<label for="FirstName">First name:</label>
				<!-- !!! TAG HELPER [InputTagHelper] HTML ATTRIBUTE [asp-for] nastavi HTML ATTRIBUTE [id], HTML ATTRIBUTE [name] a  HTML ATTRIBUTE [type]. -->
				<!-- !!! ATTRIBUTE [asp-for] MUSI obsahovat nazov C# PROPERTY MODEL OBJECT. -->
				<!-- !!! Ak je VALUE HTML ATTRIBITE [type] definovana EXPLICITNE, tak ASP.NET pouzije tuto VALUE. -->
				<input class="form-control" type="text" asp-for="FirstName" />
			</div>

			<div class="form-group">
				<label for="LastName">Last name:</label>
				<!-- !!! TAG HELPER [InputTagHelper] HTML ATTRIBUTE [asp-for] nastavi HTML ATTRIBUTE [id], HTML ATTRIBUTE [name] a  HTML ATTRIBUTE [type]. -->
				<!-- !!! ATTRIBUTE [asp-for] MUSI obsahovat nazov C# PROPERTY MODEL OBJECT. -->
				<input class="form-control" asp-for="LastName" />
			</div>

			<div class="form-group">
				<label for="Age">Age:</label>
				<!-- !!! TAG HELPER [InputTagHelper] HTML ATTRIBUTE [asp-for] nastavi HTML ATTRIBUTE [id], HTML ATTRIBUTE [name] a  HTML ATTRIBUTE [type]. -->
				<!-- !!! ATTRIBUTE [asp-for] MUSI obsahovat nazov C# PROPERTY MODEL OBJECT. -->
				<input class="form-control" asp-for="Age" />
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Add name</button>
			</div>
		</form>
	</div>
</body>
</html>