@page
@model ModelBinding.Pages.PageBindSimpleTypeModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
    <title>PageBindSimpleType</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-page="PageBindSimpleType" asp-page-handler="MyHandler">
			@Html.AntiForgeryToken()

			<div class="form-group">
				<label asp-for="SimpleChild.FirstName">First name:</label>
				<!-- Nato, aby bol BINDING USPESNE VYKONANY, je NUTNE na INPUT HTML ELEMENTS aplikovat HTML ATTRIBUTE [name], ktoreho VALUE je ROVNAKA ako NAME PARAMETER RAZOR PAGE HANDLER. -->
				<input class="form-control" asp-for="SimpleChild.FirstName" name="FirstName"/>
			</div>

			<div class="form-group">
				<label asp-for="SimpleChild.LastName">Last name:</label>
				<!-- Nato, aby bol BINDING USPESNE VYKONANY, je NUTNE na INPUT HTML ELEMENTS aplikovat HTML ATTRIBUTE [name], ktoreho VALUE je ROVNAKA ako NAME PARAMETER RAZOR PAGE HANDLER. -->
				<input class="form-control" asp-for="SimpleChild.LastName" name="LastName"/>
			</div>

			<div class="form-group">
				<label asp-for="SimpleChild.Age">Age:</label>
				<!-- Nato, aby bol BINDING USPESNE VYKONANY, je NUTNE na INPUT HTML ELEMENTS aplikovat HTML ATTRIBUTE [name], ktoreho VALUE je ROVNAKA ako NAME PARAMETER RAZOR PAGE HANDLER. -->
				<input class="form-control" asp-for="SimpleChild.Age" name="Age" value=""/>
			</div>

			<div class="form-group">
				<label asp-for="SimpleChild.Age">Age:</label>
				<!-- Nato, aby bol BINDING USPESNE VYKONANY, je NUTNE na INPUT HTML ELEMENTS aplikovat HTML ATTRIBUTE [name], ktoreho VALUE je ROVNAKA ako NAME PARAMETER RAZOR PAGE HANDLER. -->
				<select class="form-control" asp-for="SimpleChild.Sex" name="Sex" asp-items="@new SelectList(Enum.GetNames(typeof(ESex)))">
				</select>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Add name</button>
			</div>
		</form>
	</div>
</body>
</html>