@page
@model ModelBinding.Pages.PageComplexTypeArrayBindingModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
    <title>PageComplexTypeArrayBinding</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-page="PageComplexTypeArrayBinding" asp-page-handler="MyHandler">
			@for(int Index=0;Index<3;Index++)
			{
				<div class="form-group">
					<label>First name:</label>
					<!-- !!! SYNTAX MODEL_OBJECT_PROPERTY[[INDEX].PROPERTY_NAME] mapuje VALUE INPUT HTML ELEMENT na PROPERTY 'PROPERTY_NAME' OBJECT s INDEX 'INDEX' v COMPLEX TYPE ARRAY (COLLECTION). -->
					<input class="form-control" name="Children[@Index].FirstName" />
				</div>

				<div class="form-group">
					<label>Last name:</label>
					<!-- !!! SYNTAX MODEL_OBJECT_PROPERTY[[INDEX].PROPERTY_NAME] mapuje VALUE INPUT HTML ELEMENT na PROPERTY 'PROPERTY_NAME' OBJECT s INDEX 'INDEX' v COMPLEX TYPE ARRAY (COLLECTION). -->
					<input class="form-control" name="Children[@Index].LastName" />
				</div>

				<div class="form-group">
					<label>Age:</label>
					<!-- !!! SYNTAX MODEL_OBJECT_PROPERTY[[INDEX].PROPERTY_NAME] mapuje VALUE INPUT HTML ELEMENT na PROPERTY 'PROPERTY_NAME' OBJECT s INDEX 'INDEX' v COMPLEX TYPE ARRAY (COLLECTION). -->
					<input class="form-control" name="Children[@Index].Age" />
				</div>

				<div class="form-group">
					<label>Sex:</label>
					<!-- !!! SYNTAX MODEL_OBJECT_PROPERTY[[INDEX].PROPERTY_NAME] mapuje VALUE INPUT HTML ELEMENT na PROPERTY 'PROPERTY_NAME' OBJECT s INDEX 'INDEX' v COMPLEX TYPE ARRAY (COLLECTION). -->
					<select class="form-control" name="Children[@Index].Sex" asp-items="@new SelectList(Enum.GetNames(typeof(ESex)))">
					</select>
				</div>
			}

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Add child</button>
			</div>
		</form>
	</div>
</body>
</html>