@page
@model ModelBinding.Pages.PageIndexedSimpleTypeArrayBindingModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
    <title>PageSimpleTypeArrayBinding</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-page="PageIndexedSimpleTypeArrayBinding" asp-page-handler="MyHandler">
			<div class="form-group">
				<label>Name 1:</label>
				<!-- !!! Ak sa maju VALUES SIMPLE TYPE namapovat na COLLECTION (ARRAY), musia ma ROVNAKU VALUE HTTP ATTRIBUTE [name]. -->
				<!-- !!! NUMERIC INDEX urcuje poziciu v ARRAY, kde sa ITEM ulozi. -->
				<input class="form-control" name="Names[2]" />
			</div>

			<div class="form-group">
				<label>Name 2:</label>
				<!-- !!! Ak sa maju VALUES SIMPLE TYPE namapovat na COLLECTION (ARRAY), musia ma ROVNAKU VALUE HTTP ATTRIBUTE [name]. -->
				<!-- !!! NUMERIC INDEX urcuje poziciu v ARRAY, kde sa ITEM ulozi. -->
				<input class="form-control" name="Names[1]" />
			</div>

			<div class="form-group">
				<label>Name 3:</label>
				<!-- !!! Ak sa maju VALUES SIMPLE TYPE namapovat na COLLECTION (ARRAY), musia ma ROVNAKU VALUE HTTP ATTRIBUTE [name]. -->
				<!-- !!! NUMERIC INDEX urcuje poziciu v ARRAY, kde sa ITEM ulozi. -->
				<input class="form-control" name="Names[0]" />
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Add name</button>
			</div>
		</form>
	</div>
</body>
</html>