@page
@model ModelBinding.Pages.PageBindComplexType
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
    <title>PageBindComplexType</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-page="PageBindComplexType" asp-page-handler="MyHandler">
			@Html.AntiForgeryToken()

			<div class="form-group">
				<label asp-for="SimpleChild.FirstName">First name:</label>
				<input class="form-control" asp-for="SimpleChild.FirstName"/>
			</div>

			<div class="form-group">
				<label asp-for="SimpleChild.LastName">Last name:</label>
				<input class="form-control" asp-for="SimpleChild.LastName"/>
			</div>

			<div class="form-group">
				<label asp-for="SimpleChild.Age">Age:</label>
				<input class="form-control" asp-for="SimpleChild.Age" value=""/>
			</div>

			<div class="form-group">
				<label asp-for="SimpleChild.Sex">Sex:</label>
				<select class="form-control" asp-for="SimpleChild.Sex" asp-items="@new SelectList(Enum.GetNames(typeof(ESex)))">
				</select>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Add name</button>
			</div>
		</form>
	</div>
</body>
</html>