@page
@model ModelBinding.Pages.PageViewChildrenModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
    <title>PageViewSimpleChildren</title>
</head>
<body>
	<div class="OUTER_BOX">
		<table class="table table-bordered table-striped">
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Age</th>
				<th>Sex</th>
				<th>City</th>
				<th>Country</th>
			</tr>

			@foreach(CChild Child in @Model.Children)
			{
				<tr>
					<td>
						[@Child.FirstName]
					</td>
						
					<td>
						[@Child.LastName]
					</td>
						
					<td>
						[@Child.Age]
					</td>
						
					<td>
						[@Child.Sex]
					</td>
						
					<td>
						<!-- !!! Pretoze PROPERTY 'Address' moze obsahovat NULL, je treba pridat kontrolu na NULL VALUE. -->
						[@Child.Address?.City]
					</td>
						
					<td>
						<!-- !!! Pretoze PROPERTY 'Address' moze obsahovat NULL, je treba pridat kontrolu na NULL VALUE. -->
						[@Child.Address?.Country] !
					</td>
				</tr>
			}
		</table>
	</div>
</body>
</html>