<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="Proxy"
                address="net.tcp://localhost:9000"
                binding="netTcpBinding"
                contract="WCFCloseOneWayWithSessionTest.ITestService"
                bindingConfiguration="EndpointBinding"
                behaviorConfiguration="EndpointBehavior">
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="EndpointBinding">
          <security mode="Message">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
              <defaultCertificate findValue="ZEUS2"
                                  storeLocation="LocalMachine"
                                  storeName="TrustedPeople"
                                  x509FindType="FindBySubjectName"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>