<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
    	<meta charset="UTF-8">
    	<title>SCOPES</title>
	</head>

	<body>
		<a href="http://localhost:8080/Index">INDEX !</a>
		<br/>
		<form action="/Refresh" method="post">
			<button type="submit">Refresh</button>			
		</form>

		<form action="/TerminateSession" method="post">
			<button type="submit">Terminate Session</button>			
		</form>
		
		<p th:text="${Date}"></p>
		<p th:text="${RequestScope}"></p>
		<p th:text="${SessionScope}"></p>
		<p th:text="${ApplicationScope}"></p>
	</body>
</html>