@page

@model ApplyingCoreIdentity.Pages.PageAddRoleModel

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<!-- !!!!! BOOTSTRAP sa MUSI nachadzat PRED 'Errors.css', inak sa CSS CLASS 'Errors.css' NEAPLIKUJE. -->
	<link rel="stylesheet" href="~/StaticFiles/Styles/Errors.css" />
	<title>Add Role</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-page="PageAddRole">
			<div class="INNER_BOX" asp-validation-summary="All"></div>

			<div class="form-group">
				<label asp-for="RoleAdd.RoleName">Role name:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("RoleAdd.RoleName")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="RoleAdd.RoleName"></span>
					</div>
				}

				<input class="form-control" asp-for="RoleAdd.RoleName" />
			</div>

			<div class="form-group">
				<label asp-for="RoleAdd.Description">Description:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("RoleAdd.Description")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="RoleAdd.Description"></span>
					</div>
				}

				<input class="form-control" asp-for="RoleAdd.Description" value="" />
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Add role</button>
				<a class="btn btn-sm btn-primary" asp-page="/RoleManagement/PageViewRoles">Cancel</a>
			</div>
		</form>
	</div>
</body>
</html>