@page

@model ApplyingCoreIdentity.Pages.PageDeleteRoleModel

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<!-- !!!!! BOOTSTRAP sa MUSI nachadzat PRED 'Errors.css', inak sa CSS CLASS 'Errors.css' NEAPLIKUJE. -->
	<link rel="stylesheet" href="~/StaticFiles/Styles/Errors.css" />
	<title>Delete Role</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-page="PageDeleteRole">
			<div class="INNER_BOX" asp-validation-summary="All"></div>

			<div class="form-group">
				<label asp-for="RoleDelete.ID">ID:</label>
				<input class="form-control" asp-for="RoleDelete.ID" readonly />
			</div>

			<div class="form-group">
				<label asp-for="RoleDelete.RoleName">Role name:</label>
				<input class="form-control" asp-for="RoleDelete.RoleName" readonly />
			</div>

			<div class="form-group">
				<label asp-for="RoleDelete.Description">Email:</label>
				<input class="form-control" asp-for="RoleDelete.Description" readonly />
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary" asp-route-ID="@Model.RoleDelete.ID">Delete role</button>
				<a class="btn btn-sm btn-primary" asp-page="/RoleManagement/PageViewRoles">Cancel</a>
			</div>
		</form>
	</div>
</body>
</html>