<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="Test"
                address="http://localhost:3000/Test"
                binding="ws2007HttpBinding"
                bindingConfiguration="EndpointBinding"
                contract="ReliableSession_FaultEvent_Shared.ISimpleTestInterface">
      </endpoint>
    </client>

    <bindings>
      <ws2007HttpBinding>
        <binding name="EndpointBinding">
          <security mode="None"/>
          
          <!-- !!!!! NEPOUZIVAM RELIABLE SESSION. -->
          <reliableSession enabled="false"/>
        </binding>
      </ws2007HttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>