<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="Test"
                address="net.tcp://localhost:3000/Test"
                binding="netTcpBinding"
                bindingConfiguration="EndpointBinding"
                contract="ReliableSession_FaultEvent_Shared.ISimpleTestInterface">
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="EndpointBinding">
          <security mode="None"/>
          
          <!-- !!!!! POUZIJEM RELIABLE SESSION. -->
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>