<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
    <title>Sports Store</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="bg-dark text-white p-2">
			<span class="navbar-brand ml-2">SPORTS STORE</span>
		</div>
		<div class="row m-1 p-1">
			<div id="categories" class="col-3">
				Put something useful here later !!!
			</div>
			<div class="col-9">
				@RenderBody()
			</div>
		</div>
    </div>
</body>
</html>