@page
@model UsingBuiltInTagHelpers.Pages.AnchorTagHelperPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
    <title>ViewNamesPage</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! HTML ATTRIBUTE [asp-page] obsahuje nazov RAZOR PAGE, ktora sa ma zobrazit. -->
			<!-- !!! HTML ATTRIBUTE [asp-page-handler] obsahuje nazov HANDLER RAZOR PAGE, ktory sa ma pouzit na zobrazenie RAZOR PAGE. -->
			Go to <a asp-page="ImageTagHelperPage" asp-page-handler="MyHandler">IMAGE TAG HELPER PAGE [@Url.Page("ImageTagHelperPage","MyHandler")]</a> !
		</div>
	</div>
</body>
</html>