@page
@model UsingBuiltInTagHelpers.Pages.ImageTagHelperPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
    <title>ViewNamesPage</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! Pri ziskani IMAGE sa do URL v QUERY STRING prida VERSION. -->
			<img src="~/MyImages/City.png" asp-append-version="true" />
		</div>
	</div>
</body>
</html>