@model CName[]

<!-- !!!!! PARTIAL VIEW pre VIEW COMPONENT 'ReturnValuePartialView1'. -->

<div class="OUTER_BOX">
	<table class="table table-bordered table-striped">
		<tr>
			<th>ID</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Age</th>
		</tr>

		@foreach(CName Name in @Model)
		{
			<tr>
				<th>
					@Name.ID
				</th>
						
				<td>
					[@Name.FirstName]
				</td>
						
				<td>
					[@Name.LastName]
				</td>
						
				<td>
					[@Name.Age] !
				</td>
			</tr>
		}
	</table>
</div>