@page

@model CoreApplicationsExampleProject.Pages.PageAddPersonModel

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<!-- !!!!! BOOTSTRAP sa MUSI nachadzat PRED 'Errors.css', inak sa CSS CLASS 'Errors.css' NEAPLIKUJE. -->
	<link rel="stylesheet" href="~/StaticFiles/Styles/Errors.css" />
	<title>Add Person</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-page="PageAddPerson">
			<div class="form-group">
				<label asp-for="Person.FirstName">First name:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("Person.FirstName")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="Person.FirstName"></span>
					</div>
				}

				<input class="form-control" asp-for="Person.FirstName" />
			</div>

			<div class="form-group">
				<label asp-for="Person.LastName">Last name:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("Person.LastName")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="Person.LastName"></span>
					</div>
				}

				<input class="form-control" asp-for="Person.LastName" />
			</div>

			<div class="form-group">
				<label asp-for="Person.Age">Age:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("Person.Age")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="Person.Age"></span>
					</div>
				}

				<input class="form-control" asp-for="Person.Age" value="" />
			</div>

			<div class="form-group">
				<label asp-for="Person.Sex">Sex:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("Person.Sex")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="Person.Sex"></span>
					</div>
				}

				<select class="form-control" asp-for="Person.Sex" asp-items="@new SelectList(Enum.GetNames(typeof(ESex)))">
				</select>
			</div>

			<div class="form-group">
				<label asp-for="Person.Address.City">City:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("Person.Address.City")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="Person.Address.City"></span>
					</div>
				}

				<input class="form-control" asp-for="Person.Address.City" />
			</div>

			<div class="form-group">
				<label asp-for="Person.Address.Country">Country:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("Person.Address.Country")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="Person.Address.Country"></span>
					</div>
				}

				<input class="form-control" asp-for="Person.Address.Country" />
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Add person</button>
				<a class="btn btn-sm btn-primary" asp-page="PageViewPersons">Cancel</a>
			</div>
		</form>
	</div>
</body>
</html>