<?xml version="1.0"?>
<configuration>
  <startup>
    <!-- !!! Vyberie sa 1. NAINSTALOVANA VERZIA. V tomto pripade by to bola 'v2.0.50727'. To vsak hodi ERROR, lebo program na linkovane LIBRARIES z .NET 4.0.. -->
    <!--supportedRuntime version="v2.0.50727"/-->
  </startup>
  
  <runtime>
    <gcServer enabled="true"/>
    <gcConcurrent enabled="false"/>
  </runtime>
</configuration>
