<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="DiscoverySharedLibrary.CToUpperService" 
               behaviorConfiguration="ServiceBehavior">
        <endpoint address="net.tcp://TimmyAnderson:2000/"
                  binding="netTcpBinding"
                  contract="DiscoverySharedLibrary.IToUpperContract"
                  behaviorConfiguration="EndpointBehavior">
        </endpoint>

        <endpoint kind="udpDiscoveryEndpoint"/>

        <!-- Vystavim MEX. -->
        <endpoint kind="mexEndpoint" address="MEX"/>

        <host>
          <baseAddresses>
            <add baseAddress="http://TimmyAnderson:5000/"/>
          </baseAddresses>
        </host>
      </service>

      <service name="DiscoverySharedLibrary.CToLowerService"
               behaviorConfiguration="ServiceBehavior">
        <!-- Pouzil som v adrese 'localhost', co pri DISCOVERY by znamenalo, ze CLIENT ziska 'localhost' adresu a NIE adresu SKUTOCNEHO HOST. -->
        <endpoint address="net.tcp://localhost:3000/"
                  binding="netTcpBinding"
                  contract="DiscoverySharedLibrary.IToLowerContract"
                  behaviorConfiguration="EndpointBehavior">
        </endpoint>

        <endpoint kind="udpDiscoveryEndpoint"/>

        <!-- Vystavim MEX. -->
        <endpoint kind="mexEndpoint" address="MEX"/>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:6000/"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceDiscovery/>
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <endpointDiscovery>
            <scopes>
              <add scope="net.tcp://Scope1"/>
              <add scope="net.tcp://Scope2"/>
            </scopes>
          </endpointDiscovery>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>