<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ContextBindingsSharedLibrary.CToUpperService">
        <endpoint address="net.tcp://localhost:2000/"
                  binding="netTcpContextBinding"
                  contract="ContextBindingsSharedLibrary.IToUpperContract">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>