<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="RoutingTestBackupService1.CToUpper">
        <endpoint address="net.tcp://localhost:9001/"
                  binding="netTcpBinding"
                  contract="RoutingTestBackupService1.IToUpper">  
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>