@page "/Error"

@model RealApplication5.Pages.ErrorModel

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
    <title>Error</title>
</head>
<body class="text-center">
	<div class="OUTER_BOX">
		<h2 class="text-danger">Error.</h2>
		<h3 class="text-danger">An error occurred while processing your request !</h3>
	</div>
</body>
</html>