@page

@model ApplyingCoreIdentity.Pages.AuthenticationErrorModel

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Authentication Error</title>
</head>
<body>
	<div class="OUTER_BOX">
		<h1>AUTHENTICATION ERROR</h1>
		<h2>@Model.AuthenticationError</h2>
		<a class="btn btn-sm btn-primary" asp-controller="Home" asp-action="Index">Go BACK !</a>
	</div>
</body>
</html>