@page

@model ApplyingCoreIdentity.Pages.ResourceAuthorization1Model

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Resurce Authorization</title>
</head>
<body>
	<div class="OUTER_BOX">
		<h3>PROTECTED RESOURCE:</h3>

		<table class="table table-bordered table-striped">
			<tr>
				<th>Owner</th>
				<th>Resource data</th>
			</tr>

			<tr>
				<td>
					[@Model.ProtectedResource.Owner]
				</td>

				<td>
					[@Model.ProtectedResource.ResourceData] !
				</td>
			</tr>
		</table>
	</div>

	<div class="form-group">
		<a class="btn btn-sm btn-primary" asp-page-handler="PerformLogout">Perform LOGOUT !</a>
		<a class="btn btn-sm btn-primary" asp-page="/Authentication/Test">Go BACK !</a>
	</div>
</body>
</html>