@page

@model ApplyingCoreIdentity.Pages.ShowUserAndRolesForUsersModel

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Show User and Roles</title>
</head>
<body>
	<div class="OUTER_BOX">
		<h2>User ID: [@Model.AuthenticationUser.UserID] !</h2>
		<h2>User name: [@Model.AuthenticationUser.UserName] !</h2>
		<h2>User description: [@Model.AuthenticationUser.UserDescription] !</h2>
		<h2>Roles:</h2>

		<table class="table table-bordered table-striped">
			<tr>
				<th>Number</th>
				<th>Role ID</th>
				<th>Role name</th>
				<th>Role description</th>
			</tr>

			@for(int Index=0;Index<Model.AuthenticationUser.Roles.Length;Index++)
			{
				CAuthenticationRole								AuthenticationRole=Model.AuthenticationUser.Roles[Index];

				<tr>
					<td>
						[@(Index+1)]
					</td>
						
					<td>
						[@AuthenticationRole.RoleID]
					</td>

					<td>
						[@AuthenticationRole.RoleName]
					</td>

					<td>
						[@AuthenticationRole.RoleDescription] !
					</td>
				</tr>
			}
		</table>

		<h3>CLAIMS:</h3>

		<table class="table table-bordered table-striped">
			<tr>
				<th>Number</th>
				<th>Issuer</th>
				<th>Type</th>
				<th>Value</th>
			</tr>

			@for(int Index=0;Index<Model.AuthenticationUser.Claims.Length;Index++)
			{
				Claim											UserClaim=Model.AuthenticationUser.Claims[Index];

				<tr>
					<td style="word-break:break-word;max-width:1px">
						[@(Index+1)]
					</td>
						
					<td style="word-break:break-word;max-width:1px">
						[@UserClaim.Issuer]
					</td>

					<td style="word-break:break-word;max-width:1px">
						[@UserClaim.Type]
					</td>

					<td style="word-break:break-word;max-width:1px">
						[@UserClaim.Value] !
					</td>
				</tr>
			}
		</table>
	</div>

	<div class="form-group">
		<a class="btn btn-sm btn-primary" asp-page-handler="PerformLogout">Perform LOGOUT !</a>
		<a class="btn btn-sm btn-primary" asp-page="/Authentication/Test">Go BACK !</a>
	</div>
</body>
</html>