@page

@model ApplyingCoreIdentity.Pages.TestModel

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Test</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<div class="INNER_BOX">
				<h4>User authenticated [@User?.Identity?.IsAuthenticated] !</h4>
				<h4>User name [@User?.Identity?.Name] !</h4>
			</div>

			Go to [<a asp-page="/Authentication/ShowUserAndRoles">Show User And Roles (for ALL ROLES) !</a>] !
			<br/>
			Go to [<a asp-page="/Authentication/ShowUserAndRolesForAdministrators">Show User And Roles (for ADMINISTRATORS) !</a>] !
			<br/>
			Go to [<a asp-page="/Authentication/ShowUserAndRolesForUsers">Show User And Roles (for USERS) !</a>] !
			<br/>
			Go to [<a asp-page="/Authentication/ShowUserAndRolesForPolicy1">Show User And Roles (for ADMINISTRATORS via POLICY) !</a>] !
			<br/>
			Go to [<a asp-page="/Authentication/ShowUserAndRolesForPolicy2">Show User And Roles (for USERS via POLICY) !</a>] !
			<br/>
			Go to [<a asp-page="/Authentication/ShowUserAndRolesForPolicyWithCustomRequirement">Show User And Roles (for Timmy) !</a>] !
			<br/>
			Go to [<a asp-page="/Authentication/ResourceAuthorization1">Resource Authorization (for ALL) !</a>] !
			<br/>
			Go to [<a asp-page="/Authentication/ResourceAuthorization2">Resource Authorization (for TIMMY) !</a>] !
			<br/>
			Go to [<a asp-page="/Authentication/ResourceAuthorization3">Resource Authorization (for JENNY) !</a>] !
		</div>
	</div>
</body>
</html>