@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa RAZOR PAGE, ktory ma C# CODE EMBEDDED v [.cshtml] FILE. -->
			Go to [<a href="http://localhost:50000/ShowName1">Show RAZOR PAGE with EMBEDDED C# CODE !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktory ma C# CODE v osobitnom [.cs] FILE. -->
			Go to [<a href="http://localhost:50000/ShowName2">Show RAZOR PAGE with INDEPENDENT C# CODE !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktory ma CUSTOM PARAMETER. -->
			Go to [<a href="http://localhost:50000/ShowNameUsingParameters?ID=1">Show RAZOR PAGE with NAME ID 1 !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora ma CUSTOM PARAMETER. -->
			Go to [<a href="http://localhost:50000/ShowNameUsingParameters?ID=2">Show RAZOR PAGE with NAME ID 2 !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora implementuje ASYNCHRONOUS METHOD [Task OnGet()]. -->
			Go to [<a href="http://localhost:50000/ShowNameAsynchronous">Show RAZOR PAGE with ASYNCHRONOUS METHOD !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora sa nahadza v SUBDIRECTORY. -->
			Go to [<a href="http://localhost:50000/Names/ShowName">Show RAZOR PAGE in SUBDIRECTORY !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora ma aplikovany STATIC ROUTE cez PAGE DIRECTIVE. -->
			Go to [<a href="http://localhost:50000/Segment1/Segment2/Segment3/ShowNameStaticRouting">Show RAZOR PAGE using STATIC ROUTING via PAGE DIRECTIVE !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora ma aplikovany ROUTE cez PAGE DIRECTIVE mapujuci URL SEGMENTS na PARAMETERS METHOD [void OnGet()]. -->
			Go to [<a href="http://localhost:50000/ShowNameUsingRoutedParameters/1/Timmy/Anderson/12">Show RAZOR PAGE using PARAMETER ROUTING via PAGE DIRECTIVE !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora ma aplikovany ROUTE cez PAGE DIRECTIVE mapujuci URL SEGMENTS na PARAMETERS METHOD [void OnGet()]. -->
			Go to [<a href="http://localhost:50000/ShowNameUsingRoutedParameters/2/Jenny/Thompson/13">Show RAZOR PAGE using PARAMETER ROUTING via PAGE DIRECTIVE !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora ma aplikovany STATIC ROUTE cez STARTUP CLASS. -->
			Go to [<a href="http://localhost:50000/Startup/Segment1/Segment2/Segment3/ShowNameStaticRouting">Show RAZOR PAGE using STATIC ROUTING via STARTUP CLASS !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora ma aplikovany ROUTE cez STARTUP CLASS mapujuci URL SEGMENTS na PARAMETERS METHOD [void OnGet()]. -->
			Go to [<a href="http://localhost:50000/Startup/ShowNameUsingRoutedParameters/1/Timmy/Anderson/12">Show RAZOR PAGE using PARAMETER ROUTING via STARTUP CLASS !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora ma aplikovany ROUTE cez STARTUP CLASS mapujuci URL SEGMENTS na PARAMETERS METHOD [void OnGet()]. -->
			Go to [<a href="http://localhost:50000/Startup/ShowNameUsingRoutedParameters/2/Jenny/Thompson/13">Show RAZOR PAGE using PARAMETER ROUTING via STARTUP CLASS !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora pouziva RAZOR PAGE VIEW IMPORTS FILE. -->
			Go to [<a href="http://localhost:50000/ShowNameUsingViewImports">Show RAZOR PAGE using RAZOR PAGE VIEW IMPORTS FILE !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora v RETURN VALUE vrati HTTP STATUS CODE 404. -->
			Go to [<a href="http://localhost:50000/ShowNameUsingReturnType?ID=0">Show RAZOR PAGE returning ERROR !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora v RETURN VALUE vrati RAZOR PAGE VIEW. -->
			Go to [<a href="http://localhost:50000/ShowNameUsingReturnType?ID=1">Show RAZOR PAGE returning RAZOR PAGE VIEW 1 !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora v RETURN VALUE vrati RAZOR PAGE VIEW. -->
			Go to [<a href="http://localhost:50000/ShowNameUsingReturnType?ID=2">Show RAZOR PAGE returning RAZOR PAGE VIEW 2 !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora v RETURN VALUE vrati REDIRECT na inu RAZOR WEB PAGE. -->
			Go to [<a href="http://localhost:50000/ShowNameUsingReturnType?ID=100">Show RAZOR PAGE returning REDIRECT to other RAZOR PAGE VIEW !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora podporuje HTTP GET a HTTP POST. -->
			Go to [<a href="http://localhost:50000/ShowNamesGetAndPost">Show RAZOR PAGE supporting HTTP GET and HTTP POST !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora ma viacero GET METHODS. Tento LINK vola DEFAULT GET METHOD. -->
			Go to [<a href="http://localhost:50000/ShowNameUsingHandlerViaQueryString">Show RAZOR PAGE with MULTIPLE GET METHODS calling DEFAULT METHOD !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora ma viacero GET METHODS. Tento LINK vola CUSTOM GET METHOD cez QUERY STRING PARAMETER. -->
			Go to [<a href="http://localhost:50000/ShowNameUsingHandlerViaQueryString?Handler=JennyThompson">Show RAZOR PAGE with MULTIPLE GET METHODS calling CUSTOM METHOD via QUERY STRING !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora ma viacero GET METHODS. Tento LINK vola DEFAULT GET METHOD. -->
			Go to [<a href="http://localhost:50000/ShowNameUsingHandlerViaSegment">Show RAZOR PAGE with MULTIPLE GET METHODS calling DEFAULT METHOD !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora ma viacero GET METHODS. Tento LINK vola CUSTOM GET METHOD cez SEGMENT VALUE. -->
			Go to [<a href="http://localhost:50000/ShowNameUsingHandlerViaSegment/JennyThompson">Show RAZOR PAGE with MULTIPLE GET METHODS calling CUSTOM METHOD via SEGMENT VALUE !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora pouziva LAYOUT. -->
			Go to [<a href="http://localhost:50000/Layouts/ShowNameUsingLayout">Show RAZOR PAGE using LAYOUT !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora pouziva PARTIAL VIEWS. -->
			Go to [<a href="http://localhost:50000/PartialViews/ShowNameUsingPartialViews">Show RAZOR PAGE using PARTIAL VIEWS !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa RAZOR PAGE, ktora pouziva RAZOR PAGE bez RAZOR PAGE MODEL CLASS. -->
			Go to [<a href="http://localhost:50000/ShowNamesNoModelClass">Show RAZOR PAGE without RAZOR PAGE MODEL CLASS !</a>] !
		</div>
	</div>
</body>
</html>