@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! VALUE VARIABLE 'ID' sa nacita z ROUTE VARIABLE. -->
			Go to [<a href="http://localhost:50000/ModelBinding/ShowName/1">/ModelBinding/ShowName/1 !</a>] !
			<br/>
			<!-- !!! VALUE VARIABLE 'ID' sa nacita z ROUTE VARIABLE. -->
			Go to [<a href="http://localhost:50000/ModelBinding/ShowName/2">/ModelBinding/ShowName/2 !</a>] !
			<br/>
			<!-- !!! VALUE VARIABLE 'ID' sa nacita z ROUTE VARIABLE. -->
			Go to [<a href="http://localhost:50000/ModelBinding/ShowName/3">/ModelBinding/ShowName/3 !</a>] !
			<br/>
			<!-- !!! VALUE VARIABLE 'ID' sa nacita z QUERY STRING, pretoze ROUTE VARIABLE NEBOLA DEFINOVANA a je OPTIONAL. -->
			Go to [<a href="http://localhost:50000/ModelBinding/ShowName?ID=1">/ModelBinding/ShowName?ID=1 !</a>] !
			<br/>
			<!-- !!! VALUE VARIABLE 'ID' sa nacita z ROUTE VARIABLE, pretoze ROUTE VARIABLES maju PREDNOST pred QUERY STRINGS. Preto sa nacita CHILD s ID=2, a NIE s ID=1. -->
			Go to [<a href="http://localhost:50000/ModelBinding/ShowName/2?ID=1">/ModelBinding/ShowName/2?ID=1 !</a>] !
			<br/>
			<!-- !!! Pretoze VALUE VARIABLE 'ID' NEOBSAHUJE ani ROUTE VARIABLE, ani QUERY STRING, tak ASP.NET VYVOLA ACTION METHOD, pricom za VARIABLE 'ID' dosadi DEFAULT VALUE ID=0. -->
			Go to [<a href="http://localhost:50000/ModelBinding/ShowName">/ModelBinding/ShowName !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! VALUE VARIABLE 'ID' sa nacita z ROUTE VARIABLE. -->
			Go to [<a href="http://localhost:50000/SimpleTypesBinding/ShowName/1">/SimpleTypesBinding/ShowName/1 !</a>] !
			<br/>
			<!-- !!! Pretoze VALUE VARIABLE 'ID' NEOBSAHUJE ani ROUTE VARIABLE, ani QUERY STRING, tak ASP.NET VYVOLA ACTION METHOD, pricom za VARIABLE 'ID' dosadi DEFAULT VALUE ID=null. -->
			Go to [<a href="http://localhost:50000/SimpleTypesBinding/ShowName">/SimpleTypesBinding/ShowName !</a>] !
			<br/>
			<!-- !!! Spusti RAZOR PAGE FORM, ktory vykonava BINDING SIMPLE TYPES. -->
			Go to [<a href="http://localhost:50000/PageBindSimpleType">BIND SIMPLE TYPES using RAZOR PAGE !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Spusti FORM, ktory umoznuje pridat novy COMPLEX TYPE OBJECT. -->
			Go to [<a href="http://localhost:50000/ComplexTypesBinding/AddName">Add CHILD COMPLEX TYPE !</a>] !
			<br/>
			<!-- !!! Prida sa HARD CODED COMPLEX OBJECT, ktory obsahuje iny COMPLEX OBJECT (CChildAddress), ktory je nastaveny na NULL. -->
			Go to [<a href="http://localhost:50000/ComplexTypesBinding/AddNameWithoutAddress">Add CHILD COMPLEXT TYPE with NULL CHILD ADDRES COMPLEX TYPE !</a>] !
			<br/>
			<!-- !!! Spusti RAZOR PAGE FORM, ktory umoznuje pridat novy COMPLEX TYPE OBJECT. -->
			Go to [<a href="http://localhost:50000/PageBindComplexType">Add CHILD COMPLEX TYPE using RAZOR PAGE !</a>] !
			<br/>
			<!-- !!! Spusti RAZOR PAGE FORM, ktory umoznuje pridat novy COMPLEX TYPE OBJECT s vyuzitim BIND PROPERTY. -->
			Go to [<a href="http://localhost:50000/PageBindComplexTypeWithBindProperty">Add CHILD COMPLEX TYPE with BIND PROPERTY using RAZOR PAGE !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Spusti FORM, ktory mapuje PROPERTIES COMPLEX TYPE 'CChild' na PROPERTIES COMPLEX TYPE 'CSuperChild'. -->
			Go to [<a href="http://localhost:50000/BindAttribute1/EditChild">Use BINDING MAPPING !</a>] !
			<br/>
			<!-- !!! Spusti FORM, ktory mapuje PROPERTIES COMPLEX TYPE 'CChild' na PROPERTIES COMPLEX TYPE 'CSuperChild', pricom vsak z CLASS 'CSuperChildAddress' mapuje IBA PROPERTY 'CSuperChildAddress.City'. -->
			Go to [<a href="http://localhost:50000/BindAttribute2/EditChild">Use BINDING MAPPING with SELECTED PROPERTIES !</a>] !
			<br/>
			<!-- !!! Spusti FORM, ktory zasiela PROPERTIES COMPLEX TYPE 'CChildBind', pricom na PROPERTIES su aplikovane ATTRIBUTE [BindRequiredAttribute] a ATTRIBUTE [BindNeverAttribute]. -->
			Go to [<a href="http://localhost:50000/BindAttribute3/EditChild">Use BINDING MAPPING with EXPLICIT PROPERTY BINDING !</a>] !
			<br/>
			<!-- !!! Spusti RAZOR PAGE FORM, ktory umoznuje pridat novy NESTED COMPLEX TYPE OBJECT. -->
			Go to [<a href="http://localhost:50000/PageBindNestedComplexType">Add CHILD NESTED COMPLEX TYPE using RAZOR PAGE !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Spusti FORM, ktory mapuje ARRAY SIMPLE TYPES. -->
			Go to [<a href="http://localhost:50000/SimpleTypeArrayBinding/EditNames">Map ARRAY of SIMPLE TYPES !</a>] !
			<br/>
			<!-- !!! Spusti RAZOR PAGE FORM, ktory mapuje ARRAY SIMPLE TYPES. -->
			Go to [<a href="http://localhost:50000/PageSimpleTypeArrayBinding">Map ARRAY of SIMPLE TYPES using RAZOR PAGE !</a>] !
			<br/>
			<!-- !!! Spusti FORM, ktory mapuje ARRAY SIMPLE TYPES s nastavenymi INDEXES. -->
			Go to [<a href="http://localhost:50000/SimpleTypeArrayBinding/EditIndexedNames">Map INDEXED ARRAY of SIMPLE TYPES !</a>] !
			<br/>
			<!-- !!! Spusti RAZOR PAGE FORM, ktory mapuje ARRAY SIMPLE TYPES s nastavenymi INDEXES. -->
			Go to [<a href="http://localhost:50000/PageIndexedSimpleTypeArrayBinding">Map INDEXED ARRAY of SIMPLE TYPES using RAZOR PAGE !</a>] !
			<br/>
			<!-- !!! Spusti FORM, ktory mapuje COLLECTION SIMPLE TYPES. -->
			Go to [<a href="http://localhost:50000/SimpleTypeCollectionBinding/EditNames">Map COLLECTION of SIMPLE TYPES !</a>] !
			<br/>
			<!-- !!! Spusti RAZOR PAGE, ktory mapuje COLLECTION SIMPLE TYPES. -->
			Go to [<a href="http://localhost:50000/PageSimpleTypeCollectionBinding">Map COLLECTION of SIMPLE TYPES using RAZOR PAGE !</a>] !
			<br/>
			<!-- !!! Spusti FORM, ktory mapuje DICTIONARY SIMPLE TYPES. -->
			Go to [<a href="http://localhost:50000/SimpleTypeDictionaryBinding/EditDictionaryNames">Map DICTIONARY of SIMPLE TYPES !</a>] !
			<br/>
			<!-- !!! Spusti RAZOR PAGE, ktory mapuje DICTIONARY SIMPLE TYPES. -->
			Go to [<a href="http://localhost:50000/PageSimpleTypeDictionaryBinding">Map DICTIONARY of SIMPLE TYPES using RAZOR PAGE !</a>] !
			<br/>
			<!-- !!! Spusti FORM, ktory mapuje ARRAY COMPLEX TYPES. -->
			Go to [<a href="http://localhost:50000/ComplexTypeArrayBinding/EditSimpleChildren">Map ARRAY of COMPLEX TYPES !</a>] !
			<br/>
			<!-- !!! Spusti RAZOR PAGE FORM, ktory mapuje ARRAY COMPLEX TYPES. -->
			Go to [<a href="http://localhost:50000/PageComplexTypeArrayBinding">Map ARRAY of COMPLEX TYPES using RAZOR PAGE !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! VALUE VARIABLE 'ID' sa nacita z ROUTE VARIABLE. -->
			Go to [<a href="http://localhost:50000/ModelBindingSource/ShowName1/1?ID=2">PARAMETER MAPPED to ROUTE VARIABLE !</a>] !
			<br/>
			<!-- !!! VALUE VARIABLE 'ID' sa nacita z QUERY STRING VARIABLE. -->
			Go to [<a href="http://localhost:50000/ModelBindingSource/ShowName2/1?ID=2">PARAMETER MAPPED to QUERY STRING VARIABLE !</a>] !
			<br/>
			<!-- !!! VALUE PARAMETER ACTION METHOD sa nacita z HTTP REQUEST HEADER. -->
			Go to [<a href="http://localhost:50000/ModelBindingSource/ShowHeader">PARAMETER MAPPED to HTTP REQUEST HEADER !</a>] !
			<br/>
			<!-- !!! PROPERTIES COMPLEX sa nacitaju z rozlicnych BINDING SOURCES. -->
			Go to [<a href="http://localhost:50000/ModelBindingSource/MultiSourceBinding/100?Name=Timmy">COMPLEX TYPE PROPERTIES are MAPPED to DIFFERENT BINDING SOURCES !</a>] !
			<br/>
			<!-- !!! VALUE PARAMETER ACTION METHOD sa nacita z HTTP REQUEST BODY. -->
			Go to [<a href="http://localhost:50000/ModelBindingSource/BindFromBodySendPost">PARAMETER MAPPED to HTTP REQUEST BODY !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Spusti FORM, ktory vykona MANUAL BINDING. -->
			Go to [<a href="http://localhost:50000/ManualBinding/AddName">Execute MANUAL BINDING !</a>] !
			<br/>
			<!-- !!! Spusti RAZOR PAGE FORM, ktory vykona MANUAL BINDING. -->
			Go to [<a href="http://localhost:50000/PageManualBinding">Execute MANUAL BINDING using RAZOR PAGE !</a>] !
		</div>
	</div>
</body>
</html>