@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- Pouzije sa ENDPOINT 'CStaticRoute1Endpoint' pretoze ten je mapovany na URL [STATIC_ROUTE_1]. -->
			Go to [<a href="http://localhost:50000/STATIC_ROUTE_1">STATIC_ROUTE_1 !</a>] !
			<br/>
			<!-- Pouzije sa ENDPOINT 'CStaticRoute2Endpoint' pretoze ten je mapovany na URL [STATIC_ROUTE_2]. -->
			Go to [<a href="http://localhost:50000/STATIC_ROUTE_2">STATIC_ROUTE_2 !</a>] !
			<br/>
			<!-- Pouzije sa FALLBACK ENDPOINT pretoze mapovanie URL [STATIC_ROUTE_3] na ENDPOINT NEEXISTUJE. -->
			Go to [<a href="http://localhost:50000/STATIC_ROUTE_3">STATIC_ROUTE_3 !</a>] !
		</div>

		<!-- Pre tieto URLs sa aplikuje ROUTE [CUSTOM_ROUTE_VARIABLES/{FirstName}/{LastName}]. -->
		<div class="INNER_BOX">
			<!-- Pouzije sa ENDPOINT 'CCustomRouteVariablesEndpoint' pretoze URL ma pozadovane 3 SEGMENTS, ktore ROUTE PATTERN vyzaduje. -->
			Go to [<a href="http://localhost:50000/CUSTOM_ROUTE_VARIABLES/Timmy/Anderson">CUSTOM_ROUTE_VARIABLES/Timmy/Anderson !</a>] !
			<br/>
			<!-- Pouzije sa FALLBACK ENDPOINT pretoze ROUTE vyzaduje PRESNE 3 SEGMENTS. -->
			Go to [<a href="http://localhost:50000/CUSTOM_ROUTE_VARIABLES/Timmy">CUSTOM_ROUTE_VARIABLES/Timmy !</a>] !
			<br/>
			<!-- Pouzije sa FALLBACK ENDPOINT pretoze ROUTE vyzaduje PRESNE 3 SEGMENTS. -->
			Go to [<a href="http://localhost:50000/CUSTOM_ROUTE_VARIABLES/Timmy/Anderson/12">CUSTOM_ROUTE_VARIABLES/Timmy/Anderson/12 !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK spusta VIEW, ktora pouziva CLASS [LinkGenerator] na generovanie OUTGOING URLs. -->
			Go to [<a asp-controller="OutgoingUrls" asp-action="Index">GENERATE OUTGOING URLs !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK odkazuje na AREA 'Admin'. -->
			Go to [<a asp-area="Admin" asp-controller="Home" asp-action="View1">ASP-Area='Admin' ASP-Controller='Home' ASP-Action='View1' !</a>] !
			<br/>
			<!-- !!! LINK odkazuje na AREA 'Admin'. -->
			Go to [<a asp-area="Admin" asp-controller="Home" asp-action="View2">ASP-Area='Admin' ASP-Controller='Home' ASP-Action='View2' !</a>] !
		</div>

		<!-- Pre tieto URLs sa aplikuje ROUTE [MULTIPLE_ROUTE_VARIABLES_IN_ONE_SEGMENT/{FirstName}.{LastName}]. -->
		<div class="INNER_BOX">
			<!-- Pouzije sa ENDPOINT 'CMultipleRouteVariablesInOneSegmentEndpoint' pretoze URL ma pozadovane 2 SEGMENTS, ktore ROUTE PATTERN vyzaduje, pricom 2. SEGMENT obsahuje 2 CUSTOM ROUTE VARIABLES oddelene CHARACTER '.'. -->
			Go to [<a href="http://localhost:50000/MULTIPLE_ROUTE_VARIABLES_IN_ONE_SEGMENT/Timmy.Anderson">MULTIPLE_ROUTE_VARIABLES_IN_ONE_SEGMENT/Timmy.Anderson !</a>] !
			<br/>
			<!-- Pouzije sa FALLBACK ENDPOINT pretoze ROUTE vyzaduje PRESNE 2 SEGMENTS, kde 2. SEGMENT MUSI obsahovat 2 CUSTOM ROUTE VARIABLES oddelene CHARACTER '.'. -->
			Go to [<a href="http://localhost:50000/MULTIPLE_ROUTE_VARIABLES_IN_ONE_SEGMENT/Timmy">MULTIPLE_ROUTE_VARIABLES_IN_ONE_SEGMENT/Timmy !</a>] !
			<br/>
			<!-- Pouzije sa FALLBACK ENDPOINT pretoze ROUTE vyzaduje PRESNE 2 SEGMENTS, kde 2. SEGMENT MUSI obsahovat 2 CUSTOM ROUTE VARIABLES oddelene CHARACTER '.'. -->
			Go to [<a href="http://localhost:50000/MULTIPLE_ROUTE_VARIABLES_IN_ONE_SEGMENT/Timmy.Anderson/12">MULTIPLE_ROUTE_VARIABLES_IN_ONE_SEGMENT/Timmy.Anderson/12 !</a>] !
		</div>

		<!-- Pre tieto URLs sa aplikuje ROUTE [DEFAULT_ROUTE_VARIABLES/{FirstName=XXX}/{LastName=YYY}]. -->
		<div class="INNER_BOX">
			<!-- Aplikuju sa DEFAULT VALUES pre FIRST NAME aj LAST NAME. -->
			Go to [<a href="http://localhost:50000/DEFAULT_ROUTE_VARIABLES/">DEFAULT_ROUTE_VARIABLES !</a>] !
			<br/>
			<!-- Aplikuju sa DEFAULT VALUE pre LAST NAME. -->
			Go to [<a href="http://localhost:50000/DEFAULT_ROUTE_VARIABLES/Timmy">DEFAULT_ROUTE_VARIABLES/Timmy !</a>] !
			<br/>
			<!-- DEFAULT VALUES sa NEAPLIKUJU, kedze obe SEGMENTS su vyplnene. -->
			Go to [<a href="http://localhost:50000/DEFAULT_ROUTE_VARIABLES/Timmy/Anderson">DEFAULT_ROUTE_VARIABLES/Timmy/Anderson !</a>] !
			<br/>
			<!-- Pouzije sa FALLBACK ENDPOINT pretoze ROUTE vyzaduje PRESNE 3 SEGMENTS. -->
			Go to [<a href="http://localhost:50000/DEFAULT_ROUTE_VARIABLES/Timmy/Anderson/12">DEFAULT_ROUTE_VARIABLES/Timmy/Anderson/12 !</a>] !
		</div>

		<!-- Pre tieto URLs sa aplikuje ROUTE [OPTIONAL_ROUTE_VARIABLES/{FirstName?}/{LastName?}]. -->
		<div class="INNER_BOX">
			<!-- Obe OPTIONAL CUSTOM ROUTE VARIABLES budu EMPTY, kedze nie su definovane. -->
			Go to [<a href="http://localhost:50000/OPTIONAL_ROUTE_VARIABLES">OPTIONAL_ROUTE_VARIABLES !</a>] !
			<br/>
			<!-- 2. OPTIONAL CUSTOM ROUTE VARIABLE bude EMPTY, kedze nie je definovana. -->
			Go to [<a href="http://localhost:50000/OPTIONAL_ROUTE_VARIABLES/Timmy">OPTIONAL_ROUTE_VARIABLES/Timmy !</a>] !
			<br/>
			<!-- Obe OPTIONAL CUSTOM ROUTE VARIABLES su naplnene VALUES z URL. -->
			Go to [<a href="http://localhost:50000/OPTIONAL_ROUTE_VARIABLES/Timmy/Anderson">OPTIONAL_ROUTE_VARIABLES/Timmy/Anderson !</a>] !
			<br/>
			<!-- Pouzije sa FALLBACK ENDPOINT pretoze ROUTE vyzaduje PRESNE 3 SEGMENTS. -->
			Go to [<a href="http://localhost:50000/OPTIONAL_ROUTE_VARIABLES/Timmy/Anderson/12">OPTIONAL_ROUTE_VARIABLES/Timmy/Anderson/12 !</a>] !
		</div>

		<!-- Pre tieto URLs sa aplikuje ROUTE [CATCH_ALL_ROUTE_VARIABLE/{FirstName}/{LastName}/{*CatchAll}]. -->
		<div class="INNER_BOX">
			<!-- CATCH ALL VARIABLE je EMPTY, pretoze su nastavene iba prve 2 povinne CUSTOM ROUTE VARIABLES. -->
			Go to [<a href="http://localhost:50000/CATCH_ALL_ROUTE_VARIABLE/Timmy/Anderson">CATCH_ALL_ROUTE_VARIABLE/Timmy/Anderson !</a>] !
			<br/>
			<!-- CATCH ALL VARIABLE je nastavena na VALUE 'Jenny/Thompson/Josh/Hurt'. -->
			Go to [<a href="http://localhost:50000/CATCH_ALL_ROUTE_VARIABLE/Timmy/Anderson/Jenny/Thompson/Josh/Hurt">CATCH_ALL_ROUTE_VARIABLE/Timmy/Anderson/Jenny/Thompson/Josh/Hurt !</a>] !
		</div>

		<!-- Pre tieto URLs sa aplikuje ROUTE [CONSTRAINTS_1/{FirstName:alpha}/{LastName:alpha}/{Age:int}]. -->
		<div class="INNER_BOX">
			<!-- CUSTOM ROUTE VARIABLE 'FirstName' je nastaveny na VALUE 'Timmy' a CUSTOM ROUTE VARIABLE 'LastName' je nastaveny na VALUE 'Anderson'. CUSTOM ROUTE VARIABLE 'Age' je nastaveny na VALUE '12'. -->
			Go to [<a href="http://localhost:50000/CONSTRAINTS_1/Timmy/Anderson/12">CONSTRAINTS_1/Timmy/Anderson/12 !</a>] !
			<br/>
			<!-- Pouzije sa FALLBACK ENDPOINT, pretoze CUSTOM ROUTE VARIABLE 'Age' NEOBSAHUJE VALUE TYPU INTEGER. -->
			Go to [<a href="http://localhost:50000/CONSTRAINTS_1/Timmy/Anderson/XYZ">CONSTRAINTS_1/Timmy/Anderson/XYZ !</a>] !
			<br/>
		</div>

		<!-- Pre tieto URLs sa aplikuje ROUTE [CONSTRAINTS_2/{FirstName:alpha:regex(^Jenny$|^Timmy$)}/{LastName:alpha}/{Age:int}]. -->
		<div class="INNER_BOX">
			<!-- CUSTOM ROUTE VARIABLE 'FirstName' je nastaveny na VALUE 'Timmy' a CUSTOM ROUTE VARIABLE 'LastName' je nastaveny na VALUE 'Anderson'. CUSTOM ROUTE VARIABLE 'Age' je nastaveny na VALUE '12'. -->
			Go to [<a href="http://localhost:50000/CONSTRAINTS_2/Timmy/Anderson/12">CONSTRAINTS_2/Timmy/Anderson/12 !</a>] !
			<br/>
			<!-- CUSTOM ROUTE VARIABLE 'FirstName' je nastaveny na VALUE 'Jenny' a CUSTOM ROUTE VARIABLE 'LastName' je nastaveny na VALUE 'Thompson'. CUSTOM ROUTE VARIABLE 'Age' je nastaveny na VALUE '13'. -->
			Go to [<a href="http://localhost:50000/CONSTRAINTS_2/Jenny/Thompson/13">CONSTRAINTS_2/Jenny/Anderson/13 !</a>] !
			<br/>
			<!-- Pouzije sa FALLBACK ENDPOINT, pretoze CUSTOM ROUTE VARIABLE 'Age' NEOBSAHUJE VALUE TYPU INTEGER. -->
			Go to [<a href="http://localhost:50000/CONSTRAINTS_2/Timmy/Anderson/XYZ">CONSTRAINTS_2/Timmy/Anderson/XYZ !</a>] !
			<br/>
			<!-- Pouzije sa FALLBACK ENDPOINT, pretoze CUSTOM ROUTE VARIABLE 'FirstName' NEOBSAHUJE jednu z povolenych VALUES - VALUE 'Timmy' a VALUE 'Jenny'. -->
			Go to [<a href="http://localhost:50000/CONSTRAINTS_2/Josh/Hurt/12">CONSTRAINTS_2/Josh/Hurt/12 !</a>] !
			<br/>
		</div>

		<!-- Pre tieto URLs sa aplikuje ROUTE [CONSTRAINTS_3/{FirstName:alpha}/{LastName:alpha}/{Age:range(10,15)}]. -->
		<div class="INNER_BOX">
			<!-- CUSTOM ROUTE VARIABLE 'FirstName' je nastaveny na VALUE 'Timmy' a CUSTOM ROUTE VARIABLE 'LastName' je nastaveny na VALUE 'Anderson'. CUSTOM ROUTE VARIABLE 'Age' je nastaveny na VALUE '12'. -->
			Go to [<a href="http://localhost:50000/CONSTRAINTS_3/Timmy/Anderson/12">CONSTRAINTS_3/Timmy/Anderson/12 !</a>] !
			<br/>
			<!-- Pouzije sa FALLBACK ENDPOINT, pretoze CUSTOM ROUTE VARIABLE 'Age' ma VALUE mimo RANGE <10,15>. -->
			Go to [<a href="http://localhost:50000/CONSTRAINTS_3/Timmy/Anderson/18">CONSTRAINTS_3/Timmy/Anderson/18 !</a>] !
			<br/>
		</div>

		<!-- Pre tieto URLs sa aplikuje ROUTE [CONSTRAINTS_4/{FirstName:alpha:maxlength(5)}/{LastName:alpha}/{Age:int}]. -->
		<div class="INNER_BOX">
			<!-- CUSTOM ROUTE VARIABLE 'FirstName' je nastaveny na VALUE 'Timmy' a CUSTOM ROUTE VARIABLE 'LastName' je nastaveny na VALUE 'Anderson'. CUSTOM ROUTE VARIABLE 'Age' je nastaveny na VALUE '12'. -->
			Go to [<a href="http://localhost:50000/CONSTRAINTS_4/Timmy/Anderson/12">CONSTRAINTS_4/Timmy/Anderson/12 !</a>] !
			<br/>
			<!-- Pouzije sa FALLBACK ENDPOINT, pretoze CUSTOM ROUTE VARIABLE 'FirstName' ma VIAC ako 5 CHARACTERS. -->
			Go to [<a href="http://localhost:50000/CONSTRAINTS_4/Timothy/Anderson/12">CONSTRAINTS_4/Timmy/Anderson/12 !</a>] !
			<br/>
		</div>

		<!-- Pre tieto URLs sa aplikuje ROUTE [CUSTOM_CONSTRAINTS/{FirstName:SelectedValuesRouteConstraint(Timmy,Anderson,Jenny,Thompson)}/{LastName:alpha}/{Age:int}]. -->
		<div class="INNER_BOX">
			<!-- CUSTOM ROUTE VARIABLE 'FirstName' je nastaveny na VALUE 'Timmy' a CUSTOM ROUTE VARIABLE 'LastName' je nastaveny na VALUE 'Anderson'. CUSTOM ROUTE VARIABLE 'Age' je nastaveny na VALUE '12'. -->
			Go to [<a href="http://localhost:50000/CUSTOM_CONSTRAINTS/Timmy/Anderson/12">CUSTOM_CONSTRAINTS/Timmy/Anderson/12 !</a>] !
			<br/>
			<!-- Pouzije sa FALLBACK ENDPOINT, pretoze CUSTOM ROUTE VARIABLE 'FirstName' ma VALUE, ktoru nepovoluje CUSTOM CONSTRAINT. -->
			Go to [<a href="http://localhost:50000/CUSTOM_CONSTRAINTS/Josh/Hurt/12">CUSTOM_CONSTRAINTS/Josh/Hurt/12 !</a>] !
			<br/>
		</div>

		<!-- Pre tieto URLs sa aplikuje ROUTE [CONFLICTING_ROUTES/{NumericValue:int}], alebo ROUTE [CONFLICTING_ROUTES/{NumericValue:double}]. -->
		<div class="INNER_BOX">
			<!-- Pouzije sa ROUTE [CONFLICTING_ROUTES/{NumericValue:int}], pretoze aj ked je v KONFLIKTE s ROUTE [CONFLICTING_ROUTES/{NumericValue:double}], tak ma explicitne nastavene SCORE na VALUE 1. -->
			Go to [<a href="http://localhost:50000/CONFLICTING_ROUTES/123">CONFLICTING_ROUTES/123 !</a>] !
			<br/>
			<!-- Pouzije sa ROUTE [CONFLICTING_ROUTES/{NumericValue:double}], pretoze DOUBLE VALUE je mozne aplikovat iba na tuto ROUTE. -->
			Go to [<a href="http://localhost:50000/CONFLICTING_ROUTES/123.456">CONFLICTING_ROUTES/123.456 !</a>] !
			<br/>
		</div>

		<!-- Pre tieto URLs sa aplikuje ROUTE [PLAIN_TEXT]. -->
		<div class="INNER_BOX">
			<!-- Do CONTENT vlozi TEXT MIDDLEWARE COMPONENT 'CCheckEndpointMiddleware'. -->
			Go to [<a href="http://localhost:50000/PLAIN_TEXT">PLAIN_TEXT !</a>] !
			<br/>
		</div>
	</div>
</body>
</html>