<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="SE" address="http://localhost:8080/Vehicles/VehicleReservationService" binding="basicHttpBinding" contract="CustomSchemaHost.ITestService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>