@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW, ktory pouziva ANCHOR TAG HELPER. -->
			Go to [<a asp-controller="UseAnchorTagHelpers" asp-action="UseAnchorAttributes">Show VIEW using ANCHOR TAG HELPER !</a>] !
			<br/>
			<!-- !!! Zobrazi sa RAZOR PAGE, ktory zobrazuje FORM pouzivajuci ANCHOR TAG HELPER. -->
			Go to [<a href="http://localhost:50000/AnchorTagHelperPage">Show RAZOR PAGE using ANCHOR TAG HELPER !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW, ktory pouziva SCRIPT TAG HELPER. -->
			Go to [<a asp-controller="UseScriptTagHelpers" asp-action="UseScriptAttributes">Show VIEW using SCRIPT TAG HELPER !</a>] !
			<br/>
			<!-- !!! Zobrazi sa VIEW, ktory pouziva SCRIPT TAG HELPER, ktory vykonava EXCLUDING niektorych FILES. -->
			Go to [<a asp-controller="UseScriptTagHelpers" asp-action="UseScriptExcluding">Show VIEW using SCRIPT TAG HELPER with SCRIPT EXCLUDING !</a>] !
			<br/>
			<!-- !!! Zobrazi sa VIEW, ktory pouziva SCRIPT TAG HELPER, ktory vykonava pouziva FALLBACK. -->
			Go to [<a asp-controller="UseScriptTagHelpers" asp-action="UseScriptFallback">Show VIEW using SCRIPT TAG HELPER with FALLBACK !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW, ktory pouziva LINK TAG HELPER. -->
			Go to [<a asp-controller="UseLinkTagHelpers" asp-action="UseLinkAttributes">Show VIEW using LINK TAG HELPER !</a>] !
			<br/>
			<!-- !!! Zobrazi sa VIEW, ktory pouziva LINK TAG HELPER, ktory vykonava EXCLUDING niektorych FILES. -->
			Go to [<a asp-controller="UseLinkTagHelpers" asp-action="UseLinkExcluding">Show VIEW using LINK TAG HELPER with LINK EXCLUDING !</a>] !
			<br/>
			<!-- !!! Zobrazi sa VIEW, ktory pouziva LINK TAG HELPER, ktory vykonava pouziva FALLBACK. -->
			Go to [<a asp-controller="UseLinkTagHelpers" asp-action="UseLinkFallback">Show VIEW using LINK TAG HELPER with FALLBACK !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW, ktory pouziva IMAGE TAG HELPER. -->
			Go to [<a asp-controller="UseImageTagHelpers" asp-action="UseImageAttributes">Show VIEW using IMAGE TAG HELPER !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW, ktory pouziva CACHE TAG HELPER. -->
			Go to [<a asp-controller="UseCacheTagHelpers" asp-action="UseCacheAttributes">Show VIEW using CACHE TAG HELPER !</a>] !
			<br />
			<!-- !!! Zobrazi sa VIEW, ktory pouziva CACHE TAG HELPER s VARY BY ATTRIBUTE. -->
			Go to [<a asp-controller="UseCacheTagHelpers" asp-action="UseCacheVaryByAttribute">Show VIEW using CACHE TAG HELPER using VARY BY ATTRIBUTE !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW, ktory pouziva URL RESOLUTION TAG HELPER. -->
			Go to [<a asp-controller="UseUrlResolutionTagHelpers" asp-action="UseUrlResolutionAttributes">Show VIEW using URL RESOLUTION TAG HELPER !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa VIEW, ktory pouziva ENVIRONMENT TAG HELPER. -->
			Go to [<a asp-controller="UseEnvironmentTagHelpers" asp-action="UseEnvironmentAttributes">Show VIEW using ENVIRONMENT TAG HELPER !</a>] !
		</div>
	</div>
</body>
</html>