@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			Go to [<a href="http://localhost:50000/Endpoint1">Use METHOD MIDDLEWARE COMPONENT !</a>]
			<br/>
			Go to [<a href="http://localhost:50000/Endpoint2">Use CLASS MIDDLEWARE COMPONENT !</a>]
			<br/>
			Go to [<a href="http://localhost:50000/Endpoint3">Use SHORTCUT MIDDLEWARE COMPONENT !</a>]
		</div>

		<div class="INNER_BOX">
			Go to [<a href="http://localhost:50000/EndpointBranchA">Use BRANCH A !</a>]
			<br/>
			Go to [<a href="http://localhost:50000/EndpointBranchB">Use BRANCH B !</a>]
			<br/>
			Go to [<a href="http://localhost:50000/EndpointBranchC">Use BRANCH C !</a>]
		</div>

		<div class="INNER_BOX">
			Go to [<a href="http://localhost:50000/TerminalMiddleware">Use TERMINAL MIDDLEWARE COMPONENT !</a>]
		</div>

		<div class="INNER_BOX">
			Go to [<a href="http://localhost:50000/Endpoint4">Use METHOD MIDDLEWARE COMPONENT with CONFIGURATION !</a>]
			<br/>
			Go to [<a href="http://localhost:50000/Endpoint5">Use CLASS MIDDLEWARE COMPONENT with CONFIGURATION !</a>]
		</div>
	</div>
</body>
</html>