@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
				UNCACHED TIME [@DateTime.Now] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! CONTENT HTML ELEMENT [<cache>] je CACHED na 5 sekund. -->
			<cache expires-after="@TimeSpan.FromSeconds(5)">
				EXPIRES-AFTER 5 SECONDS - CACHED TIME [@DateTime.Now] !
			</cache>
		</div>

		<div class="INNER_BOX">
			<!-- !!! CONTENT HTML ELEMENT [<cache>] je CACHED az kym neuplynie ABSOLUTNY CAS. -->
			<cache expires-on="@ViewBag.AbsoluteExpirationTime">
				EXPIRES-ON [@ViewBag.AbsoluteExpirationTime] - CACHED TIME [@DateTime.Now] !
			</cache>
		</div>

		<div class="INNER_BOX">
			<!-- !!! CONTENT HTML ELEMENT [<cache>] je CACHED az kym neuplynie 5 sekund od posledneho dotazu na CACHE RECORD. -->
			<cache expires-sliding="@TimeSpan.FromSeconds(5)">
				EXPIRES-SLIDING 5 SECONDS - CACHED TIME [@DateTime.Now] !
			</cache>
		</div>
	</div>
</body>
</html>