@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
				UNCACHED TIME [@DateTime.Now] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! CONTENT HTML ELEMENT [<cache>] je CACHED, pricom CACHED CONTENT sa uchovava pre kazdu minutu. -->
			<cache vary-by="@DateTime.Now.Minute">
				VARY-BY MINUTE - CACHED TIME [@DateTime.Now] !
			</cache>
		</div>
	</div>
</body>
</html>