@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa HTML PAGE, ktora zobrazi CONFIGURATION VALUES. -->
			Go to [<a href="http://localhost:50000/ShowConfigurationValues">Show CONFIGURATION VALUES !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa HTML PAGE, ktora zobrazi CURRENT ENVIRONMENT. -->
			Go to [<a href="http://localhost:50000/ShowCurrentEnvironment">Show CURRENT ENVIRONMENT !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa HTML PAGE, ktora zobrazi USER SECRETS. -->
			Go to [<a href="http://localhost:50000/ShowUserSecrets">Show USER SECRETS !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa HTML PAGE, ktora vykonava zapis do LOGGER. -->
			Go to [<a href="http://localhost:50000/PerformLogging">Write LOG MESSAGE into LOGGER !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa STATIC FILE z DIRECTORY [StaticFiles1]. -->
			Go to [<a href="http://localhost:50000/Files1/Page1.html">Show HTML PAGE [/Files1/Page1.html] !</a>]
			<br/>
			<!-- !!! Zobrazi sa STATIC FILE z DIRECTORY [StaticFiles2]. -->
			Go to [<a href="http://localhost:50000/Files2/Page2.html">Show HTML PAGE [/Files2/Page2.html] !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa HTML PAGE, ktora pouziva CLIENT SIDE LIBRARY. -->
			Go to [<a href="http://localhost:50000/UsingClientSideLibrary">Show HTML PAGE using CLIENT SIDE LIBRARY !</a>]
		</div>
	</div>
</body>
</html>