<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8000/CConfiguredByAttribute" binding="netTcpBinding" contract="BehaviorsConfigurationHost.IConfiguredByAttribute" name="ClientByAttribute">
      </endpoint>

      <endpoint address="net.tcp://localhost:8000/CConfiguredByCode" binding="netTcpBinding" contract="BehaviorsConfigurationHost.IConfiguredByCode" name="ClientByCode">
      </endpoint>

      <endpoint address="net.tcp://localhost:8000/CConfiguredByConfigFile" binding="netTcpBinding" contract="BehaviorsConfigurationHost.IConfiguredByConfigFile" name="ClientByConfigFile">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>