<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="NoTS" address="http://localhost:8001//NoTransportSession" binding="wsHttpBinding" contract="TransportSessionPerCallService.ISlowContractNoTS" bindingConfiguration="NoTS">
      </endpoint>

      <endpoint name="WithTS" address="http://localhost:8002//WithTransportSession" binding="wsHttpBinding" contract="TransportSessionPerCallService.ISlowContractWithTS" bindingConfiguration="WithTS">
      </endpoint>
    </client>

    <bindings>
      <wsHttpBinding>
        <binding name="NoTS">
          <reliableSession enabled="false" ordered="false"/>
          <security mode="None"/>
        </binding>

        <binding name="WithTS">
          <reliableSession enabled="true" ordered="true"/>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>