@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/dist/css/bootstrap.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<!-- !!! HTML ATTRIBUTES TAG HELPER [FormTagHelper] definuje CONTROLLER a ACTION METHOD, ktora spracuje POSTBACK. -->
		<!-- !!! Je povolena ochrana voci CROSS SITE REQUEST FORGERY. -->
		<form method="post" asp-controller="UseFormTagHelpers" asp-action="UseAntiForgeryCallback" asp-antiforgery="true">
			<div class="form-group">
				<label for="FirstName">First name:</label>
				<input class="form-control" name="FirstName"/>
			</div>

			<div class="form-group">
				<label for="LastName">Last name:</label>
				<input class="form-control" name="LastName"/>
			</div>

			<div class="form-group">
				<label for="Age">Age:</label>
				<input class="form-control" name="Age"/>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Add name</button>
			</div>
		</form>
	</div>
</body>
</html>