<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="DCDelegatesSharedLibrary.CTestService">
        <endpoint address="net.tcp://localhost:8000/Service"
                  binding="netTcpBinding"
                  contract="DCDelegatesSharedLibrary.ITestService">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>