@model CPerson

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<!-- !!!!! BOOTSTRAP sa MUSI nachadzat PRED 'Errors.css', inak sa CSS CLASS 'Errors.css' NEAPLIKUJE. -->
	<link rel="stylesheet" href="~/StaticFiles/Styles/Errors.css" />
	<title>Edit Person</title>
</head>
<body>
	<div class="OUTER_BOX">
		<form method="post" asp-action="EditPerson">
			<div class="form-group">
				<!-- !!! V HIDDEN FIELD je ulozene ID, ktore by sa inak neprenieslo. -->
				<input type="hidden" asp-for="ID" />

				<label asp-for="FirstName">First name:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("FirstName")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="FirstName"></span>
					</div>
				}

				<input class="form-control" asp-for="FirstName" />
			</div>

			<div class="form-group">
				<label asp-for="LastName">Last name:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("LastName")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="LastName"></span>
					</div>
				}

				<input class="form-control" asp-for="LastName" />
			</div>

			<div class="form-group">
				<label asp-for="Age">Age:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("Age")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="Age"></span>
					</div>
				}

				<input class="form-control" asp-for="Age" />
			</div>

			<div class="form-group">
				<label asp-for="Sex">Sex:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("Sex")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="Sex"></span>
					</div>
				}

				<select class="form-control" asp-for="Sex" asp-items="@new SelectList(Enum.GetNames(typeof(ESex)))">
				</select>
			</div>

			<div class="form-group">
				<label asp-for="Address.City">City:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("Address.City")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="Address.City"></span>
					</div>
				}

				<input class="form-control" asp-for="Address.City" />
			</div>

			<div class="form-group">
				<label asp-for="Address.Country">Country:</label>

				@if (ViewContext.ModelState!=null && ViewContext.ModelState.GetFieldValidationState("Address.Country")==ModelValidationState.Invalid)
				{
					<div class="ERROR_BOX">
						<span asp-validation-for="Address.Country"></span>
					</div>
				}

				<input class="form-control" asp-for="Address.Country" />
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-sm btn-primary">Edit person</button>
				<a class="btn btn-sm btn-primary" asp-action="ViewPersons">Cancel</a>
			</div>
		</form>
	</div>
</body>
</html>