<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="DefaultBindingHost.CService" behaviorConfiguration="SB">
        <endpoint address="net.tcp://localhost:9005"
                  binding="netTcpBinding"
                  contract="DefaultBindingHost.IService">
        </endpoint>

        <endpoint address="net.tcp://localhost:9106"
                  binding="netTcpBinding"
                  contract="DefaultBindingHost.IService">
        </endpoint>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding>
          <reliableSession enabled="false"/>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SB">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>