<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="DynamicEndpointTestHost.CToUpper"
               behaviorConfiguration="ServiceBehavior">
        <endpoint address="net.tcp://localhost:9000/"
                  binding="netTcpBinding"
                  contract="DynamicEndpointTestHost.IToUpper"
                  behaviorConfiguration="EndpointBehavior">
        </endpoint>

        <!-- Vystavim DISCOVERY ENDPOINT. -->
        <endpoint kind="udpDiscoveryEndpoint"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceDiscovery/>
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <endpointDiscovery enabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>