@page

@model AdvancedBlazorFeatures.Pages.PageCallCSharpStaticMethodFromJavaScriptCodeModel

@{
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Page Call Java Script Code</title>
	<!-- HTML ELEMENT MUSI byt pridany kvoli BLAZOR SERVER. -->
	<base href="~/" />
</head>
<body>
	<div class="OUTER_BOX">
		<!-- !!! Do RAZOR PAGE sa vlozi BLAZOR COMPONENT, ktora vola JAVASCRIPT CODE. -->
		<component type="typeof(AdvancedBlazorFeatures.Blazor.CallCSharpStaticMethodFromJavaScriptCodeComponent)" render-mode="Server" />
	</div>

	<!-- HTML ELEMENT MUSI byt pridany kvoli BLAZOR SERVER. -->
	<!-- !!! FILE obsahuje JAVA SCRIPT FILE potrebny pre BLAZOR. Jeho CONTENT generuje MIDDLEWARE COMPONENT pridany volanim METHOD [IServerSideBlazorBuilder IServiceCollection.AddServerSideBlazor(Action<CircuitOptions> Configure] v STARTUP CLASS. -->
	<script src="_framework/blazor.server.js" ></script>

	<!-- !!! Vlozi sa JAVASCRIPT FILE obsahujuci FUNCTIONS, ktore vola BLAZOR COMPONENT. -->
	<script src="~/StaticFiles/Scripts/PageCallCSharpStaticMethodFromJavaScriptCode.js"></script>
</body>
</html>