<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="TransportSessionPerCallService.CSlowServiceNoTS">
        <endpoint address="http://localhost:8001//NoTransportSession" binding="wsHttpBinding" bindingConfiguration="NoTS" contract="TransportSessionPerCallService.ISlowContractNoTS"/>
      </service>

      <service name="TransportSessionPerCallService.CSlowServiceWithTS">
        <endpoint address="http://localhost:8002//WithTransportSession" binding="wsHttpBinding" bindingConfiguration="WithTS" contract="TransportSessionPerCallService.ISlowContractWithTS"/>
      </service>
    </services>

    <bindings>
      <wsHttpBinding>
        <binding name="NoTS">
          <reliableSession enabled="false" ordered="false"/>
          <security mode="None"/>
        </binding>

        <binding name="WithTS">
          <reliableSession enabled="true" ordered="true"/>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>