<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="DeadLetterQueueReaderHost.CDLQReaderService">
        <endpoint address="net.msmq://localhost/system$;DeadLetter" binding="netMsmqBinding" contract="DeadLetterQueueClient.IDLQTest" bindingConfiguration="BC" name="MS">
        </endpoint>
      </service>
    </services>

    <bindings>
      <!-- !!!!! Ked chcem posielat Message do NETRANSAKCNEJ QUEUE musim nastavit 'exactlyOnce' na FALSE. -->
      <netMsmqBinding>
        <binding name="BC" exactlyOnce="false" durable="true">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>