@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktora zobrazuje vsetkych PERSONS. -->
			Go to [<a href="http://localhost:50000/ViewPersons">View PERSONS !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktora pouziva CUSTOM SELECT BLAZOR COMPONENT. -->
			Go to [<a href="http://localhost:50000/PageCustomSelectComponent">Show CUSTOM SELECT BLAZOR COMPONENT !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktora vykonava EDITING DB RECORD. -->
			Go to [<a href="http://localhost:50000/ErrorViewPersons">View EDITING DB RECORD (ERROR + FIX) !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktora vyuziva SCOPED SERVICES. -->
			Go to [<a href="http://localhost:50000/FixScope1ErrorViewPersons">View BLAZOR COMPONENT using SCOPED SERVICES 1 !</a>] !
			<br/>
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktora vyuziva SCOPED SERVICES. -->
			Go to [<a href="http://localhost:50000/FixScope2ErrorViewPersons">View BLAZOR COMPONENT using SCOPED SERVICES 2 !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! Zobrazi sa BLAZOR COMPONENT, ktora pouziva CUSTOM VALIDATOR. -->
			Go to [<a href="http://localhost:50000/CustomValidatorViewPersons">View BLAZOR COMPONENT using CUSTOM VALIDATOR BLAZOR COMPONENT !</a>] !
		</div>
	</div>
</body>
</html>