@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			Go to [<a asp-page="/PageViewChildrenParentChild">Use BLAZOR COMPONENT - VIEW CHILDREN PARENT CHILD !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! BLAZOR COMPONENT demonstruje rozdiel medzi EVENTS pomocou TYPE [Action] a EVENTS pomocou TYPE [EventCallback]. -->
			Go to [<a asp-page="/PageEventCallback">Use BLAZOR COMPONENT - DIFFERENT EVENTS !</a>] !
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-page="/PageParametersFromRazorPage">Use BLAZOR COMPONENT - PARAMETERS FROM RAZOR PAGE !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! RAZOR PAGE demonstruje CHILD BLAZOR COMPONENT, ktora definuje CUSTOM BINDING. -->
			Go to [<a asp-page="/PageCustomBinding">Use BLAZOR COMPONENT - CUSTOM BINDING !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! RAZOR PAGE demonstruje WRAPPER COMPONENT v BLAZOR FRAMEWORK. -->
			Go to [<a asp-page="/PageWrapper">Use BLAZOR COMPONENT - WRAPPER COMPONENT !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! RAZOR PAGE demonstruje BLAZOR COMPONENT pouzivajuci KEYS pre HTML ELEMENTS. -->
			Go to [<a asp-page="/PageElementsWithKeys">Use BLAZOR COMPONENT - ELEMENTS WITH KEYS !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! RAZOR PAGE demonstruje BLAZOR COMPONENT, ktora definuje SECTIONS. -->
			Go to [<a asp-page="/PageTemplateSections">Use BLAZOR COMPONENT - TEMPLATE SECTIONS !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! RAZOR PAGE demonstruje BLAZOR COMPONENT, ktora definuje SECTIONS s GENERIC TYPE PARAMETER. -->
			Go to [<a asp-page="/PageGenericTypeParameter">Use BLAZOR COMPONENT - TEMPLATE SECTIONS with GENERIC TYPE PARAMETER !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! RAZOR PAGE demonstruje BLAZOR COMPONENT, ktora definuje SECTIONS s GENERIC TYPE PARAMETER. -->
			Go to [<a asp-page="/PageExtendedGenericTypeParameter">Use BLAZOR COMPONENT - TEMPLATE SECTIONS with GENERIC TYPE PARAMETER (EXTENDED) !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! RAZOR PAGE demonstruje BLAZOR COMPONENT, ktora pouziva CASCADING PARAMETERS. -->
			Go to [<a asp-page="/PageCascadingParameter">Use BLAZOR COMPONENT - CASCADING PARAMETERS !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! RAZOR PAGE demonstruje ERROR HANDLING v BLAZOR FRAMEWORK. -->
			Go to [<a asp-page="/PageBlazorErrorHandling">Use BLAZOR COMPONENT - COUNTER COMPONENT (ERROR HANDLING) !</a>] !
		</div>

		<div class="INNER_BOX">
			<!-- !!! RAZOR PAGE demonstruje vznik UNHANDLED EXCEPTION v BLAZOR FRAMEWORK. -->
			Go to [<a asp-page="/PageUnhandledException">Use BLAZOR COMPONENT - UNHANDLED EXCEPTION (ERROR HANDLING) !</a>] !
		</div>
	</div>
</body>
</html>