<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="SharedLibrary.CMSWindowsService" behaviorConfiguration="SecureBehavior">
        <endpoint address="net.tcp://localhost:8001/Service" binding="netTcpBinding" contract="SharedLibrary.IMSWindowsService" bindingConfiguration="SecureBinding">
        </endpoint>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="SecureBinding">
          <!-- Pouzijem MESSAGE SECURITY. -->
          <security mode="Message">
            <!-- Pouzijem WINDOWS CREDENTIALS. -->
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SecureBehavior">
          <serviceCredentials>
            <!-- !!! DEFINUJEM AUTENTIFIKACIU. -->
            <!-- !!! SERVICE CERTIFICATE NIE JE POTREBNY. -->
            <userNameAuthentication userNamePasswordValidationMode="Windows"/>
          </serviceCredentials>

          <!-- !!! DEFINUJEM AUTHORIZACIU. -->
          <!-- Definujem, ze Credentials sa budu overovat voci ASP.NET ROLE PROVIDER. -->
          <!-- Zaroven definujem aj meno ASP.NET ROLE PROVIDER. -->
          <serviceAuthorization principalPermissionMode="UseWindowsGroups" serviceAuthorizationManagerType="SharedLibrary.CMyLogServiceAuthorizationManager,SharedLibrary">
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>