<?xml version="1.0"?>
<configuration>
  <system.web>
    <roleManager enabled="true" defaultProvider="MyRoleManager">
      <providers>
        <add name="MyRoleManager" type="CertificateCredentialsService.CMyCertificateRoleProvider, CertificateCredentialsService" applicationName="MyApplication"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>