@model CName[]

@{
	// !!! NENASTAVI sa LAYOUT a preto VIEW pouzije nastavenie LAYOUT, ktore bolo vykonane vo FILE [_ViewStart.cshtml].
}

<div class="OUTER_BOX">
	<h4>@ViewBag.Title</h4>

	<table class="table table-bordered table-striped">
		<tr>
			<th>
				ID
			</th>

			<th>
				First name
			</th>

			<th>
				Last name
			</th>

			<th>
				Age
			</th>

			<th>
				Sex
			</th>
		</tr>

		@{
			foreach(CName Name in Model)
			{
				<tr>
					<td>
						[@Name.ID]
					</td>

					<td>
						[@Name.FirstName]
					</td>

					<td>
						[@Name.LastName]
					</td>

					<td>
						[@Name.Age]
					</td>

					<td>
						[@Name.Sex] !
					</td>
				</tr>
			}
		}
	</table>
</div>