@model CName[]

@{
	Layout="_LayoutWithSections";
}

<div class="OUTER_BOX">
	<!-- !!! Definuje sa CUSTOM SECTION 'MY_HEADER'. -->
	@section MY_HEADER
	{
		<b>This is MY HEADER !</b>
	}

	<!-- !!! Definuje sa CUSTOM SECTION 'MY_FOOTER'. -->
	@section MY_FOOTER
	{
		<b>This is MY FOOTER !</b>
	}

	<!-- !!! Definuje sa CUSTOM SECTION 'MY_SUPER_SECTION_1'. -->
	@section MY_SUPER_SECTION_1
	{
		<b>This is MY SUPER SECTION 1 !</b>
	}

	<!-- !!! Definuje sa CUSTOM SECTION 'MY_SUPER_SECTION_2'. -->
	@section MY_SUPER_SECTION_2
	{
		<b>This is MY SUPER SECTION 2 !</b>
	}

	<!-- !!!!! CONTENT, ktory NIE JE definovany v ZIADNEJ SECTION je povazovany sa BODY CONTENT. -->
	<h4>@ViewBag.Title</h4>

	<table class="table table-bordered table-striped">
		<tr>
			<th>
				ID
			</th>

			<th>
				First name
			</th>

			<th>
				Last name
			</th>

			<th>
				Age
			</th>

			<th>
				Sex
			</th>
		</tr>

		@{
			foreach(CName Name in Model)
			{
				<tr>
					<td>
						[@Name.ID]
					</td>

					<td>
						[@Name.FirstName]
					</td>

					<td>
						[@Name.LastName]
					</td>

					<td>
						[@Name.Age]
					</td>

					<td>
						[@Name.Sex] !
					</td>
				</tr>
			}
		}
	</table>
</div>