<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="TCPIBBindingStressTestHost.CToUpperService"
               behaviorConfiguration="ServiceBehavior">
        <endpoint address="net.tcp://localhost:8001/" 
                  binding="netTcpBinding" 
                  contract="TCPIBBindingStressTestHost.IToUpperService"
                  bindingConfiguration="EndpointBinding">
        </endpoint>
        
        <endpoint address="net.tcp://localhost:8002/"
                  binding="netTcpBinding"
                  contract="TCPIBBindingStressTestHost.IToUpperService"
                  bindingConfiguration="EndpointBinding">
        </endpoint>
        
        <endpoint address="net.tcp://localhost:8003/"
                  binding="netTcpBinding"
                  contract="TCPIBBindingStressTestHost.IToUpperService"
                  bindingConfiguration="EndpointBinding">
        </endpoint>
        
        <endpoint address="net.tcp://localhost:8004/"
                  binding="netTcpBinding"
                  contract="TCPIBBindingStressTestHost.IToUpperService"
                  bindingConfiguration="EndpointBinding">
        </endpoint>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="EndpointBinding">
          <security mode="Message">
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <serviceCertificate findValue="ZEUS2"
                                storeLocation="LocalMachine"
                                storeName="TrustedPeople"
                                x509FindType="FindBySubjectName"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>