@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="bg-primary text-white text-center p-2">
			HELLO WORLD !
		</div>
	</div>
</body>
</html>