@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			Go to [<a asp-controller="Blazor" asp-action="ViewChildren">Show BLAZOR COMPONENT in VIEW !</a>] !
			<br/>
			Go to [<a asp-page="/PageViewChildren">Show BLAZOR COMPONENT in RAZOR VIEW !</a>] !
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-page="/PageCounter">Use BLAZOR COMPONENT - COUNTER !</a>] !
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-page="/PageLambdaExpression1">Use BLAZOR COMPONENT - LAMBDA EXPRESSION 1 !</a>] !
			<br/>
			Go to [<a asp-page="/PageLambdaExpression2">Use BLAZOR COMPONENT - LAMBDA EXPRESSION 2 !</a>] !
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-page="/PagePreventDefault">Use BLAZOR COMPONENT - PREVENT DEFAULT !</a>] !
			<br/>
			Go to [<a asp-page="/PageStopPropagation">Use BLAZOR COMPONENT - STOP PROPAGATION !</a>] !
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-page="/PageManualBinding">Use BLAZOR COMPONENT - MANUAL BINDING !</a>] !
			<br/>
			Go to [<a asp-page="/PageDefaultBinding">Use BLAZOR COMPONENT - DEFAULT BINDING !</a>] !
			<br/>
			Go to [<a asp-page="/PageCustomBinding">Use BLAZOR COMPONENT - CUSTOM BINDING !</a>] !
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-page="/PageDateTimeFormat">Use BLAZOR COMPONENT - DATE TIME FORMAT !</a>] !
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-page="/PagePartialCounter">Use BLAZOR COMPONENT - PARTIAL COUNTER !</a>] !
		</div>

		<div class="INNER_BOX">
			Go to [<a asp-page="/PageJustInCodeCounter">Use BLAZOR COMPONENT - JUST IN CODE COUNTER !</a>] !
		</div>
	</div>
</body>
</html>