@page "/CustomValidatorEditPerson/{ID:int}"

<div class="OUTER_BOX">
	<!-- !!! V BLAZOR COMPONENTS sa INPUT BLAZOR COMPONENTS definuju ako CHILD BLAZOR COMPONENTS BLAZOR COMPONENT [EditForm]. -->
	<!-- !!!!! BLAZOR COMPONENT [EditForm] vykonava VALIDATION a vyvolava EVENTS na zaklade toho ci VALIDATION presla, alebo zlyhala. -->
	<EditForm Model="Person" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
		<!-- BLAZOR COMPONENT [DataAnnotationsValidator] vykonava DATA VALIDATION. -->
		<DataAnnotationsValidator />
		<!-- BLAZOR COMPONENT [ValidationSummary] zobrazuje DATA VALIDATION SUMMARY celeho MODEL OBJECT. -->
		<ValidationSummary />

		<!-- !!!!! Prida sa CUSTOM VALIDATOR BLAZOR COMPONENT pre FIRST NAME. -->
		<CustomValidatorComponent FieldName="FirstName" MinimumLength="3"></CustomValidatorComponent>
		<!-- !!!!! Prida sa CUSTOM VALIDATOR BLAZOR COMPONENT pre LAST NAME. -->
		<CustomValidatorComponent FieldName="LastName" MinimumLength="5"></CustomValidatorComponent>

		<div class="form-group">
			<label>First name:</label>
			<!-- BLAZOR COMPONENT [ValidationSummary] vykonava VALIDATION C# PROPERTY. -->
			<ValidationMessage TValue="string" For="(() => Person.FirstName)" />
			<!-- !!! Na zadavanie TEXT VALUES sa pouziva BLAZOR COMPONENT [InputText]. -->
			<InputText class="form-control" @bind-Value="Person.FirstName" />
		</div>

		<div class="form-group">
			<label>Last name:</label>
			<!-- BLAZOR COMPONENT [ValidationSummary] vykonava VALIDATION C# PROPERTY. -->
			<ValidationMessage TValue="string" For="(() => Person.LastName)" />
			<!-- !!! Na zadavanie TEXT VALUES sa pouziva BLAZOR COMPONENT [InputText]. -->
			<InputText class="form-control" @bind-Value="Person.LastName" />
		</div>

		<div class="form-group">
			<label>Age:</label>
			<!-- BLAZOR COMPONENT [ValidationSummary] vykonava VALIDATION C# PROPERTY. -->
			<ValidationMessage TValue="int" For="(() => Person.Age)" />
			<!-- !!! Na zadavanie NUMERIC VALUES sa pouziva BLAZOR COMPONENT [InputNumber]. -->
			<InputNumber class="form-control" @bind-Value="Person.Age" />
		</div>

		<div class="form-group">
			<label>Sex:</label>
			<!-- BLAZOR COMPONENT [ValidationSummary] vykonava VALIDATION C# PROPERTY. -->
			<ValidationMessage TValue="ESex" For="(() => Person.Sex)" />
			<!-- !!! Na zadavanie COMBOBOX VALUES sa pouziva BLAZOR COMPONENT [InputSelect]. -->
			<InputSelect class="form-control" @bind-Value="Person.Sex">
				@foreach (ESex Value in Enum.GetValues(typeof(ESex)))
				{
					<option value="@Value">@Value</option>
				}
			</InputSelect>
		</div>

		<div class="form-group">
			<!-- !!!!! Pouzije sa CUSTOM VALIDATION BUTTON BLAZOR COMPONENT. -->
			<!-- !!! EVENT [onsubmit] SUBMIT BUTTON je zachyteny BLAZOR COMPONENT [EditForm] a je vykonana DATA VALIDATION. -->
			<CustomValidatorButtonComponent type="submit">Edit person</CustomValidatorButtonComponent>
			<NavLink class="btn btn-primary" href="/CustomValidatorViewPersons">Cancel</NavLink>
		</div>
	</EditForm>
</div>