<div class="INNER_BOX">
	<label>Select Sex:</label>
	<!-- !!!!! CUSTOM SELECT COMPONENT MUSI byt obalena BLAZOR COMPONENT [EditForm], inak dojde k EXCEPTION. -->
	<EditForm Model="SelectedValue">
		<!-- !!! Pouzije sa CUSTOM SELECT COMPONENT. -->
		<CustomSelectComponent TValue="ESex" Values="Values" Parser="Parser" @bind-Value="SelectedValue"></CustomSelectComponent>
	</EditForm>

	SELECTED VALUE [@SelectedValue] !
</div>