<!-- !!! CUSTOM SELECT COMPONENT ma TYPE PARAMETER 'TValue'. -->
@typeparam TValue
<!-- !!! CUSTOM SELECT COMPONENT je DERIVED z CLASS [InputBase<TValue>]. -->
@inherits InputBase<TValue>

<!-- !!! PROPERTY [CssClass] je pridana najma kvoli VALIDATION, kedze pri vzniku ERROR sa zmeni hodnota tejto PROPERTY. -->
<!-- !!! PROPERTY [CurrentValueAsString] obsahuje CURRENT VALUE, ktora je SELECTED v COMBOBOX. -->
<!-- !!! Pri zmene VALUE COMBOBOX sa vola C# METHOD OnChangeValue(). -->
<select class="form-control @CssClass" value="@CurrentValueAsString" @onchange="OnChangeValue">
	@ChildContent

	@foreach (KeyValuePair<string,TValue> KeyValuePair in Values)
	{
		<option value="@KeyValuePair.Value">@KeyValuePair.Key</option>
	}
</select>