<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="Test1"
                address="net.tcp://localhost:9005"
                binding="netTcpBinding"
                contract="DefaultBindingHost.IService"
                bindingConfiguration="NoDefaultBinding">
      </endpoint>

      <endpoint name="Test2" 
                address="net.tcp://localhost:9106"
                binding="netTcpBinding"
                contract="DefaultBindingHost.IService">
      </endpoint>
    </client>
    
    <bindings>
      <netTcpBinding>
        <!-- NON-DEFAULT binding, ktory ZABRANI APLIKACII DEFAULT BINDING. -->
        <binding name="NoDefaultBinding">
          <security mode="Transport"/>
          <reliableSession enabled="false"/>
        </binding>

        <!-- DEFAULT binding, ktory sa aplikuje AUTOMATICKY, ak nie je urceny iny nazov BINING. -->
        <binding>
          <security mode="None"/>
          <reliableSession enabled="false"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>