<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>

      <!-- IDE BEZ PROBLEMOV. -->
      <service name="MultiEndpoints.CTextService">
        <endpoint address="net.tcp://localhost:8001/" binding="netTcpBinding" contract="MultiEndpoints.IToUpperService">
        </endpoint>

        <endpoint address="net.tcp://localhost:8001/ABC" binding="netTcpBinding" contract="MultiEndpoints.IToLowerService">
        </endpoint>
      </service>

      <!-- IDE BEZ PROBLEMOV. -->
      <!--
      <service name="MultiEndpoints.CTextService">
        <endpoint address="net.tcp://localhost:8001/"
                  binding="netTcpBinding"
                  contract="MultiEndpoints.IToUpperService">
        </endpoint>

        <endpoint address="net.tcp://localhost:8001/"
                  binding="netTcpBinding"
                  contract="MultiEndpoints.IToLowerService">
        </endpoint>
      </service>
      -->

      <!-- IDE BEZ PROBLEMOV. -->
      <!--
      <service name="MultiEndpoints.CTextService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8001/"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="MultiEndpoints.IToUpperService">
        </endpoint>
        
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="MultiEndpoints.IToLowerService">
        </endpoint>
      </service>
      -->
    </services>
  </system.serviceModel>
</configuration>