@page "/admin"

@model RealApplication4.Blazor.IndexModel

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Sports Store Admin</title>
	<link rel="stylesheet" href="/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
    <base href="/" />
</head>
<body>
	<div class="OUTER_BOX">
		<component type="typeof(RealApplication4.Blazor.Routed)" render-mode="Server" />
		<script src="/_framework/blazor.server.js"></script>
	</div>
</body>
</html>