@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<link rel="stylesheet" href="~/StaticFiles/ClientLibraries/Bootstrap/css/bootstrap.css" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<!-- !!! Na toto miesto sa vlozi VIEW, ktory pouziva tento LAYOUT. -->
	@RenderBody()
</body>
</html>