<!-- !!! FILE obsahuje TYPED PARTIAL VIEW. -->

@model CName[]

<div class="INNER_BOX">
	<table class="table table-bordered table-striped">
		<tr>
			<th>
				ID
			</th>

			<th>
				First name
			</th>

			<th>
				Last name
			</th>

			<th>
				Age
			</th>

			<th>
				Sex
			</th>
		</tr>

		@{
			foreach(CName Name in Model)
			{
				<tr>
					<td>
						[@Name.ID]
					</td>

					<td>
						[@Name.FirstName]
					</td>

					<td>
						[@Name.LastName]
					</td>

					<td>
						[@Name.Age]
					</td>

					<td>
						[@Name.Sex] !
					</td>
				</tr>
			}
		}
	</table>
</div>

<!-- !!! LINKS vyvolaju ACTION METHODS na CURRENT CONTROLLER. -->
<div class="OUTER_BOX">
	Go to [<a asp-action="ShowNames1">Show NAMES 1 !</a>] !
	<br/>
	Go to [<a asp-action="ShowNames2">Show NAMES 2 !</a>] !
</div>