<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="RoutingTestBackupService2.CToLower">
        <endpoint address="net.tcp://localhost:9002/"
                  binding="netTcpBinding"
                  contract="RoutingTestBackupService2.IToLower">  
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>