<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- Meno MUSI MAT POSTFIX ';poison'. -->
      <service name="PoisonMessageReaderService.CPoisonMessageProcessorService">
        <endpoint address="net.msmq://localhost/private/PoisonTest;poison"
                  binding="netMsmqBinding"
                  contract="TestPoisonMessageService.IPoisonMessageContract"
                  bindingConfiguration="BC"
                  name="MS">
        </endpoint>
      </service>
    </services>

    <bindings>
      <netMsmqBinding>
        <binding name="BC">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>