@{
	Layout=null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/StaticFiles/Styles/Styles.css" />
	<title>Index</title>
</head>
<body>
	<div class="OUTER_BOX">
		<div class="INNER_BOX">
			<!-- !!! LINK vola ACTION METHOD CONTROLLER, pre ktory sa robi DEPENDENCY INJECTION. -->
			Go to [<a asp-controller="DependencyInjection" asp-action="MyActionMethod">Using DIFFERENT DEPENDENCY INJECTION CLASSES !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! Vola sa MIDDLEWARE, ktory pouziva SERIVCE. -->
			Go to [<a href="http://localhost:50000/EndpointMiddleware1">Use MIDDLEWARE using SERVICE 1 !</a>]
			<br/>
			<!-- !!! Vola sa MIDDLEWARE, ktory pouziva SERIVCE. -->
			Go to [<a href="http://localhost:50000/EndpointMiddleware2">Use MIDDLEWARE using SERVICE 2 !</a>]
			<br/>
			<!-- !!! Vola sa MIDDLEWARE, ktory pouziva SERIVCE. -->
			Go to [<a href="http://localhost:50000/EndpointMiddleware3">Use MIDDLEWARE using SERVICE 3 !</a>]
			<br/>
			<!-- !!! Vola sa MIDDLEWARE, ktory pouziva SERIVCE. -->
			Go to [<a href="http://localhost:50000/EndpointMiddleware4">Use MIDDLEWARE using SERVICE 4 !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! Vola sa MIDDLEWARE, ktory pouziva ACTIVATOR na vytvorenie instancie CLASS pouzivajucej SERVICES. -->
			Go to [<a href="http://localhost:50000/EndpointMiddleware5">Use MIDDLEWARE using ACTIVATOR CLASS !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! ACTION METHOD demonstruje TRANSIENT LIFETIME objektov vytvaranych pomocou DEPENDENCY INJECTION. -->
			Go to [<a asp-controller="LifeTimeTransient" asp-action="ShowGuids">Using SERVICE using TRANSIENT LIFETIME !</a>]
			<br/>
			<!-- !!! ACTION METHOD demonstruje SCOPED LIFETIME objektov vytvaranych pomocou DEPENDENCY INJECTION. -->
			Go to [<a asp-controller="LifeTimeScoped" asp-action="ShowGuids">Using SERVICE using SCOPED LIFETIME !</a>]
			<br/>
			<!-- !!! ACTION METHOD demonstruje CUSTOM SCOPED LIFETIME objektov vytvaranych pomocou DEPENDENCY INJECTION. -->
			Go to [<a asp-controller="LifeTimeScopedCustom" asp-action="ShowGuids">Using SERVICE using CUSTOM SCOPED LIFETIME !</a>]
			<br/>
			<!-- !!! ACTION METHOD demonstruje SINGLETON LIFETIME objektov vytvaranych pomocou DEPENDENCY INJECTION. -->
			Go to [<a asp-controller="LifeTimeSingleton" asp-action="ShowGuids">Using SERVICE using SINGLETON LIFETIME !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! ACTION METHOD demonstruje CHANINED SERVICES vytvarane pomocou DEPENDENCY INJECTION. -->
			Go to [<a asp-controller="ChainedServices" asp-action="ShowStrings">Using CHAINED SERVICE !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! LINK vola ACTION METHOD CONTROLLER, pre ktory sa robi DEPENDENCY INJECTION, kde instancie OBJECTS su vytvorene pomocou DELEGATE. -->
			Go to [<a asp-controller="FactoryFunction" asp-action="MyActionMethod">Using SERVICE CREATED by FACTORY FUNCTION !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! ACTION METHOD demonstruje ACTION INJECTION. -->
			Go to [<a asp-controller="ActionInjection" asp-action="MyActionMethod">Using DEPENDENCY INJECTION on ACTION METHOD !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! ACTION METHOD demonstruje PROPERTY INJECTION. -->
			Go to [<a asp-controller="PropertyInjection" asp-action="MyActionMethod">Using DEPENDENCY INJECTION on PROPERTIES !</a>]
		</div>

		<div class="INNER_BOX">
			<!-- !!! ACTION METHOD demonstruje pouzitie SERVICE, ktoru implementuje viacero CLASSES. -->
			Go to [<a asp-controller="MultiImplementationService" asp-action="ShowServicesResults">Using SERVICE implemented by MULTIPLE CLASSES !</a>]
		</div>


		<div class="INNER_BOX">
			<!-- !!! ACTION METHOD demonstruje pouzitie GENERIC SERVICE. -->
			Go to [<a asp-controller="GenericService" asp-action="ShowValues">Using GENERIC SERVICE !</a>]
		</div>
	</div>
</body>
</html>